/** @define DashboardGraphs */

@import "../../shared/branding/colors.less";

.DashboardGraphs {
    margin-top: 20px;
    border: solid 1px #e1e1e1;
    border-radius: 5px;
    background-color: #ffffff;
    padding-top:20px;
    padding-left: 20px;
    padding-right: 20px;
}

.DashboardGraphs-headerSection{
    display: flex;
    // align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.DashboardGraphs-tab {
    color: #b7b7b7;
    background-color: #ffffff;
    font-size: 12px;
    border: 1px solid #e1e1e1;
    height: 30px;
    border-radius: 5px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    transition: background-color 0.2s;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
}

.DashboardGraphs-tab--firstTab {
    width: 90px;
}

.DashboardGraphs-tab--lastTab {
    width:100px;
    margin-right: auto;
}

.DashboardGraphs-tab:hover {
    color: #b7b7b7;
    background-color: #f6f6f6;
    cursor: pointer;
}

.DashboardGraphs-tab:active {
    color: #b7b7b7;
    background-color: #d7d7d7;
    cursor: pointer;
}

.DashboardGraphs-tab:focus {
    color: #b7b7b7;
}

.DashboardGraphs-tab.is-selected {
    color: #ffffff;
    background-color: #d7d7d7;
}

.DashboardGraphs-graphSection {
    display: block;
    flex: 1;
    padding-top:20px;
}

.DashboardGraphs-graphContainer {
    width: 0%;
    display: none;
}

.DashboardGraphs-graphContainer.is-selected {
    width: 100%;
    display: block;
}

.DashboardGraphs-filterLabelIcon{
    color: #d7d7d7;
    font-size: 14px;
    padding-top: 5px;
}

.DashboardGraphs-filterLabel{
    color: #d7d7d7;
    font-size: 12px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 2px;
    text-transform: uppercase;
    padding-top:5px;
}

.DashboardGraphs-graph {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nv-axislabel {
  font-weight: bold !important;
  fill: #b7b7b7 !important;
  font-family: 'Open Sans' !important;
}

.nv-axis text {
   fill: #b7b7b7 !important; //rgb(169, 178, 189);
   font-family: 'Open Sans' !important;
}

.DashboardGraphs-graphToolbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.DashboardGraphs-filterDropdownText {
    flex: initial;
    color: #b7b7b7;
    background-color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    white-space: nowrap;
    padding-right: 10px;
    padding-left: 10px;
    height: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.DashboardGraphs-filterDropdownText:hover {
    color: #b7b7b7;
    background-color: #f6f6f6;
}

.DashboardGraphs-filterIcon{
    color: #d7d7d7;
    font-size: 14px;
    width: 20px;
    padding-left:10px;
    padding-right: 10px;
}

.DashboardGraphs-filterDropdownItems {
    position: fixed;
    left: auto;
    top: auto;
    box-shadow: none;
    text-transform: uppercase;
}

.DashboardGraphs-periodDropdown{
    padding-top:5px;
}

.DashboardGraphs-jobTypeDropdown{
    padding-top:5px;
}

.DashboardGraphs-filterDropdownItems--period {
    margin-left: -42px;
}

.DashboardGraphs-filterDropdownItems--jobType {
    margin-left: -84px;
}

.DashboardGraphs-statusFilters{
    padding-top: 5px;

}

.DashboardGraphs-statusFilter{
    color: #b7b7b7;
    background-color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    padding-right: 10px;
    padding-left: 10px;
    height: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    transition: background-color 0.2s;
    margin-left: 10px;
    line-height:1;
}

.DashboardGraphs-statusFilter:hover{
    cursor: pointer;
    background-color: #f6f6f6;
}

.DashboardGraphs-statusFilter.is-selected {
    color: #ffffff;
    background-color: #d7d7d7;
}

.DashboardGraphs-hostStatusLabel--successful{
    text-anchor: start !important;
}

.DashboardGraphs-hostStatusLabel--failed{
    text-anchor: end !important;
}
