<div class="DashboardGraphs">
    <div class="DashboardGraphs-headerSection">
        <div class="DashboardGraphs-tab DashboardGraphs-tab--firstTab"
            ng-click="toggleGraphStatus('jobStatus')"
            ng-class="{'is-selected': jobStatusSelected }">
            Job Status
        </div>
        <div class="DashboardGraphs-tab DashboardGraphs-tab--lastTab"
            ng-click="toggleGraphStatus('hostStatus')"
            ng-class="{'is-selected': hostStatusSelected }">
            Host Status
        </div>
        <div class="DashboardGraphs-graphToolbar" ng-show="!hostStatusSelected">
            <div class="DashboardGraphs-filterLabel">Period</div>
            <div class="DashboardGraphs-periodDropdown">
                <a id="period-dropdown" role="button"
                data-toggle="dropdown"
                data-target="#"
                href="/page.html"
                class="DashboardGraphs-filterDropdownText">
                    Past Month <i class="fa fa-chevron-down DashboardGraphs-filterIcon"></i>
                </a>

                <ul class="dropdown-menu DashboardGraphs-filterDropdownItems
                    DashboardGraphs-filterDropdownItems--period" role="menu" aria-labelledby="period-dropdown">
                    <li>
                        <a class="n" id="day" >Past 24 Hours </a>
                    </li>
                    <li>
                        <a class="n" id="week">Past Week</a>
                    </li>
                    <li>
                        <a class="n" id="month">Past Month</a>
                    </li>
                </ul>
            </div>
            <div class="DashboardGraphs-filterLabel">Job Type</div>
            <div class="DashboardGraphs-jobTypeDropdown">

                    <a id="type-dropdown" role="button" data-toggle="dropdown" data-target="#" class="DashboardGraphs-filterDropdownText"
                    href="/page.html">
                        All <i class="fa fa-chevron-down DashboardGraphs-filterIcon"></i>
                    </a>

                <ul class="dropdown-menu DashboardGraphs-filterDropdownItems
                    DashboardGraphs-filterDropdownItems--jobType" role="menu" aria-labelledby="type-dropdown">
                    <li>
                        <a class="m" id="all">All</a>
                    </li>
                    <li>
                        <a class="m" id="inv_sync">Inventory Sync</a>
                    </li>
                    <li>
                        <a class="m" id="scm_update">SCM Update</a>
                    </li>
                    <li>
                        <a class="m" id="playbook_run">Playbook Run</a>
                    </li>
                </ul>
            </div>
            <div class="DashboardGraphs-statusFilters">
                <button class="DashboardGraphs-statusFilter DashboardGraphs-statusFilter--jobStatus"
                    ng-click="toggleJobStatusGraph('successful')"
                    ng-class="{'is-selected': isSuccessful }">
                    <i class="fa icon-job-successful DashboardGraphs-statusFilterIcon">
                        </i> Successful
                    </button>
                <button class="DashboardGraphs-statusFilter DashboardGraphs-statusFilter--jobStatus"
                    ng-click="toggleJobStatusGraph('failed')"
                    ng-class="{'is-selected': isFailed }">
                    <i class="fa icon-job-failed DashboardGraphs-statusFilterIcon">
                        </i> Failed
                </button>
            </div>
        </div>
    </div>
    <div class="DashboardGraphs-graphSection">
        <div class="DashboardGraphs-graphContainer" auto-size-module
            graph-type="jobsStatus"
            ng-class="{'is-selected': jobStatusSelected }">
            <job-status-graph class="DashboardGraphs-graph
                DashboardGraphs-graph--jobStatusGraph"
                data="graphData.jobStatus" period="month" job-type="all">
            </job-status-graph>
        </div>
        <div class="DashboardGraphs-graphContainer" auto-size-module
            graph-type="hostStatus"
            ng-class="{'is-selected': hostStatusSelected }">
            <host-status-graph class="DashboardGraphs-graph
                DashboardGraphs-graph--hostStatusGraph"
                data="dashboardData">
            </host-status-graph>
        </div>
    </div>
</div>
