/** @define DashboardGraphs */

@import "../../shared/branding/colors.less";

.DashboardGraphs {
    margin-top: 15px;
    border: solid 1px #a9a9a9;
    border-radius: 4px;
}

.DashboardGraphs-tabSection {
    flex: 1;
    display: flex;
}

.DashboardGraphs-tab {
    flex: 1;
    padding: 10px;
    border-right: solid 1px @disabled-item-border;
    border-bottom: solid 1px @disabled-item-border;
    text-align: center;
    font-size: 20px;
    color: @disabled-item-text;
    background-color: @disabled-item-background;
}

.DashboardGraphs-tab--firstTab {
    border-top-left-radius: 4px;
}

.DashboardGraphs-tab--lastTab {
    border-top-right-radius: 4px;
    border-right: 0;
}

.DashboardGraphs-tab:hover {
    color: #000;
    cursor: pointer;
}

.DashboardGraphs-tab.is-selected {
    background-color: @enabled-item-background;
    color: @enabled-item-text;
    border-bottom: 0;
}

.DashboardGraphs-tab.is-selected:hover {
    cursor: default;
}

.DashboardGraphs-graphSection {
    display: block;
    flex: 1;
}

.DashboardGraphs-graphContainer {
    width: 0%;
    display: none;
}

.DashboardGraphs-graphContainer.is-selected {
    width: 100%;
    display: block;
}

.DashboardGraphs-graph {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 19px;
    padding: 20px;
}

.DashboardGraphs-graphToolbar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 6px;
}

.DashboardGraphs-filterDropdown {
    flex: initial;
    font-size: 12px;
    padding-right: 15px;
}

.DashboardGraphs-filterDropdownItems {
    position: fixed;
    left: auto;
    top: auto;
    box-shadow: none;
}

.DashboardGraphs-filterDropdownItems--period {
    margin-left: -42px;
}

.DashboardGraphs-filterDropdownItems--jobType {
    margin-left: -84px;
}
