// default base colors
@default-interface-txt: #848992;
@default-data-txt:      #161B1F;
@default-icon:          #B7B7B7;
@default-icon-hov:      #D7D7D7; // also selected button
@default-border:        #E8E8E8;
@default-second-border: #E1E1E1;
@default-bg:            #FFFFFF; // also selected btn txt
@default-secondary-bg:  #FCFCFC; // page/input field bg, just adds depth
@default-tertiary-bg:   #FAFAFA; // hover bg, alt-list
@default-err:           #FF5850;
@default-err-hov:       #FF1105;
@default-succ:          #3CB878;
@default-succ-hov:      #60D66F;
@default-link:          #1678C4;
@default-link-hov:      #4498DA;

// layout
@page-bg:               @default-secondary-bg;

// buttons
@btn-bg:                @default-bg;
@btn-bord:              @default-border;
@btn-txt:               @default-interface-txt;
@btn-bg-hov:            @default-tertiary-bg;
@btn-bg-sel:            @default-icon-hov;
@btn-bord-sel:          @default-icon-hov;
@btn-txt-sel:           @default-bg;

// lists
@list-empty-txt:        @default-interface-txt;
@list-header-bord:      @default-bg;
@list-header-bg:        #EBEBEB;
@list-header-txt:       @default-interface-txt;
@list-header-icon:      @default-icon;
@list-item:             @default-data-txt;
@list-item-link:        @default-link;
@list-item-link-hov:    @default-link-hov;
@list-item-bg:          @default-bg;
@list-alt-item-bg:      @default-tertiary-bg;
@list-action-icon:      @default-icon;
@list-actn-bg:          inherit;
@list-actn-bord:        @default-bg;
@list-actn-alt-bg:      @default-tertiary-bg;
@list-actn-alt-bord:    @default-tertiary-bg;
@list-actn-icn-hov:     @default-bg;
@list-actn-bg-hov:      @default-link;
@list-actn-del-bg-hov:  @default-err;
@list-actn-bord-hov:    @default-link;
@list-row-select-bord:  @default-link;
@list-pagin-text:       @default-interface-txt;
@list-pagin-bord:       @default-second-border;
@list-pagin-bord-act:   @default-icon-hov;
@list-pagin-bg-act:     @default-icon-hov;
@list-title-txt:        @default-interface-txt;
@list-title-badge:      @default-icon;
@list-srch-inpt-bg:     @default-secondary-bg;
@list-srch-inpt-txt:    @default-data-txt;
@list-srch-inpt-ph-txt: @default-icon;
@list-srch-inpt-bord:   @default-second-border;
@list-srch-inpt-focus:  @default-link;
@list-srch-btn-icon:    @default-icon;
@list-srch-btn-bg:      @default-bg;
@list-srch-btn-hov-bg:  @default-tertiary-bg;
@list-no-items-txt:     @default-icon;
@list-no-items-bord:    #F6F6F6;
@list-no-items-bg:      @default-secondary-bg;

// tooltups
@tooltip-bg:            @default-interface-txt;
@tooltip-txt:           @default-bg;

// login modal
@login-alert:           @default-interface-txt;
@login-backdrop:        #000000;
@login-bg:              @default-bg;
@login-header-bg:       @default-bg;
@login-alert-error:     @default-err;

// login modal notice
@login-notice-title:    @default-interface-txt;
@login-notice-bg:       @default-secondary-bg;
@login-notice-border:   @default-secondary-bg;
@login-notice-text:     #707070;

// login modal third party auth
@third-party-label:     @default-interface-txt;
@third-party-btn-bg:    @default-bg;
@third-party-btn-hov:   @default-icon-hov;
@third-party-btn-text:  @default-icon;
@third-party-error:     @default-err;
@third-party-error-hov: @default-err-hov;

// forms
@field-label:           @default-interface-txt;
@field-input-text:      @default-data-txt;
@field-bg:              @default-tertiary-bg;
@field-secondary-bg:    @default-secondary-bg;
@field-border:          @default-second-border;
@field-border-sel:      @default-link;
@submit-button-text:    @default-bg;
@submit-button-bg:      @default-succ;
@submit-button-bg-hov:  @default-succ-hov;
@submit-button-bg-dis:  @default-icon-hov;
@code-mirror-gutter:     #F2F2F2;
@radio-bg:              @default-interface-txt;

// footer
@copyright-text:        @default-interface-txt;

// main menu
@menu-bg:               @default-bg;
@menu-btm:              @default-border;
@menu-link-bg:          @default-bg;
@menu-link:             @default-interface-txt;
@menu-link-sides:       @default-bg;
@menu-link-bg-hov:      @default-tertiary-bg;
@menu-link-sides-hov:   @default-tertiary-bg;
@menu-link-btm:         @default-border;
@menu-link-btm-hov:     @default-border;
@menu-link-icon:        @default-icon;

// breadcrumbs
@bc-bg:                 @default-bg;
@bc-text:               @default-interface-txt;
@bc-border:             @default-border;
@bc-link-icon:          @default-icon;
@bc-link-bg-hov:        @default-tertiary-bg;
@bc-link-icon-focus:    @default-link;
@bc-link-side:          @default-border;

// dashboard
@db-panel-bg:           @default-bg;
@db-panel-border:       @default-border;

// dashboard counts
@db-count-succ:         @default-link;
@db-count-fail:         @default-err;
@db-count-label:        @default-interface-txt;
@db-count-label-hov:    @default-bg;

// dashboard graphs
@db-graph-period-label: @default-interface-txt;
@db-graph-per-dd-txt:   @default-interface-txt;
@db-graph-per-dd-icon:  @default-icon;
@db-graph-per-dd-bord:  @default-border;
@db-graph-per-dd-bg:    @default-bg;
@db-graph-per-dd-bg-hov:@default-tertiary-bg;
@db-graph-axis:         @default-border;
@db-graph-axis-label:   @default-interface-txt;

// panel
@panel-bg:        @default-bg;
@panel-border:    @default-border;

// activity stream details modal
@as-detail-changes-txt:  #707070;
