interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://or.deploy6.dev.atix/api/status
  response:
    body:
      string: '{"result":"ok","status":200,"version":"1.21.3","api_version":2}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8ae0d3efe0e232e2a73486dc1f2e0fbb"
      Foreman_api_version:
      - '2'
      Foreman_version:
      - 1.21.3
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://or.deploy6.dev.atix/api/compute_resources?search=name%3D%22libvirt-cr%22&per_page=4294967296
  response:
    body:
      string: "{\n  \"total\": 1,\n  \"subtotal\": 0,\n  \"page\": 1,\n  \"per_page\"\
        : 4294967296,\n  \"search\": \"name=\\\"libvirt-cr\\\"\",\n  \"sort\": {\n\
        \    \"by\": null,\n    \"order\": null\n  },\n  \"results\": []\n}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"7919ec5de24b9b6efc470069e59827f4"
      Foreman_api_version:
      - '2'
      Foreman_version:
      - 1.21.3
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
version: 1
