interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://or.deploy6.dev.atix/api/status
  response:
    body:
      string: '{"result":"ok","status":200,"version":"1.21.3","api_version":2}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8ae0d3efe0e232e2a73486dc1f2e0fbb"
      Foreman_api_version:
      - '2'
      Foreman_version:
      - 1.21.3
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://or.deploy6.dev.atix/api/compute_resources?search=name%3D%22libvirt-cr%22&per_page=4294967296
  response:
    body:
      string: "{\n  \"total\": 2,\n  \"subtotal\": 1,\n  \"page\": 1,\n  \"per_page\"\
        : 4294967296,\n  \"search\": \"name=\\\"libvirt-cr\\\"\",\n  \"sort\": {\n\
        \    \"by\": null,\n    \"order\": null\n  },\n  \"results\": [{\"description\"\
        :\"A compute_resource with an updated description and params\",\"url\":\"\
        qemu+ssh://root@libvirt.example.com/system\",\"created_at\":\"2019-08-07 09:36:14\
        \ UTC\",\"updated_at\":\"2019-08-07 09:36:18 UTC\",\"id\":36,\"name\":\"libvirt-cr\"\
        ,\"provider\":\"Libvirt\",\"provider_friendly_name\":\"Libvirt\",\"display_type\"\
        :\"spice\",\"set_console_password\":true}]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"880a61746893cdbeca1d49186712887e"
      Foreman_api_version:
      - '2'
      Foreman_version:
      - 1.21.3
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://or.deploy6.dev.atix/api/compute_resources/36
  response:
    body:
      string: '{"description":"A compute_resource with an updated description and
        params","url":"qemu+ssh://root@libvirt.example.com/system","created_at":"2019-08-07
        09:36:14 UTC","updated_at":"2019-08-07 09:36:18 UTC","id":36,"name":"libvirt-cr","provider":"Libvirt","provider_friendly_name":"Libvirt","display_type":"spice","set_console_password":true,"images":[],"compute_attributes":[],"locations":[{"id":29,"name":"Test
        Location","title":"Test Location","description":null}],"organizations":[{"id":28,"name":"Test
        Organization","title":"Test Organization","description":"A test organization"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"f7cf86ca0513fbcb251e924cf54c46cc"
      Foreman_api_version:
      - '2'
      Foreman_version:
      - 1.21.3
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://or.deploy6.dev.atix/api/organizations?search=name%3D%22Test+Organization%22&per_page=4294967296
  response:
    body:
      string: "{\n  \"total\": 2,\n  \"subtotal\": 1,\n  \"page\": 1,\n  \"per_page\"\
        : 4294967296,\n  \"search\": \"name=\\\"Test Organization\\\"\",\n  \"sort\"\
        : {\n    \"by\": null,\n    \"order\": null\n  },\n  \"results\": [{\"ancestry\"\
        :null,\"parent_id\":null,\"parent_name\":null,\"created_at\":\"2019-08-07\
        \ 09:36:06 UTC\",\"updated_at\":\"2019-08-07 09:36:06 UTC\",\"id\":28,\"name\"\
        :\"Test Organization\",\"title\":\"Test Organization\",\"description\":\"\
        A test organization\"}]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"0de85668e21677da0f20786bf09acaaa"
      Foreman_api_version:
      - '2'
      Foreman_version:
      - 1.21.3
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://or.deploy6.dev.atix/api/locations?search=title%3D%22Test+Location%22&per_page=4294967296
  response:
    body:
      string: "{\n  \"total\": 2,\n  \"subtotal\": 1,\n  \"page\": 1,\n  \"per_page\"\
        : 4294967296,\n  \"search\": \"title=\\\"Test Location\\\"\",\n  \"sort\"\
        : {\n    \"by\": null,\n    \"order\": null\n  },\n  \"results\": [{\"ancestry\"\
        :null,\"parent_id\":null,\"parent_name\":null,\"created_at\":\"2019-08-07\
        \ 09:36:10 UTC\",\"updated_at\":\"2019-08-07 09:36:10 UTC\",\"id\":29,\"name\"\
        :\"Test Location\",\"title\":\"Test Location\",\"description\":null}]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"f2db052700b6caeae2fb0254e42699c3"
      Foreman_api_version:
      - '2'
      Foreman_version:
      - 1.21.3
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
version: 1
