interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://or.deploy6.dev.atix/api/status
  response:
    body:
      string: '{"result":"ok","status":200,"version":"1.21.3","api_version":2}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8ae0d3efe0e232e2a73486dc1f2e0fbb"
      Foreman_api_version:
      - '2'
      Foreman_version:
      - 1.21.3
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://or.deploy6.dev.atix/api/compute_resources?search=name%3D%22libvirt-cr%22&per_page=4294967296
  response:
    body:
      string: "{\n  \"total\": 2,\n  \"subtotal\": 1,\n  \"page\": 1,\n  \"per_page\"\
        : 4294967296,\n  \"search\": \"name=\\\"libvirt-cr\\\"\",\n  \"sort\": {\n\
        \    \"by\": null,\n    \"order\": null\n  },\n  \"results\": [{\"description\"\
        :\"A compute_resource with an updated description and params\",\"url\":\"\
        qemu+ssh://root@libvirt.example.com/system\",\"created_at\":\"2019-08-07 09:36:14\
        \ UTC\",\"updated_at\":\"2019-08-07 09:36:18 UTC\",\"id\":36,\"name\":\"libvirt-cr\"\
        ,\"provider\":\"Libvirt\",\"provider_friendly_name\":\"Libvirt\",\"display_type\"\
        :\"spice\",\"set_console_password\":true}]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"880a61746893cdbeca1d49186712887e"
      Foreman_api_version:
      - '2'
      Foreman_version:
      - 1.21.3
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://or.deploy6.dev.atix/api/compute_resources/36
  response:
    body:
      string: '{"description":"A compute_resource with an updated description and
        params","url":"qemu+ssh://root@libvirt.example.com/system","created_at":"2019-08-07
        09:36:14 UTC","updated_at":"2019-08-07 09:36:18 UTC","id":36,"name":"libvirt-cr","provider":"Libvirt","provider_friendly_name":"Libvirt","display_type":"spice","set_console_password":true,"images":[],"compute_attributes":[],"locations":[],"organizations":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"2c580fccf40184f20f1bee78bf875bd5"
      Foreman_api_version:
      - '2'
      Foreman_version:
      - 1.21.3
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
version: 1
