interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://or.deploy6.dev.atix/api/status
  response:
    body:
      string: '{"result":"ok","status":200,"version":"1.21.3","api_version":2}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8ae0d3efe0e232e2a73486dc1f2e0fbb"
      Foreman_api_version:
      - '2'
      Foreman_version:
      - 1.21.3
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://or.deploy6.dev.atix/api/hosts?thin=True&search=name%3D%22dave-bracy.proxy6.dev.atix%22&per_page=4294967296
  response:
    body:
      string: "{\n  \"total\": 5,\n  \"subtotal\": 1,\n  \"page\": 1,\n  \"per_page\"\
        : 4294967296,\n  \"search\": \"name=\\\"dave-bracy.proxy6.dev.atix\\\"\",\n\
        \  \"sort\": {\n    \"by\": null,\n    \"order\": null\n  },\n  \"results\"\
        : [{\"id\":40,\"name\":\"dave-bracy.proxy6.dev.atix\"}]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"f8db26e9a1d7154a222118c7eaeee729"
      Foreman_api_version:
      - '2'
      Foreman_version:
      - 1.21.3
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://or.deploy6.dev.atix/api/hosts/40/snapshots
  response:
    body:
      string: "{\n  \"total\": 1,\n  \"subtotal\": 1,\n  \"page\": 1,\n  \"per_page\"\
        : 4294967296,\n  \"search\": \"name=\\\"ansible\\\"\",\n  \"sort\": {\n  \
        \  \"by\": null,\n    \"order\": null\n  },\n  \"results\": [{\"description\"\
        :\"\",\"id\":\"snapshot-10221\",\"name\":\"ansible\",\"created_at\":\"2019-07-30\
        \ 10:40:08 UTC\",\"parent_id\":null,\"children_ids\":[]}]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"dc8c8760eaad76fca41b2f2d9473c825"
      Foreman_api_version:
      - '2'
      Foreman_version:
      - 1.21.3
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://or.deploy6.dev.atix/api/hosts/40/snapshots/snapshot-10221
  response:
    body:
      string: '{"description":"","id":"snapshot-10221","name":"ansible","created_at":"2019-07-30
        10:40:08 UTC","parent_id":null,"children_ids":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"12bfe57c99eb779a402cd2a8615e8c07"
      Foreman_api_version:
      - '2'
      Foreman_version:
      - 1.21.3
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: '{"snapshot": {"description": "alpha"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://or.deploy6.dev.atix/api/hosts/40/snapshots/snapshot-10221
  response:
    body:
      string: '{"description":"alpha","id":"snapshot-10221","name":"ansible","created_at":"2019-07-30
        10:40:08 UTC","parent_id":null,"children_ids":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"ab7114102b7efd0e7bbd568015223a9a"
      Foreman_api_version:
      - '2'
      Foreman_version:
      - 1.21.3
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
version: 1
