interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://or.deploy6.dev.atix/api/status
  response:
    body:
      string: '{"result":"ok","status":200,"version":"1.21.3","api_version":2}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8ae0d3efe0e232e2a73486dc1f2e0fbb"
      Foreman_api_version:
      - '2'
      Foreman_version:
      - 1.21.3
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://or.deploy6.dev.atix/api/hosts?thin=True&search=name%3D%22dave-bracy.proxy6.dev.atix%22&per_page=4294967296
  response:
    body:
      string: "{\n  \"total\": 5,\n  \"subtotal\": 1,\n  \"page\": 1,\n  \"per_page\"\
        : 4294967296,\n  \"search\": \"name=\\\"dave-bracy.proxy6.dev.atix\\\"\",\n\
        \  \"sort\": {\n    \"by\": null,\n    \"order\": null\n  },\n  \"results\"\
        : [{\"id\":40,\"name\":\"dave-bracy.proxy6.dev.atix\"}]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"f8db26e9a1d7154a222118c7eaeee729"
      Foreman_api_version:
      - '2'
      Foreman_version:
      - 1.21.3
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://or.deploy6.dev.atix/api/hosts/40/snapshots
  response:
    body:
      string: "{\n  \"total\": 0,\n  \"subtotal\": 0,\n  \"page\": 1,\n  \"per_page\"\
        : 4294967296,\n  \"search\": \"name=\\\"ansible\\\"\",\n  \"sort\": {\n  \
        \  \"by\": null,\n    \"order\": null\n  },\n  \"results\": []\n}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"a35bfbc5d892da1f1ed4813e0263acd1"
      Foreman_api_version:
      - '2'
      Foreman_version:
      - 1.21.3
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
version: 1
