<div id="form-modal" class="Lookup modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header Form-header">
                <div class="Form-title Form-title--uppercase">{{modalTitle}}</div>
                <!-- optional: transclude header fields -->
                <div class="Form-header--fields"></div>
                <div class="Form-exitHolder">
                    <button aria-label="{{'Close'|translate}}" type="button" class="Form-exit" ng-click="cancelForm()">
                        <i class="fa fa-times-circle"></i>
                    </button>
                </div>
            </div>
            <div class="modal-body" id="form-modal-body">
                <!-- required: transclude generated list html -->
                <!-- see: lookup-modal.directive.js -->
            </div>
            <div class="modal-footer">
                <button ng-click="cancelForm()" class="btn btn-default" translate>Cancel</button>
                <button ng-click="saveForm()" class="Lookup-save btn btn-primary" ng-disabled="!currentSelection || !currentSelection.id" translate>Select</button>
            </div>
        </div>
    </div>
</div>
