.at-c-tabs {
  padding: 0 5px !important;
  margin: 0 -10px !important;

  .at-c-tabs__tab {
    margin: 0 5px;
  }

  .at-c-tabs__tab.at-m-selected {
    text-decoration: underline;
  }
}

.at-c-orgPane {
  a {
    display: block;
  }
}

.pf-c-breadcrumb__item.heading {
  flex: 100%;
  font-size: 20px;
}