<html ng-app="logo">
	<head>
		<title>My AngularJS App</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="colorpicker.css"/>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
		<script src="bootstrap-colorpicker-module.js"></script>
		<script>
			app = angular.module('logo', ['colorpicker.module'])
			app.controller("mainCtrl", function($scope){
			  $scope.c = {
  			  params: {
  			    scaleMid: 0.4,
  			    scaleSmall: 0.3,
  			    colorDark: "#cfa115",
  			    colorLight: "#fad252",
  			    colorMed: "#e8be1f"
  			  }
			  };
			})
			
			//taken from http://plnkr.co/edit/CJ6Q09M9LcHQoucv6NdL?p=preview
			//if you're reading the code, you can pretty much ignore this directive.
			//its job is to help create the interactive json object at the bottom
			app.directive('json', function() {
        return {
          restrict: 'A', // only activate on element attribute
          require: 'ngModel', // get a hold of NgModelController
          link: function(scope, element, attrs, ngModelCtrl) {
            function fromUser(text) {
              // Beware: trim() is not available in old browsers
              if (!text || text.trim() === '')
                return {}
              else
                // TODO catch SyntaxError, and set validation error..
                return angular.fromJson(text);
            }
      
            function toUser(object) {
                // better than JSON.stringify(), because it formats + filters $$hashKey etc.
                return angular.toJson(object, true);
            }
            
            // push() if faster than unshift(), and avail. in IE8 and earlier (unshift isn't)
            ngModelCtrl.$parsers.push(fromUser);
            ngModelCtrl.$formatters.push(toUser);
            
            // $watch(attrs.ngModel) wouldn't work if this directive created a new scope;
            // see http://stackoverflow.com/questions/14693052/watch-ngmodel-from-inside-directive-using-isolate-scope how to do it then
            scope.$watch(attrs.ngModel, function(newValue, oldValue) {
              if (newValue != oldValue) {
                ngModelCtrl.$setViewValue(toUser(newValue));
                // TODO avoid this causing the focus of the input to be lost..
                ngModelCtrl.$render();
              }
            }, true); // MUST use objectEquality (true) here, for some reason..
          }
        };  
      });
		</script>
	</head>
	<body ng-controller="mainCtrl">
		<svg height="450" width="500">
		<g transform="scale(0.6)">
			<g>
				<polygon points="350,0 47,175 350,350 652,175" ng-attr-fill="{{c.params.colorDark}}" />
				<polygon points="47,175 47,525 350,700 350,350" ng-attr-fill="{{c.params.colorLight}}" />
				<polygon points="350,700 652,525 652,175 350,350" ng-attr-fill="{{c.params.colorMed}}" />
			</g>
			<g ng-attr-transform="translate(350, 350) scale({{c.params.scaleMid}}) rotate(180) translate(-350, -350)">
				<polygon points="350,0 47,175 350,350 652,175" ng-attr-fill="{{c.params.colorDark}}" />
				<polygon points="47,175 47,525 350,700 350,350" ng-attr-fill="{{c.params.colorLight}}" />
				<polygon points="350,700 652,525 652,175 350,350" ng-attr-fill="{{c.params.colorMed}}" />
			</g>
			<g ng-attr-transform="translate(350, 350) scale({{c.params.scaleSmall}}) translate(-350, -350)">
				<polygon points="350,0 47,175 350,350 652,175" ng-attr-fill="{{c.params.colorDark}}" />
				<polygon points="47,175 47,525 350,700 350,350" ng-attr-fill="{{c.params.colorLight}}" />
				<polygon points="350,700 652,525 652,175 350,350" ng-attr-fill="{{c.params.colorMed}}" />
			</g>		  
		</g>
		</svg>
		<form role="form" class="form-horizontal">
			<div class="form-group">
			  <button
			    id="light_picker"
  			  colorpicker="rgb" 
  			  type="button" 
  			  colorpicker-position="top" 
  			  class="btn form-control" 
  			  ng-attr-style="background-color: {{c.params.colorLight}}" 
  			  ng-model="c.params.colorLight"
  			>
  			  Light
  			</button>
			</div>
			<div class="form-group">
			  <button
			    id="medium_picker"
  			  colorpicker="rgb" 
  			  type="button" 
  			  colorpicker-position="top" 
  			  class="btn form-control"
  			  ng-attr-style="background-color: {{c.params.colorMed}}" 
  			  ng-model="c.params.colorMed"
  			>
  			  Medium
  			</button>
			</div>
			<div class="form-group">
			  <button
			    id="dark_picker"
  			  colorpicker="rgb" 
  			  type="button" 
  			  colorpicker-position="top" 
  			  class="btn form-control"
  			  ng-attr-style="background-color: {{c.params.colorDark}}" 
  			  ng-model="c.params.colorDark" 
  			>
  			  Dark
  			</button>
			</div>
			<div class="form-group">
			  <input 
			    id="mid_scale" 
			    type="range" 
			    min={{c.params.scaleSmall}} 
			    max=1 
			    step=0.01 
			    ng-model="c.params.scaleMid"
			    class="form-control"
			  />
			</div>
			<div class="form-group">
			  <input 
			    id="small_scale" 
			    type="range" 
			    min=0 
			    max={{c.params.scaleMid}} 
			    step=0.01 
			    ng-model="c.params.scaleSmall"
			    class="form-control"
        />
			</div>
			<div class="form-group">
			  <input json type="text" ng-model="c.params" class="form-control">
			</div>
			</form>
	</body>
</html>