/** @define SetupExtra */

.SetupExtra {
  &-itemTitle {
    font-size: 1.4rem;
    font-weight: bold;
  }
  &-itemDescription {
    font-family: merriweather;
    font-size: 1rem;
    font-weight: lighter;
    font-style: italic;
  }
}
