/** @define SetupMenu */

@import "shared/branding/colors.less";
@menu-breakpoint: 710px;

.SetupMenu {
    width: 100%;
    margin-left: 0;

    @media screen and (max-width: @menu-breakpoint) {
        margin-left: -1rem;
    }
}
