/** @define FactDatum */

.FactDatum {
    &--divergent {
        margin-bottom: 0;
        background-color: #ffb2ae;
        border: none;

        &:hover {
            background-color: #ffb2ae;
            border: none;
        }

        .FactDataTable-column:first-child {
            background-color: #fff;
        }
    }
}
