/** @define FactDataTableHeading */

.FactDataTableHeading {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.25em;
    align-items: center;

    &-host {
        font-size: 0.8em;
        margin-bottom: 3px; // just some breathing room

        &:after {
            font-style: italic;
            content: " scanned on";
            font-family: merriweather;
            font-weight: 200;
            font-size: 0.75em;
        }
    }
    &-date {
        flex-basis: 100%;
    }

    // Override some global styling on h3 tags
    h3 {
        margin: 1em initial;
    }
}
