/** @define FactDataTable */

.FactDataTable {
    &-row, &-headingRow, &-groupHeadingRow {
        display: flex;
    }

    &-row {
      margin-bottom: 0.5em;
      align-items: center;
      transition: background-color 100ms, border-color 100ms;
      max-height: 36px;
      border: solid 1px #fff;
      &:hover {
        background-color: #ebebeb;
        border-color: #adadad;
      }
    }

    &-headingRow {
      border-bottom: 1px solid #adadad;
      margin-bottom: 1.5em;
    }

    &-column {
        padding: 8px;
        flex: 1;
        white-space: nowrap;
        &--offsetLeft {
            margin-left: 33%;
        }
    }
}
