.SystemTrackingContainer {
    display: flex;
    flex-direction: column;

    min-height: 85vh;
    > * {
        flex: 0 0 auto;
    }

    &-main {
        flex: 1 0 auto;
        align-self: stretch;
    }
}
