<section class="SystemTrackingContainer" ng-if="noModuleData">
    <breadcrumbs>
      <breadcrumb path="/inventories" title="Inventories"></breadcrumb>
      <breadcrumb path="/inventories/{{inventory.id}}/manage" title="{{inventory.name}}"></breadcrumb>
      <breadcrumb path="/inventories/{{inventory.id}}/system-tracking/{{hostIds}}" title="System Tracking" current="true"></breadcrumb>
    </breadcrumbs>

    <section class="FactDataError SystemTrackingContainer-main">
        <p class="FactDataError-note--full">
            To setup or run scan jobs, edit the "<a link-to="inventoryEdit" model="{ inventory_id: inventory }">{{inventory.name}}</a>" inventory and select "Scan Jobs Templates."
        </p>
    </section>
</section>
<section class="SystemTrackingContainer" ng-hide="noModuleData">
    <breadcrumbs>
      <breadcrumb path="/inventories" title="Inventories"></breadcrumb>
      <breadcrumb path="/inventories/{{inventory.id}}/manage" title="{{inventory.name}}"></breadcrumb>
      <breadcrumb path="/inventories/{{inventory.id}}/system-tracking/{{hostIds}}" title="System Tracking" current="true"></breadcrumb>
    </breadcrumbs>

    <div class="FactModulePickers">
        <div class="FactModulePickers-dateContainer FactModulePickers-dateContainer--left">
            <span class="FactModulePickers-label">{{ factModulePickersLabelLeft }}</span>
            <date-picker
                date="leftDate"
                input-class='{ "u-input-info-alert": leftDateWarning }'>
            </date-picker>
            <span
                class="FactModulePickers-warning"
                ng-class='{ "u-hiddenVisually": !leftDateWarning, "u-info-alert": leftDateWarning }'>
                There were no fact scans on this date, using a prior scan instead.
            </span>
        </div>
        <div class="FactModulePickers-dateContainer FactModulePickers-dateContainer--right" ng-show="compareMode == 'single-host'">
            <span class="FactModulePickers-label">{{ factModulePickersLabelRight }}</span>
            <date-picker
                date="rightDate"
                min-date="leftDate"
                input-class='{ "u-input-info-alert": rightDateWarning }'>
            </date-picker>
            <span
                class="FactModulePickers-warning"
                ng-class='{ "u-hiddenVisually": !rightDateWarning, "u-info-alert": rightDateWarning }'>
                There were no fact scans on this date, using a prior scan instead.
            </span>
        </div>
    </div>

    <nav class="btn-group FactModuleFilter">
        <button
            ng-class="{  'btn': true,
                         'btn-default': true,
                         'FactModuleFilter-module': true,
                         'is-active': module.isActive,
                      }"
            ng-click="setActiveModule(module.name)"
            ng-repeat="module in modules | orderBy: 'sortKey'">
            {{module.displayName}}
        </button>
    </nav>

    <section class="FactDataError SystemTrackingContainer-main" ng-if="error" ng-switch="error.name">
        <p class="FactDataError-message" ng-switch-when="NoScanData">
            There was insufficient scan data for either of the dates you selected. Please try selecting a different date or module.
        </p>
        <p class="FactDataError-message" ng-switch-when="InsufficientScanData">
            There were no facts collected on or before one of the dates you selected ({{error.dateValue|amDateFormat:'L'}}). Please select a different date and try again.
        </p>
        <p class="FactDataError-message" ng-switch-when="NoScanDifferences">
            The two fact scans were identical for this module.
        </p>
        <p class="FactDataError-note" ng-switch-default>
            We were not able to find any facts collected for this inventory or module.  To setup or run scan jobs, edit the "<a link-to="inventoryEdit" model="{ inventory_id: inventory }">{{inventory.name}}</a>" inventory and select "Scan Jobs Templates."
        </p>
    </section>
    <fact-data-table
        ng-if="!error"
        left-hostname="leftHostname"
        right-hostname="rightHostname"
        left-scan-date="leftScanDate"
        right-scan-date="rightScanDate"
        left-data-no-scans="leftDataNoScans"
        right-data-no-scans="rightDataNoScans"
        is-nested-display="isNestedDisplay"
        fact-data="factData">
    </fact-data-table>
</section>
