<div id="external-test-modal" class="modal at-Modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content at-Modal-window">
            <div class="Modal-header">
                <div class="Modal-title">
                    <div class="at-Modal-heading">
                        <h4 class="modal-title at-Modal-title">{{ vm.title }}</h4>
                    </div>
                </div>
                <div class="Modal-exitHolder">
                    <div class="at-Modal-dismiss">
                        <i class="fa fa-lg fa-times-circle" ng-click="vm.onClose()"></i>
                    </div>
                </div>
            </div>
            <at-form state="vm.form" autocomplete="off" id="external_test_form">
                <at-input-group col="12" tab="20" state="vm.form.inputs" form-id="external_test">
                    TITLE
                </at-input-group>
            </at-form>
            <div >
                <div class="Prompt-footer">
                    <button
                        type="button"
                        class="Prompt-defaultButton"
                        ng-click="vm.onClose()"
                    >
                        {{:: vm.strings.get('CLOSE') }}
                    </button>
                    <button
                        type="button"
                        class="Prompt-actionButton"
                        ng-click="vm.onSubmit()"
                    >
                        {{:: vm.strings.get('RUN') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
