.at-Stdout {
    font-family: monospace;

    &-menu {
        color: @at-gray-dark-4x;
        border: 1px solid @at-gray-dark-2x;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom: none;
    }

    &-menuIcon {
        font-size: 12px;
        padding: 10px;
    }

    &-toggle {
        color: @at-gray-dark-4x;
        background-color: @at-gray-light;
        font-size: 12px;

        padding: 0 20px 0 10px;
    }

    &-line {
        color: @at-gray-dark-4x;
        background-color: @at-gray-light;

        text-align: right;

        padding-right: 5px;
        border-right: 1px solid @at-gray-dark;
    }

    &-event {
        padding-left: 2ch;
        width: 83ch;
    }

    &-time {
        padding-left: 20px;
        font-size: 12px;
        text-align: right;
    }

    &-container {
        & > table {
            table-layout: fixed;

            td {
                vertical-align: top;
                word-wrap: break-word;
                white-space: pre-wrap;
            }
        }

        font-size: 14px;
        border: 1px solid @at-gray-dark-2x;
        background-color: @at-gray-light-3x;
        padding: 0;
        margin: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
