.at-Stdout {
    &-expand {
        padding-right: 10px;
    }

    &-lineNumber {
        padding-right: 5px;
        border-right: 1px solid gray;
    }

    &-content {
        padding-left: 5px;
    }

    &-timestamp {
        padding-left: 20px;
    }
}
