<div class="row">
 <div class="left-side col-sm-4 col-xs-12">
        <img id="about-modal-logo" src="static/img/tower_console_bug.png">

</div>
 <div  class="right-side col-sm-8 col-xs-12">
        <img id="about-modal-titlelogo" src="static/img/tower_login_logo.png"><br>
        <p>Tower Version <span id='about-modal-version'></span></p>
        <textarea class="form-control" rows="3" readonly>Copyright 2015.  All rights reserved.&#10Ansible is a registered trademark of Ansible, Inc.&#10Ansible Tower is a trademark pending registration. </textarea>
        <br>
        <p>Visit <a href="http://www.ansible.com" target="_blank">Ansible.com</a> for more information!</p>
</div>
</div>

