
              <div id="configure-jobs" ><div>
              <div class="tab-pane" id="configure-schedules-tab">
                    <div id="configure-schedules-overlay"></div>
                    <div id="configure-schedules-list"></div>
                    <div id="configure-schedules-form-container">
                        <div id="configure-schedules-title">
                            <h4 ng-bind="schedulesTitle"></h4>
                            <button type="button"  class="close pull-right" ng-click="cancelScheduleForm()">x</button>
                        </div>
                        <div id="configure-schedules-form-container-body">
                            <div id="configure-schedules-form"></div>
                            <div id="configure-schedules-detail"></div>
                        </div>
                        <div id="configure-schedules-buttons" >
                            <a id="configure-schedules-flip-link" ng-show="formShowing" ng-click="showScheduleDetail()" href=""><i class="fa fa-search-plus"></i> View Details</a>
                            <a id="configure-schedules-flip-link" ng-show="!formShowing" ng-click="showScheduleDetail()" href=""><i class="fa fa-arrow-circle-left"></i> Back to options</a>
                            <button type="button" class="btn btn-default btn-sm" id="configure-schedule-delete-button" ng-show="mode==='edit'" ng-click="deleteSystemSchedule($event)"><i class="fa fa-trash-o"></i> Delete</button>
                            <button type="button" class="btn btn-default btn-sm" id="configure-reset-button" ng-click="cancelScheduleForm()"><i class="fa fa-times"></i> Cancel</button>
                            <button type="button" class="btn btn-primary btn-sm" id="configure-save-button" ng-click="saveScheduleForm()"><i class="fa fa-check"></i> Save</button>
                        </div>
                    </div>
                </div>
            <!-- </div> -->
    <div id="prompt-for-days" style="display:none">
      <form name="prompt_for_days_form" id="prompt_for_days_form">
            How many days of data would you like to <b>keep</b>? <br>
            <input type="number" min="1" id="days_to_keep" name="days_to_keep" value="30" ng-required="true" class="form-control  ng-pristine ng-invalid-required ng-invalid" style="margin-top:10px;">
            <div class="error" ng-show="prompt_for_days_form.days_to_keep.$dirty && copy_form.new_copy_name.$error.required">Please enter the number of days you would like to keep this data.</div></input>
            </form>
    </div>