
<div id="about-dialog-body">
    <div class="row">
        <div class="col-xs-12 col-sm-5">
            <div style="width: 340px; margin: 0 auto;">
<pre id="cowsay">
 ________________
/  Tower Version \
\<span id='about-modal-version'></span>/
 ----------------
        \   ^__^
         \  (oo)\_______
            (__)\     A)\/\
                ||----w |
                ||     ||
</pre>
            </div>
        </div>
        <div  class="col-xs-12 col-sm-7 text-center">
            <img id="about-modal-titlelogo" src="static/img/ansible_tower_logo_minimalc.png"><br>
            <p>Copyright 2015.  All rights reserved.</p>
            <p>Ansible and Ansible Tower are registered trademarks of Ansible, Inc.</p>
            <br>
            <p>Visit <a href="http://www.ansible.com" target="_blank">Ansible.com</a> for more information.</p>
            <br>
            <p><span id='about-modal-subscription'></span></p>
    </div>
</div>
