<div class="tab-pane" id="home">
   <div id="refresh-row" class="row">
      <div class="col-lg-12">
        <div class="refresh-grp pull-right">
          <button type="button" class="btn btn-primary btn-xs refresh-btn" ng-click="refreshCnt = 10; refresh()" id="refresh_btn" aw-tool-tip="Refresh page" data-placement="top" data-original-title="" title=""><i class="icon-refresh"></i></button>
        </div>
      </div>
   </div>
   <div class="row">
      <div id="container1" class="col-lg-6"></div>
      <div id="container2" class="col-lg-6"></div>
   </div>
   <div class="row">
      <div id="container3" class="col-lg-6"></div>
      <div id="container4" class="col-lg-6"></div>
   </div>  
</div>