<div class="tab-pane" id="home">
   <div id="htmlTemplate">
   <div id="refresh-row" class="row">
      <div class="col-lg-12">
        <div id="home-list-actions" class="list-actions pull-right"></div>
      </div>
   </div>
   <div class="row">
      <div id="container1" class="col-lg-6"></div>
      <div id="container2" class="col-lg-6"></div>
   </div>
   <div class="row">
      <div id="container3" class="col-lg-6"></div>
      <div id="container4" class="col-lg-6"></div>
   </div>  
   </div>
</div>