<div class="tab-pane" id="inventory_edit">
    <div ng-cloak id="htmlTemplate">
        <div class="row">
            <div class="col-lg-12" id="breadcrumbs"></div>
        </div>
        <!-- <div class="row">
            <div id="hosts-title" class="col-lg-offset-6 col-lg-6">{{ selected_group_name }}</div>
        </div> -->
        <div class="row">
            <div id="groups-container" class="col-lg-6"></div>
            <div id="hosts-container" class="col-lg-6"></div>
        </div>
        
        <div id="inventory-modal-container"></div>
        
        <div id="group-modal-dialog" style="display: none;">
            <ul id="group_tabs" class="nav nav-tabs">
                <li class="active"><a id="properties_link" ng-click="toggleTab($event, 'properties_link', 'group_tabs')" 
                        href="#properties-tab" data-toggle="tab">Properties</a></li>
                <li><a id="source_link" ng-click="toggleTab($event, 'source_link', 'group_tabs')"
                        href="#sources-tab" data-toggle="tab">Source</a></li>
                <li ng-show="showSourceTab"><a id="schedules_link" ng-click="toggleTab($event, 'schedules_link', 'group_tabs')" 
                        href="#schedules-tab" data-toggle="tab">Schedule</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="properties-tab"></div>
                <div class="tab-pane" id="sources-tab"></div>
                <div class="tab-pane" id="schedules-tab">
                    <div id="schedules-overlay"></div>
                    <div id="schedules-list"></div>
                    <div id="schedules-form-container">
                        <div id="schedules-title">
                            <h4 ng-bind="schedulesTitle"></h4>
                            <button type="button" class="close pull-right" ng-click="cancelScheduleForm()">x</button>
                        </div>
                        <div id="schedules-form-container-body">
                            <div id="schedules-form"></div>
                            <div id="schedules-detail"></div>
                        </div>
                        <div id="schedules-buttons">
                            <a id="schedules-flip-link" ng-show="formShowing" ng-click="showScheduleDetail()" href=""><i class="fa fa-search-plus"></i> View Details</a>
                            <a id="schedules-flip-link" ng-show="!formShowing" ng-click="showScheduleDetail()" href=""><i class="fa fa-list-ul"></i> Options</a>
                            <button type="button" class="btn btn-default btn-sm" id="reset-button" ng-click="cancelScheduleForm()"><i class="fa fa-times"></i> Cancel</button>
                            <button type="button" class="btn btn-primary btn-sm" id="save-button" ng-click="saveScheduleForm()"><i class="fa fa-check"></i> Save</button>
                        </div>
                    </div>
                </div>
            </div>    
        </div>

        <div id="host-modal-dialog" style="display: none;" class="dialog-content"></div>
        <div ng-include="'/static/partials/logviewer.html'"></div>
    </div>
</div>