<div class="tab-pane" id="inventory_edit">
    <div id="htmlTemplate">
        <div class="row">
            <div class="col-lg-12" id="breadcrumbs"></div>
        </div>
        <!-- <div class="row">
            <div id="hosts-title" class="col-lg-offset-6 col-lg-6">{{ selected_group_name }}</div>
        </div> -->
        <div class="row">
            <div id="groups-container" class="col-lg-6"></div>
            <div id="hosts-container" class="col-lg-6"></div>
        </div>
        <div id="inventory-modal-container"></div>
    </div>
</div>