<div class="tab-pane" id="job_templates">
  <div ng-cloak id="htmlTemplate"></div>
  <div ng-include="'/static/partials/schedule_dialog.html'"></div>
  <div ng-include="'/static/partials/logviewer.html'"></div>
  <div id="survey-modal-dialog"></div>

  <div id="copy-job-modal" style="display:none">
     <form name="copy_form" id="copy_form">
            What would you like to name the copy of job template <b><span id=job_name></span></b>?<br>
            <input id="new_copy_name" name="new_copy_name" ng-model ="new_copy_name" ng-required="true" class="form-control  ng-pristine ng-invalid-required ng-invalid" style="margin-top:10px;">
            <div class="error survey_error ng-hide" ng-show="copy_form.new_copy_name.$dirty && copy_form.new_copy_name.$error.required">A value is required.</div></input>
            </form>
    </div>
</div>