<div class="tab-pane" id="jobs-stdout">
    <div ng-cloak id="htmlTemplate">

        <div class="row">
            <div id="breadcrumb-container" class="col-md-12" style="position: relative;">
                <ul class="ansible-breadcrumb" id="breadcrumb-list">
                    <li><a href="/#/jobs">Jobs</a></li>
                    <li><a href="/#/jobs/{{ job.id }}"><strong>{{ job.id }}</strong> - {{ job.name }}</a></li>
                    <li class="active"><a href="">Standard Out</a></li>
                </ul>
            </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="pre-container" class="body_background body_foreground pre mono-space" aw-custom-scroll data-scroll-theme="light-thin"
                    data-scroll-inertia="500" data-on-total-scroll="onTotalScroll" data-on-total-scroll-back="onTotalScrollBack"
                    data-on-total-scroll-back-offset="100">
                    <div id="pre-container-content"></div>
                </div>
            </div>
        </div>
    </div>
</div>