<div class="tab-pane" id="jobs">
    <div ng-cloak id="htmlTemplate">
        <div class="row">
            <div class="col-md-12" id="breadcrumbs"></div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5>Options</h5>
                <div class="job_options job_well" id="job_options">
                    <table class="table table-condensed">
                        <tbody>
                            <tr ng-show="job_template_url">
                                <td class="col-md-3 col-sm-2">Job Template</td>
                                <td><a ng-href="{{ job_template_url }}">{{ job_template_name }}</a></td>
                            </tr>
                            <tr ng-show="project_url">
                                <td class="col-md-3 col-sm-2">Project</td>
                                <td><a ng-href="{{ project_url }}">{{ project_name }}</a></td>
                            </tr>
                            <tr ng-show="inventory_url">
                                <td class="col-md-3 col-sm-2">Inventory</td>
                                <td><a ng-href="{{ inventory_url }}">{{ inventory_name }}</a></td>
                            </tr>
                            <tr ng-show="playbook">
                                <td class="col-md-3 col-sm-2">Playbook</td>
                                <td>{{ playbook }}</td>
                            </tr>
                            <tr ng-show="job_type">
                                <td class="col-md-3 col-sm-2">Run Type</td>
                                <td>{{ job_type }}</td>
                            </tr>
                            <tr ng-show="credential">
                                <td class="col-md-3 col-sm-2">Machine Credential</td>
                                <td>{{ credential }}</td>
                            </tr>
                            <tr ng-show="forks">
                                <td class="col-md-3 col-sm-2">Forks</td>
                                <td>{{ forks }}</td>
                            </tr>
                            <tr ng-show="limit">
                                <td class="col-md-3 col-sm-2">Limit</td>
                                <td>{{ limit }}</td>
                            </tr>
                            <tr ng-show="verbosity !== undefined">
                                <td class="col-md-3 col-sm-2">Verbosity</td>
                                <td>{{ verbosity }}</td>
                            </tr>
                            <tr ng-show="job_tags">
                                <td class="col-md-3 col-sm-2">Job Tags</td>
                                <td>{{ job_tags }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <a id="job_options_scroll_down_indicator" href="" aw-scroll-down="job_options" class="scroll-down-indicator">more <i class="fa fa-chevron-circle-down"></i></a>
                <a id="job_options_scroll_up_indicator" href="" aw-scroll-up="job_options" class="scroll-up-indicator">more <i class="fa fa-chevron-circle-up"></i></a>
            </div>
        </div><!-- row -->

        <div class="row">
            <div class="col-md-6 job-detail-tables">

                <h5>Plays</h5>
                <div class="job_plays job_well">
                     <ul>
                        <li ng-repeat="play in plays">
                            <i class="fa icon-job-{{ play.status }}"></i> {{play.name }}
                            <ul ng-show="play.children.length > 0">
                                <li ng-repeat="child in play.children">
                                    <i class="fa icon-job-{{ child.status }}"></i> {{child.name }}
                                </li>
                            </ul>
                        </li>
                    </ul>

                </div>

                <h4>Tasks</h4>
                <div class="job_tasks">
                    <table class="table table-condensed job-detail-table">
                        <thead>
                            <tr>
                                <th class="col-md-1">Status</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="task in tasks">
                                <td><i class="fa icon-job-{{ task.status }}"></i></td>
                                <td>{{ task.name }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <h4>Hosts</h4>
                <div class="job_hosts">
                    <table class="table table-condensed job-detail-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th class="text-center">OK</th>
                                <th class="text-center">Changed</th>
                                <th class="text-center">Unreachable</th>
                                <th class="text-center">Failed</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="host in hosts">
                                <td>{{ host.name }}</td>
                                <td class="text-center">{{ host.ok }}</td>
                                <td class="text-center">{{ host.changed }}</td>
                                <td class="text-center">{{ host.unreachable }}</td>
                                <td class="text-center">{{ host.failed }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
</div>
