<div class="tab-pane" id="jobs-detail">
    <div ng-cloak id="htmlTemplate">
        
        <div class="row">
            <div class="col-md-12">
                <div class="nav-path">
                    <ul class="breadcrumb" id="breadcrumb-list">
                        <li><a href="/#/jobs">Jobs</a></li>
                        <li><strong>{{ job_id }}</strong> - <a href="{{ job_template_url }}">{{ job_template_name }}</a> - <a href="{{ project_url }}">{{ project_name }}</a> - <a href="{{ inventory_url }}">{{ inventory_name }}</a></li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-7">

                <div class="job_well">
                    
                    <div id="job-status">
                        <ul>
                            <li ng-show="job_status.explanation" style="display: block; margin-bottom: 10px;"><div ng-class="job_status.status_class"><i class="fa icon-job-{{ job_status.status }}"></i> {{ job_status.status }} &nbsp;-{{ job_status.explanation }}</div></li>
                            <li ng-show="!job_status.explanation"><div class="label">Status</div> <i class="fa icon-job-{{ job_status.status }}"></i> {{ job_status.status }}</li>
                            <li ng-show="job_status.started"><div class="label">Start</div> {{ job_status.started | date:'MM/dd/yy HH:mm:ss' }}</li>
                            <li ng-show="!job_status.started"><div class="label">Start</div> Not Started</li>
                            <li ng-show="job_status.finished"><div class="label">Finish</div> {{ job_status.finished | date:'MM/dd/yy HH:mm:ss' }}<li>
                            <li><div class="label">Elapsed</div> {{ job_status.elapsed }}</li>
                        </ul>

                    </div>
                 
                    <div class="job-detail-tables">
                        <div class="section">
                            <h5>Plays</h5>
                            <table class="table job-detail-table">
                                <thead>
                                    <tr>
                                        <th class="col-lg-1 col-md-1 col-sm-2 hidden-xs">Started</th>
                                        <th class="col-lg-10 col-md-10 col-sm-10 col-xs-12">Name</th>
                                        <th class="col-lg-1 col-md-1 hidden-sm hidden-xs">Elapsed</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="play in plays"  ng-class="play.playActiveClass" ng-click="selectPlay(play.id)" class="cursor-pointer">
                                        <td class="col-lg-1 col-md-1 col-sm-2 hidden-xs">{{ play.created | date: 'HH:mm:ss' }}</td>
                                        <td class="col-lg-10 col-md-9 col-sm-10 col-xs-12 status-column">
                                            <i class="fa icon-job-{{ play.status }}"></i> {{ play.name }}</span></td>
                                        <td class="col-lg-1 col-md-1 col-hidden-sm hidden-xs" aw-tool-tip="Completed at {{ play.finished | date:'HH:mm:ss' }}"
                                            data-placement="top">{{ play.elapsed }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!-- section -->

                        <div class="section">
                            <h5>Tasks</h5>
                            <table class="table job-detail-table">
                                <thead>
                                    <tr>
                                        <th class="col-lg-1 col-md-1 col-sm-2 hidden-xs">Started</th>
                                        <th class="col-lg-6 col-md-6 col-sm-6 col-xs-7">Name</th>
                                        <th class="col-lg-4 col-md-4 col-sm-4 col-xs-5">Host Status</th>
                                        <th class="col-lg-1 col-md-1 hidden-sm hidden-xs">Elapsed</th>
                                    </tr>
                                </thead>
                                <tbody id="task-table-body">
                                    <tr ng-repeat="task in tasks | filter:{ play_id: activePlay }" ng-class="task.taskActiveClass" ng-click="selectTask(task.id)" class="cursor-pointer">
                                        <td class="col-lg-1 col-md-1 col-sm-2 hidden-xs">{{ task.created | date: 'HH:mm:ss' }}</td>
                                        <td class="col-lg-6 col-md-6 col-sm-6 col-xs-7 status-column">
                                            <i class="fa icon-job-{{  task.status }}"></i><span ng-show="hasRoles"> {{ task.role }} </span>{{ task.name }}
                                        </td>
                                        <td class="col-lg-4 col-md-4 col-sm-4 col-xs-5">
                                            <div class="status-bar">
                                                <div class="successful-hosts inner-bar" aw-tool-tip="{{ task.successfulCount}} hosts OK" aw-tip-watch="task.successfulCount" data-placement="top" ng-style="{{ task.successfulStyle }}">{{ task.successfulCount }}</div>
                                                <div class="changed-hosts inner-bar" aw-tool-tip="{{ task.changedCount}} hosts changed" aw-tip-watch="task.changedCount" data-placement="top" ng-style="{{ task.changedStyle }}">{{ task.changedCount }}</div>
                                                <div class="skipped-hosts inner-bar" aw-tool-tip="{{ task.skippedCount}} hosts skipped" aw-tip-watch="task.skippedCount" data-placement="top" ng-style="{{ task.skippedStyle }}">{{ task.skippedCount }}</div> 
                                                <div class="failed-hosts inner-bar" aw-tool-tip="{{ task.failedCount}} hosts failed" aw-tip-watch="task.failedCount" data-placement="top" ng-style="{{ task.failedStyle }}">{{ task.failedCount }}</div>
                                            </div>
                                        </td>
                                        <td class="col-lg-1 col-md-1 hidden-sm hidden-xs" aw-tool-tip="Completed at {{ task.finished | date:'HH:mm:ss' }}"
                                            data-placement="top">{{ task.elapsed }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!-- section -->

                        <div class="section" style="position: relative;">
                            <h5>Hosts</h5>
                            <div id="hosts-section">
                                <div id="host-details">
                                    <ul>
                                        <li ng-repeat="result in hostResults | filter:{ task_id: activeTask }">
                                            <div class="status-column inline-block"><i class="fa icon-job-{{ result.status }}"></i> <a href="" ng-click="doSomething()" aw-tool-tip="Click to view results" data-placement="top">{{ result.name }}</a></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div id="hosts-slider-vertical" style="position:absolute; top:27px; right: 0; width:9px; height:150px;"></div>
                        </div><!-- section -->

                    </div><!-- job-detail-tables -->
                
                </div><!-- well -->

            </div><!-- col-md-7 -->

            <div class="col-md-5">
                <div class="job_well">
                    <div class="section job_summary">
                        <h5>Host Summary</h5>
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th class="col-lg-8 col-md-8 col-sm-8 col-xs-4">Host</th>
                                    <th class="col-lg-1 col-md-1 col-sm-1 col-xs-2">OK</th>
                                    <th class="col-lg-1 col-md-1 col-sm-1 col-xs-2">Changed</th>
                                    <th class="col-lg-1 col-md-1 col-sm-1 col-xs-2">Dark</th>
                                    <th class="col-lg-1 col-md-1 col-sm-1 col-xs-2">Failed</th>
                                </tr>
                            </thead>
                            <tbody >
                                <tr ng-repeat="host in hosts">
                                    <td class="col-lg-8 col-md-8 col-sm-8 col-xs-4"><a href="/#/home/hosts/?id={{ host.id }}">{{ host.name }}</a></td>
                                    <td class="col-lg-1 col-md-1 col-sm-1 col-xs-2">{{ host.ok }}</td>
                                    <td class="col-lg-1 col-md-1 col-sm-1 col-xs-2">{{ host.changed }}</td>
                                    <td class="col-lg-1 col-md-1 col-sm-1 col-xs-2">{{ host.unreachable }}</td>
                                    <td class="col-lg-1 col-md-1 col-sm-1 col-xs-2">{{ host.failed }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- section -->
                </div>
            </div><!-- col-md-5 -->

        </div>
    </div>
</div>
