<div class="tab-pane" id="jobs-page">
    <div ng-cloak id="htmlTemplate">
        <div class="row">
            <div class="col-md-12" id="breadcrumbs"></div>
        </div>

        <div id="refresh-row" class="row">
            <div class="col-lg-12">
            <div id="home-list-actions" class="list-actions pull-right">
                <button type="button" class="btn btn-xs btn-primary ng-hide" ng-click="refreshJobs()" id="refresh_btn" aw-tool-tip="Refresh the page" data-placement="top" ng-show="socketStatus == 'error'" data-original-title="" title=""><i class="fa fa-refresh fa-lg"></i> </button></div>
         </div>
      </div>

        <div class="row">
            <div class="col-lg-6 left-side">
                <div class="jobs-list-container completed">
                    <div class="row search-row">
                        <div class="col-md-6"><div class="title">Completed</div></div>
                        <div class="col-md-6" id="completed-jobs-search-container"></div>
                    </div>
                    <div class="job-list" id="completed-jobs-container">
                        <div id="completed-jobs" class="job-list-target"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 right-side">
                <div class="jobs-list-container">
                    <div class="row search-row">
                        <div class="col-md-6"><div class="title">Active</div></div>
                        <div class="col-md-6" id="active-jobs-search-container"></div>
                    </div>
                    <div class="job-list" id="active-jobs-container">
                        <div id="active-jobs" class="job-list-target"></div>
                    </div>
                </div>
            </div>
        </div><!-- row -->
        <div class="row bottom-row">
            <div class="col-lg-6 left-side">
                <div class="jobs-list-container">
                    <div class="row search-row">
                        <div class="col-md-6"><div class="title">Queued</div></div>
                        <div class="col-md-6" id="queued-jobs-search-container"></div>
                    </div>
                    <div class="job-list" id="queued-jobs-container">
                        <div id="queued-jobs" class="job-list-target"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 right-side">
                <div class="jobs-list-container">
                    <div class="row search-row">
                        <div class="col-md-6"><div class="title">Scheduled</div></div>
                        <div class="col-md-6" id="scheduled-jobs-search-container"></div>
                    </div>
                    <div class="job-list" id="scheduled-jobs-container">
                        <div id="scheduled-jobs" class="job-list-target"></div>
                    </div>
                </div>
            </div>
        </div><!-- row -->

        <div id="schedule-dialog-target"></div>
        <div ng-include="'/static/partials/logviewer.html'"></div>
        <div ng-include="'/static/partials/schedule_dialog.html'"></div>

    </div>
</div>