<div class="tab-pane" id="jobs">
    <div ng-cloak id="htmlTemplate">
        <div class="row">
            <div class="col-md-12" id="breadcrumbs"></div>
        </div>    
        <div class="row">
            <div class="col-md-12">
                <div id="jobs-page ">
                    <div id="job-page-accordion-0" aw-accordion>
                        <h3>Completed</h3>
                        <div class="job-list" id="completed-jobs-container">
                            <div id="completed-jobs"></div>
                        </div>
                    </div>
                    <div id="job-page-accordion-1" aw-accordion>
                        <h3>Active</h3>
                        <div class="job-list" id="active-jobs-container">
                            <div id="active-jobs"></div>
                        </div>
                    </div>
                    <div id="job-page-accordion-2" aw-accordion>
                        <h3>Queued</h3>
                        <div class="job-list" id="queued-jobs-container">
                            <div id="queued-jobs"></div>
                        </div>
                    </div>
                    <div id="job-page-accordion-3" aw-accordion>
                        <h3>Scheduled</h3>
                        <div class="job-list" id="scheduled-jobs-container">
                            <div id="scheduled-jobs"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </div>
</div>