<div class="tab-pane" id="jobs">
    <div ng-cloak id="htmlTemplate">
        <div class="row">
            <div class="col-lg-12" id="breadcrumbs"></div>
        </div>    
        <div class="row">
            <div class="col-lg-12">
                <div class="well">
                    <div class="job_list" id="completed_jobs"></div>
                    <div class="job_list" id="running_jobs"></div>
                    <div class="job_list" id="queued_jobs"></div>
                    <div class="job_list" id="scheduled_jobs"></div>
                </div>
            </div>
        </div>   
    </div>
</div>