  <div class="row-fluid">
    <div class="span12">
      
      <div id="login-modal" class="modal hide">
        <div class="modal-header">
          <h3>Ansible Login</h3>
        </div>
        <div class="modal-body">
          <div class="login-alert" ng-show="(sessionExpired == true)">Your session timed out due to inactivity. Please sign in again.</div>
          <form id="login-form" name="loginForm" class="form-horizontal" autocomplete="off" novalidate >
            <div class="control-group">
              <label class="control-label">Username:</label>
              <div class="controls">
                <input type="text" name="login_username" ng-model="login_username" id="login-username" autocomplete="off" required><br />
                <span class="error" ng-show="loginForm.login_username.$dirty && loginForm.login_username.$error.required">A value is required!</span>
                <span class="error api-error" ng-bind="usernameError"></span>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Password:</label>
              <div class="controls">
                <input type="password" name="login_password" id="login-password" ng-model="login_password" required autocomplete="off"><br />
                <span class="error" ng-show="loginForm.login_password.$dirty && loginForm.login_password.$error.required">A value is required!</span>
                <span class="error api-error" ng-bind="passwordError"></span>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button ng-click="systemLogin(login_username, login_password)" id="login-button" class="btn btn-primary">Sign In</button>
        </div>
      </div><!-- modal -->
      
    </div><!-- span -->
  </div><!-- row -->