<div class="tab-pane" >
        <div ng-cloak id="portal-landing">
                <div id="refresh-row" class="row">
                        <div class="col-lg-12">
                                <div id="portal-list-actions" class="list-actions pull-right">
                                </div>
                        </div>
                </div>
                <div class="row">
                        <div class="left-side col-sm-6 col-xs-12">
                                <div class="portal-container">
                                        <span class="portal-header">Job Templates</span>
                                        <div id="portal-job-template" >
                                        </div>
                                </div>
                        </div>
                        <div class="right-side col-sm-6 col-xs-12">
                                <div class="portal-container ">
                                        <span class="portal-header">My Jobs</span>
                                        <div id="portal-jobs" >
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>