.at-Panel {
    margin: @at-space-6x 0 0 0;
    padding: @at-space-6x;
    border-color: @at-gray-dark;
}

.at-Panel-heading {
    margin: 0;
    padding: 0;
}

.at-Panel-dismiss {
    .at-mixin-ButtonIcon();
    text-align: right;
}

.at-Panel-body {
    margin: @at-space-6x 0 0 0;
    padding: 0;
}

.at-Panel-headingTitle {
    color: @at-gray-dark-4x;
    font-size: @at-font-size-3x;
    font-weight: @at-font-weight-2x;
    line-height: @at-line-height-short;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
