.at-Panel {
    margin: @at-margin-md 0 0 0;
    padding: @at-padding-md;
}

.at-Panel-heading {
    margin: 0;
    padding: 0;
}

.at-Panel-dismiss {
    .at-IconButton();
    text-align: right;
}

.at-Panel-body {
    margin: @at-margin-md 0 0 0;
    padding: 0;
}

.at-Panel-headingTitle {
    color: @at-gray-dark;
    font-size: @at-font-md;
    font-weight: bold;
    line-height: 0.9;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
