.at-Panel {
    margin: @at-margin-md 0 0 0;
    padding: @at-padding-md;
}

.at-Panel-heading {
    margin: 0;
    padding: 0;
}

.at-Panel-dismiss {
    line-height: 0.9;
    text-align: right;
    color: @at-gray-light;

    & > i {
        cursor: pointer;
    }

    & > i:hover {
        color: @at-gray;
    }
}

.at-Panel-body {
    margin: @at-margin-md 0 0 0;
    padding: 0;
}

.at-Panel-headingTitle {
    color: @at-gray-dark;
    font-size: @at-font-md;
    font-weight: bold;
    line-height: 0.9;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
