# Tower
awx/settings/local_settings.py*
awx/*.sqlite3
awx/job_status
awx/projects
awx/job_output
awx/public/media
awx/public/static
awx/ui/static/js/awx.min.js
awx/ui/static/js/local_config.js
awx/ui/static/css/awx.min.css
awx/main/fixtures
awx/tower_warnings.log
tower/tower_warnings.log
celerybeat-schedule
awx/ui/static/docs
tools

# Python & setuptools
__pycache__
build
deb-build
rpm-build
/dist
*.egg-info
*.py[c,o]

# JavaScript
/GruntFile.js
/bower.json
/package.json
node_modules/**

# Testing
.coverage
.tox
coverage.xml
htmlcov
pep8.txt

# Mac OS X
*.DS_Store

# Editors
*.swp
*~

# Vagrant
/Vagrantfile
tools/vagrant/local.yml
.vagrant*

# Setup
setup.log
setup/tower_setup_conf.yml
setup/setup.log
setup/inventory

# Other
.tower_cycle
env/*
nohup.out
reports
