awx/settings/local_settings.py*
awx/*.sqlite3
awx/projects
awx/public/media
awx/public/static
awx/ui/static/js/awx-min.js
env/*
build
deb-build
dist
htmlcov
rpm-build
*.DS_Store
*.egg-info
*.py[c,o]
*.swp
.coverage
coverage.xml
pep8.txt
.vagrant*
.tox
