recursive-include ansibleworks *.py
recursive-include ansibleworks/static *.ico
recursive-include ansibleworks/templates *.html
recursive-include ansibleworks/ui *.html *.js
recursive-include ansibleworks/ui/static *.css *.ico *.png *.gif *.jpg
recursive-include ansibleworks/ui/static *.eot *.svg *.ttf *.woff *.otf
recursive-exclude ansibleworks/settings local_settings.py
include *.py *.txt *.md
include MANIFEST.in
include COPYING
prune ansibleworks/public
prune ansibleworks/projects
prune ansibleworks/ui/static/lib/jstree/_*
