recursive-include awx *.py
recursive-include awx/static *.ico
recursive-include awx/templates *.html
recursive-include awx/api/templates *.md
recursive-include awx/ui/dist *
recursive-include awx/playbooks *.yml
recursive-include awx/lib/site-packages *
recursive-include config *
recursive-include config/deb *
recursive-include config/rpm *
recursive-exclude awx devonly.py*
recursive-exclude awx/api/tests *
recursive-exclude awx/main/tests *
recursive-exclude awx/settings local_settings.py*
include tools/scripts/request_tower_configuration.sh
include tools/scripts/ansible-tower
include tools/munin_monitors/*
include tools/sosreport/*
include COPYING
prune awx/public
prune awx/projects
