{% extends "admin/base_site.html" %}
{% load i18n %}

{% block title %}{% trans "Server Error" %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url "admin:index" %}">{% trans "Home" %}</a> &rsaquo;
  {% trans "Server Error" %}
</div>
{% endblock %}

{% block content %}
<h1 style="margin-bottom: 0.7em;">{% trans 'Server Error' %}</h1>
<p>{% trans "A server error has occurred." %}</p>
{% endblock %}
