<div id="htmlTemplate" class="card at-Panel" ng-hide="hideForm">
    <div class="Form-header">
        <div class="Form-title" ng-show="!isEdit">{{ schedulerName || "ADD SCHEDULE"}}</div>
        <div class="Form-title" ng-show="isEdit">{{ schedulerName || "EDIT SCHEDULE"}}</div>
        <div class="Form-header--fields"></div>
        <div class="Form-exitHolder">
            <button aria-label="{{'Close'|translate}}" class="Form-exit" ng-click="formCancel()">
                <i class="fa fa-times-circle"></i>
            </button>
        </div>
    </div>
    <div id="SchedulerFormTarget">
        <form class="form Form"
            role="form"
            name="scheduler_form"
            novalidate>

            <div class="form-group SchedulerForm-formGroup">
                <label class="Form-inputLabel">
                    <span class="red-text">*</span>
                    <span translate>Name</span>
                </label>
                <input
                    ng-disabled="!(schedule_obj.summary_fields.user_capabilities.edit || canAdd)"
                    type="text"
                    class="form-control input-sm
                        Form-textInput"
                    ng-class="{'RepeatFrequencyOptions-nameBorderErrorFix': scheduler_form.$dirty && scheduler_form.schedulerName.$error.required}"
                    name="schedulerName"
                    id="schedulerName"
                    ng-model="schedulerName" required
                    placeholder="{{strings.get('form.SCHEDULE_NAME')}}">
                <div class="error"
                    ng-show="scheduler_form.$dirty && scheduler_form.schedulerName.$error.required"
                    translate>
                    A schedule name is required.
                </div>
            </div>
            <div class="form-group SchedulerForm-formGroup">
                <label class="Form-inputLabel">
                    <span class="red-text">*</span>
                    <span translate>Start Date</span>
                </label>
                <scheduler-date-picker date="schedulerStartDt"
                    class="input-group Form-inputGroup SchedulerForm-inputGroup--date"
                    disabled="!(schedule_obj.summary_fields.user_capabilities.edit || canAdd)">
                </scheduler-date-picker>
                <div class="error"
                    ng-show="scheduler_form_schedulerStartDt_error"
                    ng-bind="scheduler_form_schedulerStartDt_error">
                </div>
            </div>
            <div class="form-group SchedulerForm-formGroup">
                <label class="Form-inputLabel">
                    <span class="red-text">*</span>
                    <span translate>Start Time</span>
                    <span class="fmt-help"
                        ng-show="schedulerShowTimeZone"
                        translate>
                        (HH24:MM:SS)
                    </span>
                    <span class="fmt-help"
                        ng-show="!schedulerShowTimeZone"
                        translate>
                        (HH24:MM:SS UTC)
                    </span>
                </label>
                <div class="input-group SchedulerTime">
                    <input name="schedulerStartHour"
                        ng-disabled="!(schedule_obj.summary_fields.user_capabilities.edit || canAdd)"
                        id="schedulerStartHour"
                        sch-spinner="scheduler_form"
                        class="scheduler-time-spinner
                            ScheduleTime-input SpinnerInput"
                        aw-spinner="schedulerStartHour"
                        ng-model="schedulerStartHour"
                        placeholder="{{strings.get('form.HH24')}}"
                        aw-min="0" min="0" aw-max="23"
                        max="23" data-zero-pad="2" required
                        ng-change="timeChange()" >
                    <span
                        class="SchedulerTime-separator">
                        :
                    </span>
                    <input name="schedulerStartMinute"
                        ng-disabled="!(schedule_obj.summary_fields.user_capabilities.edit || canAdd)"
                        id="schedulerStartMinute"
                        sch-spinner="scheduler_form"
                        class="scheduler-time-spinner
                            SchedulerTime-input SpinnerInput"
                        aw-spinner="schedulerStartMinute"
                        ng-model="schedulerStartMinute"
                        placeholder="{{strings.get('form.MM')}}"
                        min="0" max="59" data-zero-pad="2"
                        required
                        ng-change="timeChange()" >
                    <span
                        class="SchedulerTime-separator">
                        :
                    </span>
                    <input name="schedulerStartSecond"
                        ng-disabled="!(schedule_obj.summary_fields.user_capabilities.edit || canAdd)"
                        id="schedulerStartSecond"
                        sch-spinner="scheduler_form"
                        class="scheduler-time-spinner
                            SchedulerTime-input SpinnerInput"
                        aw-spinner="schedulerStartSecond"
                        ng-model="schedulerStartSecond"
                        placeholder="{{strings.get('form.SS')}}"
                        min="0" max="59" data-zero-pad="2"
                        required
                        ng-change="timeChange()" >
                    <!-- <div class="form-group
                        SchedulerTime-utc"
                        ng-show="schedulerShowUTCStartTime">
                        <label
                            class="SchedulerTime-utcLabel">
                            UTC Start Time
                        </label>
                        <div id="schedulerUTCTime"
                            class="SchedulerTime-utcTime">
                            {{ schedulerUTCTime.split("UTC")[0] }}
                        </div>
                    </div> -->
                </div>
                <div class="error"
                    ng-show="scheduler_startTime_error"
                    translate>
                    The time must be in HH24:MM:SS format.
                </div>
            </div>
            <div class="form-group SchedulerForm-formGroup"
                ng-show="schedulerShowTimeZone">
                <label class="Form-inputLabel">
                    <span class="red-text">*</span>
                    <span translate>Local Time Zone</span>
                </label>
                <select
                    ng-disabled="!(schedule_obj.summary_fields.user_capabilities.edit || canAdd)"
                    class="MakeSelect2"
                    name="schedulerTimeZone"
                    id="schedulerTimeZone"
                    ng-model="schedulerTimeZone"
                    ng-options="z.name for z in timeZones"
                    required class="form-control input-sm"
                    ng-change="scheduleTimeChange()" >
                </select>
            </div>
            <div class="form-group SchedulerForm-formGroup">
                <label class="Form-inputLabel">
                    <span class="red-text">*</span>
                    <span translate>Repeat frequency</span>
                </label>
                <select name="schedulerFrequency"
                    ng-disabled="!(schedule_obj.summary_fields.user_capabilities.edit || canAdd)"
                    id="schedulerFrequency"
                    class="MakeSelect2"
                    ng-model="schedulerFrequency"
                    ng-options="f.name for f in frequencyOptions"
                    required class="form-control input-sm"
                    ng-change="scheduleRepeatChange()">
                </select>
                <div class="error"
                    ng-show="sheduler_frequency_error">
                </div>
            </div>
            <div class="form-group SchedulerForm-formGroup" ng-if="askDaysToKeep">
                <label class="Form-inputLabel">
                    <span class="red-text">*</span>
                    <span translate>Days of data to keep</span>
                </label>
                <input type="number" sch-spinner="scheduler_form" class="scheduler-time-spinner SchedulerTime-input SpinnerInput RepeatFrequencyOptions-number" name="schedulerPurgeDays" id="schedulerPurgeDays" min="1" aw-spinner="schedulerPurgeDays" ng-model="schedulerPurgeDays" required placeholder="{{strings.get('form.DAYS_DATA')}}" ng-disabled="!(schedule_obj.summary_fields.user_capabilities.edit || canAdd)">
                <div class="error" ng-show="scheduler_form.schedulerPurgeDays.$dirty && scheduler_form.schedulerPurgeDays.$error.required" translate>A value is required.</div>
                <div class="error" ng-show="scheduler_form.schedulerPurgeDays.$error.number" translate>This is not a valid number.</div>
                <div class="error" ng-show="scheduler_form.schedulerPurgeDays.$error.min" translate>Please input a number greater than 1.</div>
            </div>
            <div class="RepeatFrequencyOptions-label"
                ng-show="schedulerFrequency.value && schedulerFrequency.value !== 'none'">
                <span translate>Frequency Details</span>
            </div>
            <div class="RepeatFrequencyOptions Form"
                ng-show="schedulerFrequency.value && schedulerFrequency.value !== 'none'">
                <div class="form-group
                    RepeatFrequencyOptions-everyGroup
                    RepeatFrequencyOptions-formGroup"
                    ng-show="schedulerShowInterval">
                    <label class="Form-inputLabel
                        RepeatFrequencyOptions-everyLabel">
                        <span class="red-text">*</span>
                        <span translate>Every</span>
                    </label>
                    <input name="schedulerInterval"
                        ng-disabled="!(schedule_obj.summary_fields.user_capabilities.edit || canAdd)"
                        id="schedulerInterval"
                        sch-spinner="scheduler_form"
                        class="scheduler-spinner
                            SpinnerInput"
                        aw-spinner="schedulerInterval"
                        ng-model="schedulerInterval"
                        min="1"
                        max="999"
                        ng-change="resetError('scheduler_interval_error')"
                    >
                    <label class="inline-label
                        RepeatFrequencyOptions-inlineLabel"
                        ng-bind="schedulerIntervalLabel">
                    </label>
                    <div
                        class="error
                            RepeatFrequencyOptions-error"
                        ng-show="$parent.scheduler_interval_error"
                        translate>
                        Please provide a value between 1 and 999.
                    </div>
                </div>
                <div class="form-group RepeatFrequencyOptions-formGroup"
                    ng-if="schedulerFrequency && schedulerFrequency.value == 'monthly'">
                    <div class="radio
                        RepeatFrequencyOptions-radioLabel">
                        <label class="Form-inputLabel">
                            <span class="red-text">*</span>
                            <input type="radio" value="day"
                                ng-model="$parent.monthlyRepeatOption"
                                ng-change="monthlyRepeatChange()"
                                name="monthlyRepeatOption"
                                id="monthlyRepeatOption"
                                translate>
                            on day
                        </label>
                    </div>
                    <input
                        ng-disabled="!(schedule_obj.summary_fields.user_capabilities.edit || canAdd)"
                        name="monthDay"
                        id="monthDay"
                        sch-spinner="scheduler_form"
                        class="scheduler-spinner SpinnerInput"
                        aw-spinner="$parent.monthDay"
                        ng-model="$parent.monthDay"
                        min="1" max="31"
                        ng-change="resetError('scheduler_monthDay_error')" >
                    <div class="error"
                        ng-show="$parent.scheduler_monthDay_error"
                        translate>
                        The day must be between 1 and 31.
                    </div>
                </div>
                <div class="form-group
                    RepeatFrequencyOptions-formGroup"
                    ng-if="schedulerFrequency && schedulerFrequency.value == 'monthly'">
                    <div class="radio
                        RepeatFrequencyOptions-radioLabel">
                        <label class="Form-inputLabel">
                            <span class="red-text">*</span>
                            <input type="radio"
                                ng-disabled="!(schedule_obj.summary_fields.user_capabilities.edit || canAdd)"
                                value="other"
                                ng-model="$parent.monthlyRepeatOption"
                                ng-change="monthlyRepeatChange()"
                                name="monthlyRepeatOption"
                                id="monthlyRepeatOption"
                                translate>
                            on the
                        </label>
                    </div>
                    <div class="RepeatFrequencyOptions-inputGroup
                        RepeatFrequencyOptions-inputGroup--halves">
                        <select name="monthlyOccurrence"
                            id="monthlyOccurrence"
                            ng-model="$parent.monthlyOccurrence"
                            ng-options="o.name for o in occurrences"
                            ng-disabled="monthlyRepeatOption != 'other' || !(schedule_obj.summary_fields.user_capabilities.edit || canAdd)"
                            class=" MakeSelect2 form-control
                                input-sm
                                RepeatFrequencyOptions-spacedSelect
                                RepeatFrequencyOptions-monthlyOccurence"
                        >
                        </select>
                        <select name="monthlyWeekDay"
                            id="monthlyWeekDay"
                            ng-model="$parent.monthlyWeekDay"
                            ng-options="w.name for w in weekdays"
                            ng-disabled="monthlyRepeatOption != 'other' || !(schedule_obj.summary_fields.user_capabilities.edit || canAdd)"
                            class="MakeSelect2 form-control input-sm" >
                        </select>
                    </div>
                </div>
                <div class="form-group
                    RepeatFrequencyOptions-formGroup"
                    ng-if="schedulerFrequency && schedulerFrequency.value == 'yearly'">
                    <div class="radio
                        RepeatFrequencyOptions-radioLabel">
                        <span class="red-text">*</span>
                        <label class="Form-inputLabel">
                            <input type="radio"
                                ng-disabled="!(schedule_obj.summary_fields.user_capabilities.edit || canAdd)"
                                value="month"
                                ng-model="$parent.yearlyRepeatOption"
                                ng-change="yearlyRepeatChange()"
                                name="yearlyRepeatOption"
                                id="yearlyRepeatOption"
                                translate>
                            on
                        </label>
                    </div>
                    <div class="RepeatFrequencyOptions-inputGroup
                        RepeatFrequencyOptions-inputGroup--halvesWithNumber">
                        <select name="yearlyMonth"
                            id="yearlyMonth"
                            ng-model="$parent.yearlyMonth"
                            ng-options="m.name for m in months"
                            ng-disabled="yearlyRepeatOption != 'month' || !(schedule_obj.summary_fields.user_capabilities.edit || canAdd)"
                            class="MakeSelect2 form-control input-sm
                                RepeatFrequencyOptions-spacedSelect"
                        >
                        </select>
                        <input name="yearlyMonthDay"
                            ng-disabled="!(schedule_obj.summary_fields.user_capabilities.edit || canAdd)"
                            id="yearlyMonthDay"
                            sch-spinner="scheduler_form"
                            class="scheduler-spinner
                                SpinnerInput"
                            aw-spinner="$parent.yearlyMonthDay"
                            ng-model="$parent.yearlyMonthDay"
                            min="1" max="31"
                            ng-change="resetError('scheduler_yearlyMonthDay_error')"
                        >
                    </div>
                    <div class="error"
                        ng-show="$parent.scheduler_yearlyMonthDay_error"
                        translate>
                        The day must be between 1 and 31.
                    </div>
                </div>
                <div class="form-group
                    RepeatFrequencyOptions-formGroup"
                    ng-if="schedulerFrequency && schedulerFrequency.value == 'yearly'">
                    <div class="radio
                        RepeatFrequencyOptions-radioLabel">
                        <label class="Form-inputLabel">
                            <span class="red-text">*</span>
                            <input type="radio"
                                ng-disabled="!(schedule_obj.summary_fields.user_capabilities.edit || canAdd)"
                                value="other"
                                ng-model="$parent.yearlyRepeatOption"
                                ng-change="yearlyRepeatChange()"
                                name="yearlyRepeatOption"
                                id="yearlyRepeatOption"
                                translate>
                            on the
                        </label>
                    </div>
                    <div
                        class="RepeatFrequencyOptions-inputGroup
                            RepeatFrequencyOptions-inputGroup--thirds"
                    >
                        <select name="yearlyOccurrence"
                            id="yearlyOccurrence"
                            ng-model="$parent.yearlyOccurrence"
                            ng-options="o.name for o in occurrences"
                            ng-disabled="yearlyRepeatOption != 'other' || !(schedule_obj.summary_fields.user_capabilities.edit || canAdd)"
                            class="MakeSelect2
                                form-control input-sm
                                RepeatFrequencyOptions-spacedSelect
                                RepeatFrequencyOptions-yearlyOccurence
                                RepeatFrequencyOptions-thirdSelect"
                        >
                        </select>
                        <select name="yearlyWeekDay"
                            id="yearlyWeekDay"
                            ng-model="$parent.yearlyWeekDay"
                            ng-options="w.name for w in weekdays"
                            ng-disabled="yearlyRepeatOption != 'other' || !(schedule_obj.summary_fields.user_capabilities.edit || canAdd)"
                            class="MakeSelect2
                                form-control input-sm
                                RepeatFrequencyOptions-spacedSelect
                                RepeatFrequencyOptions-thirdSelect"
                        >
                        </select>
                        <select name="yearlyOtherMonth"
                            id="yearlyOtherMonth"
                            ng-model="$parent.yearlyOtherMonth"
                            ng-options="m.name for m in months"
                            ng-disabled="yearlyRepeatOption != 'other' || !(schedule_obj.summary_fields.user_capabilities.edit || canAdd)"
                            class="MakeSelect2
                                form-control input-sm
                                RepeatFrequencyOptions-thirdSelect">
                        </select>
                    </div>
                </div>
                <div class="form-group
                    RepeatFrequencyOptions-week
                    RepeatFrequencyOptions-formGroup"
                    ng-if="schedulerFrequency && schedulerFrequency.value == 'weekly'">
                    <label class="Form-inputLabel">
                        <span class="red-text">*</span>
                        <span translate>On Days</span>
                    </label>
                    <div class="input-group
                        RepeatFrequencyOptions-weekButtonContainer">
                        <div class="btn-group
                            RepeatFrequencyOptions-weekButtonGroup"
                            data-toggle="buttons-checkbox"
                            id="weekdaySelect">
                            <button type="button"
                                ng-disabled="!(schedule_obj.summary_fields.user_capabilities.edit || canAdd)"
                                ng-class="weekDaySUClass"
                                class="btn btn-default
                                    RepeatFrequencyOptions-weekButton"
                                data-value="SU"
                                ng-click="$parent.setWeekday($event,'su')"
                                translate>
                                Sun
                            </button>
                            <button type="button"
                                ng-disabled="!(schedule_obj.summary_fields.user_capabilities.edit || canAdd)"
                                ng-class="weekDayMOClass"
                                class="btn btn-default
                                    RepeatFrequencyOptions-weekButton"
                                data-value="MO"
                                ng-click="$parent.setWeekday($event,'mo')"
                                translate>
                                Mon
                            </button>
                            <button type="button"
                                ng-disabled="!(schedule_obj.summary_fields.user_capabilities.edit || canAdd)"
                                ng-class="weekDayTUClass"
                                class="btn btn-default
                                    RepeatFrequencyOptions-weekButton"
                                data-value="TU"
                                ng-click="$parent.setWeekday($event,'tu')"
                                translate>
                                Tue
                            </button>
                            <button type="button"
                                ng-disabled="!(schedule_obj.summary_fields.user_capabilities.edit || canAdd)"
                                ng-class="weekDayWEClass"
                                class="btn btn-default
                                    RepeatFrequencyOptions-weekButton"
                                data-value="WE"
                                ng-click="$parent.setWeekday($event,'we')"
                                translate>
                                Wed
                            </button>
                            <button type="button"
                                ng-disabled="!(schedule_obj.summary_fields.user_capabilities.edit || canAdd)"
                                ng-class="weekDayTHClass"
                                class="btn btn-default
                                    RepeatFrequencyOptions-weekButton"
                                data-value="TH"
                                ng-click="$parent.setWeekday($event,'th')"
                                translate>
                                Thu
                            </button>
                            <button type="button"
                                ng-disabled="!(schedule_obj.summary_fields.user_capabilities.edit || canAdd)"
                                ng-class="weekDayFRClass"
                                class="btn btn-default
                                    RepeatFrequencyOptions-weekButton"
                                data-value="FR"
                                ng-click="$parent.setWeekday($event,'fr')"
                                translate>
                                Fri
                            </button>
                            <button type="button"
                                ng-disabled="!(schedule_obj.summary_fields.user_capabilities.edit || canAdd)"
                                ng-class="weekDaySAClass"
                                class="btn btn-default
                                    RepeatFrequencyOptions-weekButton"
                                data-value="SA"
                                ng-click="$parent.setWeekday($event,'sa')"
                                translate>
                                Sat
                            </button>
                        </div>
                    </div>
                    <div class="error"
                        ng-show="$parent.scheduler_weekDays_error"
                        translate>
                        Please select one or more days.
                    </div>
                </div>
                <div class="form-group
                    RepeatFrequencyOptions-formGroup"
                    ng-if="schedulerShowInterval">
                    <label class="Form-inputLabel">
                        <span class="red-text">*</span>
                        <span translate>End</span>
                    </label>
                    <div>
                        <select id="schedulerEnd"
                            ng-disabled="!(schedule_obj.summary_fields.user_capabilities.edit || canAdd)"
                            name="schedulerEnd"
                            ng-model="$parent.schedulerEnd"
                            ng-options="e.name for e in endOptions"
                            required
                            class="MakeSelect2
                                form-control input-sm">
                        </select>
                    </div>
                </div>
                <div class="form-group
                    RepeatFrequencyOptions-everyGroup
                    RepeatFrequencyOptions-formGroup"
                    ng-if="schedulerEnd && schedulerEnd.value == 'after'">
                    <label class="Form-inputLabel">
                        <span class="red-text">*</span>
                        <span translate>Occurrence(s)</span>
                    </label>
                        <input
                            ng-disabled="!(schedule_obj.summary_fields.user_capabilities.edit || canAdd)"
                            ng-name="schedulerOccurrenceCount"
                            ng-id="schedulerOccurrenceCount"
                            sch-spinner="scheduler_form"
                            class="scheduler-spinner
                                SpinnerInput"
                            aw-spinner="$parent.schedulerOccurrenceCount"
                            ng-model="$parent.schedulerOccurrenceCount"
                            min="1" max="999"
                            on-change="resetError('scheduler_occurrenceCount_error')"
                        >
                    <div class="error
                        RepeatFrequencyOptions-error"
                        ng-show="$parent.scheduler_occurrenceCount_error"
                        translate>
                        Please provide a value between 1 and 999.
                    </div>
                </div>
                <div class="form-group RepeatFrequencyOptions-formGroup"
                    ng-if="schedulerEnd && schedulerEnd.value == 'on'">
                    <label class="Form-inputLabel">
                        <span class="red-text">*</span>
                        <span translate>End Date</span>
                    </label>
                    <scheduler-date-picker date="$parent.schedulerEndDt"
                        class="input-group Form-inputGroup SchedulerForm-inputGroup--date"
                        disabled="!(schedule_obj.summary_fields.user_capabilities.edit || canAdd)">
                    </scheduler-date-picker>
                    <div class="error"
                        ng-show="$parent.scheduler_endDt_error"
                        translate>
                        Please provide a valid date.
                    </div>
                </div>
            </div>
            <div class="RepeatFrequencyOptions-subFormBorderFixer"
                 ng-show="schedulerFrequency.value && schedulerFrequency.value !== 'none'">
            </div>
        </form>
        <div class="SchedulerFormDetail-container
            SchedulerFormDetail-container--error"
            ng-show="(scheduler_form.$invalid || !schedulerIsValid) && scheduler_form.$dirty">
            <p class="SchedulerFormDetail-errorText" translate>
                The scheduler options are invalid or incomplete.
            </p>
        </div>
        <div class="SchedulerFormDetail-container"
            ng-show="!scheduler_form.$invalid && schedulerIsValid">
            <label class="SchedulerFormDetail-label" translate>
                Schedule Description
            </label>
            <div class="SchedulerFormDetail-nlp" ng-hide="rrule_nlp_description == 'Natural language description not available' ">
                {{ rrule_nlp_description }}
            </div>
            <div class="SchedulerFormDetail-occurrenceHeader">
                <label class="SchedulerFormDetail-label
                    SchedulerFormDetail-labelOccurrence">
                    <span translate>Occurrences</span>
                    <span
                        class="SchedulerFormDetail-labelDetail"
                        translate>
                        (Limited to first 10)
                    </span>
                </label>
                <div id="date-choice"
                    class="SchedulerFormDetail-dateFormats">
                    <label
                        class="SchedulerFormDetail-dateFormatsLabel"
                        translate>
                        Date format
                    </label>
                    <label class="radio-inline
                        SchedulerFormDetail-radioLabel">
                        <input type="radio"
                            class="SchedulerFormDetail-radioButton"
                            ng-model="dateChoice"
                            id="date-choice-local"
                            value="local" >
                        <span translate>Local time</span>
                    </label>
                    <label class="radio-inline
                        SchedulerFormDetail-radioLabel">
                        <input type="radio"
                            class="SchedulerFormDetail-radioButton"
                            ng-model="dateChoice"
                            id="date-choice-utc"
                            value="utc" >
                        <span translate>UTC</span>
                    </label>
                </div>
            </div>
            <ul class="occurrence-list mono-space
                SchedulerFormDetail-occurrenceList"
                ng-show="dateChoice == 'utc'">
                <li ng-repeat="occurrence in occurrence_list">
                    {{ occurrence.utc }}
                </li>
            </ul>
            <ul class="occurrence-list mono-space
                SchedulerFormDetail-occurrenceList"
                ng-show="dateChoice == 'local'">
                <li ng-repeat="occurrence in occurrence_list">
                    {{ occurrence.local }}
                </li>
            </ul>
        </div>

        <div class="buttons Form-buttons">
            <button type="button"
                class="btn btn-sm Form-cancelButton"
                id="schedule_close_btn"
                ng-show="!(schedule_obj.summary_fields.user_capabilities.edit || canAdd)"
                ng-click="formCancel()"
                translate>Close</button>
            <button type="button"
                class="btn btn-sm Form-cancelButton"
                id="schedule_cancel_btn"
                ng-show="(schedule_obj.summary_fields.user_capabilities.edit || canAdd)"
                ng-click="formCancel()"
                translate>Cancel</button>
            <button type="button"
                class="btn btn-sm Form-saveButton"
                id="schedule_save_btn"
                ng-click="saveSchedule()"
                ng-show="(schedule_obj.summary_fields.user_capabilities.edit || canAdd)"
                ng-disabled="scheduler_form.$invalid || !schedulerIsValid"
                translate> Save</button>
        </div>
    </div>
</div>