<div class="Networking-shell">
    <div class="Networking-top">
        <div class="Networking-header">
            <div class="Networking-headerTitle">{{vm.panelTitle}}</div>
            <div class="Netowrking-headerActions">
                <div class="Networking-headerActionItem">
                    <button ng-click="vm.close()" type="button" class="close">
                        <i class="fa fa-times-circle"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="Networking-toolbar">
            <div class="Networking-toolbarLeftSide">
                <div class="Networking-actionsDropDownContainer">
                    <select id="networking-actionsDropdown"
                        style="width:400px">
                            <option></option>
                            <option value="Export" title="Export">Export SVG</option>
                            <option value="ExportYaml" title="ExportYaml">Export YAML</option>
                    </select>
                </div>
            </div>
            <div class="Networking-toolbarRightSide">
                <div class="">
                    <button ng-click="vm.hideToolbox()" type="button" class="Networking-toolbarIcon" ng-class="{'Networking-toolbarIcon--selected Networking-toolboxPanelToolbarIcon--selected' : vm.leftPanelIsExpanded}">
                        <i class="fa fa-wrench"></i>
                    </button>
                </div>
                <div class="Networking-keyContainer">
                    <button ng-click="vm.key()" type="button" class="Networking-toolbarIcon" ng-class="{'Networking-toolbarIcon--selected' : vm.keyPanelExpanded}">
                        <i class="fa fa-key"></i>
                    </button>
                    <div class="Networking-keyDropDownPanel" ng-if="vm.keyPanelExpanded">
                        <div class="Networking-dropdownPanelTitle">
                            KEY
                        </div>
                        <div class="Networking-keyPanelOption">
                            <div class="Networking-keySymbol">d</div>
                            <div class="Networking-keySymbolLabel">DEBUG MODE</div>
                        </div>
                        <div class="Networking-keyPanelOption">
                            <div class="Networking-keySymbol">p</div>
                            <div class="Networking-keySymbolLabel">HIDE CURSOR</div>
                        </div>
                        <div class="Networking-keyPanelOption">
                            <div class="Networking-keySymbol">b</div>
                            <div class="Networking-keySymbolLabel">HIDE BUTTONS</div>
                        </div>
                        <div class="Networking-keyPanelOption">
                            <div class="Networking-keySymbol">i</div>
                            <div class="Networking-keySymbolLabel">HIDE INTERFACES</div>
                        </div>
                        <div class="Networking-keyPanelOption">
                            <div class="Networking-keySymbol">0</div>
                            <div class="Networking-keySymbolLabel">RESET ZOOM</div>
                        </div>
                    </div>
                </div>
                <div class="Networking-searchBarContainer">
                    <select id="networking-search"
                        ng-model="device"
                        ng-options="device.label group by device.type | capitalize for device in devices | orderBy:'label' "
                        style="width:400px">
                            <option></option>
                    </select>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="Networking-detailPanel" ng-show="vm.rightPanelIsExpanded">
    <awx-net-details-panel item="item"></awx-net-details-panel>
</div>
<div class="Networking-canvasPanel">
    <awx-network-ui></awx-network-ui>
</div>
<div class="Networking-zoomPanel" ng-class="{'Networking-zoomPanel--expanded' : vm.rightPanelIsExpanded}">
    <awx-net-zoom-widget></awx-net-zoom-widget>
</div>
<div id="alert-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-hide="disableButtons" data-target="#alert-modal" data-dismiss="modal" class="modal" aria-hidden="true"><i class="fa fa-times-circle"></i></button>
                <h3 id="alertHeader" ng-bind="alertHeader"></h3>
            </div>
            <div class="modal-body">
                <div id="alert-modal-msg" class="alert" ng-bind-html="alertBody"></div>
            </div>
            <div class="modal-footer">
                <a href="#" ng-hide="disableButtons" data-target="#form-modal" data-dismiss="modal" id="alert_ok_btn" class="btn btn-default" translate>OK</a>
            </div>
        </div>
        <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
</div>
