<div ng-controller="TablesUIController">
    <ul class="nav nav-tabs">
        <li ng-repeat="sheet in sheets" role="presentation" class="{{sheet === name ? 'active': ''}}"><a href ng-click="changeSheet(sheet)">{{sheet}}</a></li>
    </ul>
    <table class="table table-bordered">
        <colgroup>
            <col ng-repeat="column_header in data[0]" style="width:10%">
        </colgroup>
        <thead>
            <tr>
                <th>
                </th>
                <th ng-repeat="column_header in data[0]">
                    {{column_header.value}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(row_index, row) in data track by $index" ng-if="$index > 0">
                <th>
                    {{row[0].value}}
                </th>
                <td ng-repeat="(column_index, cell) in row track by $index" ng-if="$index > 0" buttons="no" onbeforesave="updateData(cell.value, $data, column_index, row_index, data[0][column_index-1].value, row[0].value)" editable-text="cell.value" edit-disabled="{{!cell.editable}}" ng-attr-id="{{name + '_' + column_index + '_' + row_index}}">
                    {{cell.value}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
