authors:
- Wayne Witzel III (@wwitzel3)
- Chris Meyers <cmeyers@redhat.com>
dependencies: {}
description: Ansible modules that interact with the AWX API.
documentation: https://docs.ansible.com/ansible/latest/modules/list_of_web_infrastructure_modules.html#ansible-tower
homepage: https://ansible.com
issues: https://github.com/ansible/awx/issues
license:
- GPL-3.0-only
name: {{ collection_package }}
namespace: {{ collection_namespace }}
readme: README.md
repository: https://github.com/ansible/awx
tags: []
version: {{ collection_version }}
