pytz==2026.2  # for schedule_rrule lookup plugin
python-dateutil==2.9.0.post0  # schedule_rrule
awxkit  # For import and export modules; no version pin — installed from local source via pip install -e ./awxkit/