.at-Button(@bg, @bg-hover: @bg, @color, @color-hover: @color) {
    color: @color;
    background-color: @bg;
    padding: @at-padding-xs @at-padding-md;
    padding-bottom: @at-padding-xs + 1;

    &:hover {
        color: @color-hover;
        background-color: @bg-hover;
    }
}

.at-Button--success { .at-Button(@at-success, @at-success-dark, @at-white) }
.at-Button--link { .at-Button(@at-link, @at-link-dark, @at-white) }
.at-Button--danger { .at-Button(@at-danger, @at-danger, @at-white) }
.at-Button--light { .at-Button(@at-white, @at-gray-light, @at-gray-dark) }

