.at-InputSearch {
}

.at-InputSearch-field {
    .at-placeholder;  

    border-color: @at-gray-lighter;
    background-color: @at-white; 
    font-size: @at-font-md;

    @include placeholder(@at-gray);
}

.at-InputSearch-field:focus {
    border-color: @at-gray-lighter;
}

.at-Input-searchButton {
    .at-buttonColor;

    padding: 4px 10px;
    padding-bottom: 5px;
    font-size: @at-font-lg;
}

.at-Input-searchButton:hover {
    .at-buttonColorHover;
}

