/** @define SetupMenu */

@import "shared/branding/colors.less";
@menu-breakpoint: 710px;

.SetupMenu {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 0;

    @media screen and (max-width: @menu-breakpoint) {
        margin-left: -1rem;
    }
}
