/** @define SetupItem */

@import 'shared/branding/colors.less';

.SetupItem {

  &--aside {
    padding-bottom: @vertical-basis / 2;
  }
    @vertical-basis: 1.4rem;

    padding: 0;
    padding-bottom: @vertical-basis;

    color: black !important;
    flex: 1 0 100%;
    transition: background-color 0.25s ease-in-out;
    background-color: white !important;
    &:hover, &:focus, &:active {
        color: black;
    }

    .SetupItem-icon {
        max-width: 2.8rem;
        align-self: center;
        img {
            width: 2.3rem;
        }
    }

    &--button {
      border: 0;
      text-align: left;
      outline: none;
        .SetupItem-icon {
            // width: 100%;
        }
    }

    &-title {
        &--aside {
          font-size: 1.4rem;
          font-weight: bold;
        }
        font-size: 2.8rem;
        padding-bottom: 0.4rem;
        margin: 0;
    }

    &-description {
      &--aside {
        font-size: 1rem;
        font-style: italic;
      }
      font-family: merriweather;
      font-weight: lighter;
      color: black;
      font-size: 1.4rem;
      margin: 0;
    }
}
