<div id="bread_crumb" class="BreadCrumb" ng-class="{'is-loggedOut' : !current_user && !current_user.username}">
    <div ng-hide="licenseMissing" ncy-breadcrumb></div>
    <div class="BreadCrumb-menuLink"
        id="bread_crumb_activity_stream"
        aw-tool-tip="{{activityStreamTooltip}}"
        data-tip-watch="activityStreamTooltip"
        data-placement="left"
        data-trigger="hover"
        data-container="body"
        ng-class="{'BreadCrumb-menuLinkActive' : activityStreamActive}"
        ng-if="showActivityStreamButton"
        ng-hide= "loadingLicense || licenseMissing"
        ng-click="toggleActivityStream()">
        <i class="BreadCrumb-menuLinkImage icon-activity-stream"
            alt="Activity Stream">
        </i>
    </div>
</div>
