@import "../shared/branding/colors.default.less";

/** @define BreadCrumb */

.BreadCrumb {
    padding: 0;
    display: flex;
    background-color: @bc-bg;
    width: 100%;
    z-index: 1039;
    position: fixed;
    right: 0;
    left: 0;
    top: 60px;
    height: 40px;
    border-bottom: 1px solid @bc-border;
}
.BreadCrumb.is-loggedOut {
    opacity: 0;
}
.BreadCrumb-menuLink {
    width: 58px;
    border-left: 1px solid @bc-link-side;
    margin-left: auto;
    color: @bc-link-icon;
    flex: initial;
    display: flex;
    align-items: center;
    padding: 0 19px;
    cursor: pointer;
}
.BreadCrumb-menuLink:hover {
    background-color: @bc-link-bg-hov;
    color: @bc-link-icon;
}
.BreadCrumb-menuLink.BreadCrumb-menuLinkActive {
    color: @bc-link-icon-focus;
}
.BreadCrumb-menuLinkImage {
    font-size: 18px;
    flex: initial;
}

.BreadCrumb-list {
      padding: 0px 20px;
      list-style: none;
      background-color: @default-bg;
      border-radius: 4px;
      line-height: 40px;
}

.BreadCrumb-item {
    display: inline-block;
    color: @default-interface-txt;
    text-transform: uppercase;
}

.BreadCrumb-item + .BreadCrumb-item:before {
    content: "/";
    padding: 0 5px;
    color: @default-icon;
}

@breadcrumb-breakpoint: 900px;

@media screen and (max-width: @breadcrumb-breakpoint) {
    .BreadCrumb-menuLinkImage {
        font-size: 24px;
    }
    .BreadCrumb-menuLink {
        width: 67px;
        padding: 0 21px;
    }
}
