@import "./client/src/shared/branding/colors.default.less";
@import "../shared/branding/colors.less";

.Form-resetValue, .Form-resetFile {
    text-transform: uppercase;
    font-weight: normal;
    cursor: pointer;
    font-size: 12px;
}

.Form-resetValue {
    float: right
}

.Form-tab {
    min-width: 77px;
}

.Form-button--left {
    margin-right: auto;
    margin-left: 0;
}

.Form-nav--dropdown {
    width: 175px;
    margin-top: -52px;
    margin-bottom: 22px;
    margin-left: auto;
}

.Form-tabRow {
    width: 80%;
}

input.Form-filePicker {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
label#filePickerButton {
    cursor: pointer;
    background-color: #fff;
    color: @default-interface-txt;
}
input#filePickerText {
    cursor: default;
    border-radius: 0 5px 5px 0;
    background-color: #fff;
}

// Messagebar for system auditor role notifications
.Section-messageBar {
    width: 120%;
    margin-left: -20px;
    padding: 10px;
    color: @white;
    background-color: @default-link;
}

.Section-messageBar--close {
    position: absolute;
    right: 0;
    background: none;
    border: none;
    color: @info-close;
}

.Section-messageBar--close:hover {
    color: @white;
}
