.Form-resetValue {
    float: right;
    text-transform: uppercase;
    font-weight: normal;
    cursor: pointer;
    font-size: 12px;
}

.Form-tab {
    min-width: 77px;
}

.Form-button--left {
    margin-right: auto;
    margin-left: 0;
}

.Form-nav--dropdown {
    width: 175px;
    margin-top: -52px;
    margin-bottom: 22px;
    margin-left: auto;
}

.Form-tabRow {
    width: 80%;
}
