@import "./client/src/shared/branding/colors.default.less";
@import "../shared/branding/colors.less";

.Form-resetValue, .Form-resetFile {
    text-transform: uppercase;
    font-weight: normal;
    cursor: pointer;
    font-size: 12px;
}

.Form-resetValue {
    float: right
}

.Form-resetAll {
    border: none;
    padding: 0;
    background-color: @white;
    margin-right: auto;
    color: @default-link;
    font-size: 12px;

    &:hover {
        color: @default-link-hov;
    }
}

.Form-tab {
    min-width: 77px;
}

.Form-button--left {
    margin-right: auto;
    margin-left: 0;
}

.Form-nav--dropdownContainer {
    width: 285px;
    margin-top: -52px;
    margin-bottom: 22px;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 900px) {
  .Form-nav--dropdownContainer {
    margin: 0;
  }
}

.Form-nav--dropdown {
    width: 60%;
}

.Form-nav--dropdownLabel {
    text-transform: uppercase;
    color: @default-interface-txt;
    font-size: 14px;
    font-weight: bold;
    padding-right: 5px;
    padding-top: 5px;
}

.Form-tabRow {
    display: flex;
}

input.Form-filePicker {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
label#filePickerButton {
    cursor: pointer;
    background-color: #fff;
    color: @default-interface-txt;
}
input#filePickerText {
    cursor: default;
    border-radius: 0 5px 5px 0;
    background-color: #fff;
}

.Form-filePicker--selectedFile {
    margin: 12px 0;
}

.Form-filePicker--thumbnail {
    max-height: 40px;
    max-width: 40px;
}

// Messagebar for system auditor role notifications
.Section-messageBar {
    width: 120%;
    margin-left: -20px;
    padding: 10px;
    color: @white;
    background-color: @default-link;
}

.Section-messageBar--close {
    position: absolute;
    right: 0;
    background: none;
    border: none;
    color: @info-close;
}

.Section-messageBar--close:hover {
    color: @white;
}

//Codemirror and more disabling - you can still tab into the field with this method though
textarea[disabled="disabled"] + div[id*="-container"]{
    pointer-events: none;
    cursor: not-allowed;

        .CodeMirror {
            cursor: not-allowed;
        }

        .CodeMirror.cm-s-default,
        .CodeMirror-line {
            background-color: #f6f6f6;
        }

        .CodeMirror-gutter.CodeMirror-lint-markers,
        .CodeMirror-gutter.CodeMirror-linenumbers {
            background-color: #ebebeb;
            color: @b7grey;
        }

        .CodeMirror-lines {
            cursor: default;
        }

        .CodeMirror-cursors {
            display: none;
        }
}

//Needed to show the not-allowed cursor over a Codemirror instance
.Form-formGroup--disabled {
    cursor: not-allowed;

    // Filepicker and toggle disabling
    .Form-filePicker--pickerButton, .Form-filePicker--textBox,
    .ScheduleToggle {
        pointer-events: none;
        cursor: not-allowed;
    }

}
