<at-card-group>
    <at-card title="{{'Authentication' | translate}}" ng-click="vm.goToCard('auth')">
        <span translate>Enable simplified login for your Tower applications</span>
    </at-card>
    <at-card title="{{'Jobs' | translate}}" ng-click="vm.goToCard('jobs')">
        <span translate>Update settings pertaining to Jobs within Tower</span>
    </at-card>
    <at-card title="{{'System' | translate}}" ng-click="vm.goToCard('system')">
        <span translate>Define system-level features and functions</span>
    </at-card>
    <at-card title="{{'User Interface' | translate}}" ng-click="vm.goToCard('ui')">
        <span translate>Set preferences for data collection, logos, and logins</span>
    </at-card>
    <at-card title="{{'License' | translate}}" ng-show="vm.product === 'Tower'" ng-click="vm.goToCard('license')">
        <span translate>View and edit your license information</span>
    </at-card>
</at-card-group>