<div class="tab-pane Panel" id="management_jobs">
	<div class="List-title">
	    <div class="List-titleText">
	        Management Jobs
	    </div>
	    <span class="badge List-titleBadge ng-binding">
	        {{ mgmtCards.length }}
	    </span>
	</div>
	<div ui-view></div>
	<div class="MgmtCards">
		<div class="MgmtCards-card"
			ng-repeat="card in mgmtCards track by card.id">
			<!-- Begin Card Header -->
			<div class="MgmtCards-header">
				<h3 class="MgmtCards-label"> {{ card.name }}</h3>
				<div class="MgmtCards-actionItems">
					<button class="MgmtCards-actionItem List-actionButton"
						ng-click='chooseRunJob(card.id, card.name)'
						data-placement="top" aw-tool-tip="Launch Management Job" data-original-title="" title="">
						<i class="MgmtCards-actionItemIcon fa fa-rocket"></i>
					</button>
					<button class="MgmtCards-actionItem List-actionButton"
						ng-click='configureSchedule(card.id)'
						data-placement="top" aw-tool-tip="Schedule Management Job" data-original-title="" title="">
						<i class="MgmtCards-actionItemIcon fa fa-calendar"></i>
					</button>
					<button class="MgmtCards-actionItem List-actionButton"
						ng-click='goToNotifications(card, card.id)'
						data-placement="top" aw-tool-tip="Configure Notifications" data-original-title="" title="">
						<i class="MgmtCards-actionItemIcon fa fa-bell-o"></i>
					</button>
				</div>
			</div>
			<!-- End Card Header -->
			<!-- Begin Card Body -->
			<p>{{card.description || "Place organization description here"}}</p>
			<!-- End Card Body -->
		</div>
</div>
