<div id="management-jobs-panel">
	<aw-limit-panels max-panels="2" panel-container="management-jobs-panel"></aw-limit-panels>
	<div ui-view></div>
	<div class="card at-Panel" id="management_jobs">
		<div class="List-title">
			<div class="List-titleText" translate>
				MANAGEMENT JOBS
			</div>
			<span class="badge List-titleBadge ng-binding">
				{{ mgmtCards.length }}
			</span>
		</div>
		<div class="MgmtCards">
			<div class="MgmtCards-card"
				ng-repeat="card in mgmtCards track by card.id" ng-class="{'MgmtCards-card--selected': activeCard === card.id}">
				<!-- Begin Card Header -->
				<div class="MgmtCards-header">
					<h3 class="MgmtCards-label"> {{ card.name }}</h3>
					<div class="MgmtCards-actionItems">
						<button class="MgmtCards-actionItem List-actionButton"
							aria-label="{{'Launch Management Job'|translate}}"
							ng-click='submitJob(card.id, card.name)'
							ng-show='current_user.is_superuser'
							data-placement="top" aw-tool-tip="{{'Launch Management Job'|translate}}" data-original-title="" title="">
							<i class="MgmtCards-actionItemIcon icon-launch"></i>
						</button>
						<button class="MgmtCards-actionItem List-actionButton"
							aria-label="{{'Schedule Management Job'|translate}}"
							ng-click='configureSchedule(card.id)'
							data-placement="top" aw-tool-tip="{{'Schedule Management Job'|translate}}" data-original-title="" title="">
							<i class="MgmtCards-actionItemIcon fa fa-calendar"></i>
						</button>
						<button class="MgmtCards-actionItem List-actionButton"
							aria-label="{{'Configure Notifications'|translate}}"
							ng-click='goToNotifications(card, card.id)'
							ng-show='current_user.is_superuser'
							data-placement="top" aw-tool-tip="{{'Configure Notifications'|translate}}" data-original-title="" title="" ng-class="{'List-editButton--selected': activeCard === card.id && cardAction === 'notifications'}">
							<i class="MgmtCards-actionItemIcon fa fa-bell-o"></i>
						</button>
					</div>
				</div>
				<!-- End Card Header -->
				<!-- Begin Card Body -->
				<p>{{card.description || "Place organization description here"}}</p>
				<!-- End Card Body -->
			</div>
	</div>
</div>
