<div class="at-List-toolbar at-List--toolbar-padAbove">
    <smart-search
        class="at-List-search"
        django-model="users"
        base-path="{{ vm.basePath }}"
        iterator="user"
        list="vm.list"
        dataset="vm.user_dataset"
        collection="vm.users"
        search-tags="searchTags">
    </smart-search>
</div>
<at-list-toolbar
    ng-if="vm.users.length > 0"
    sort-only="true"
    sort-value="vm.toolbarSortValue"
    sort-options="vm.toolbarSortOptions"
    on-sort="vm.onToolbarSort">
</at-list-toolbar>
<at-list results="vm.users">
    <at-row ng-repeat="user in vm.users">
        <div class="at-Row-items">
            <at-row-item
                header-value="{{ user.summary_fields.user.username | sanitize }}"
                header-link="/#/users/{{ user.summary_fields.user.id }}">
            </at-row-item>
            <at-row-item
                label-value="{{:: vm.strings.get('list.ROW_ITEM_LABEL_DESCRIPTION') }}"
                value="{{ user.description | sanitize }}">
            </at-row-item>
            <at-row-item
                label-value="{{:: vm.strings.get('list.ROW_ITEM_LABEL_EXPIRED') }}"
                value="{{ user.expires | longDate }}">
            </at-row-item>
        </div>
    </at-row>
</at-list>
<paginate
    collection="vm.users"
    dataset="vm.user_dataset"
    iterator="user"
    base-path="{{ vm.basePath }}">
</paginate>
