.pf-c-card__header {
  --pf-c-card__header--PaddingBottom: 0;
  --pf-c-card__header--PaddingX: 0;
  --pf-c-card__header--PaddingRight: 0;
  --pf-c-card__header--PaddingLeft: 0;
  --pf-c-card__header--PaddingTop: 0;
}

.pf-c-tabs {
  --pf-global--link--Color: #484848;
  --pf-global--link--Color--hover: #484848;
  --pf-global--link--TextDecoration--hover: none;

  &:before {
    border-bottom: 1px solid var(--pf-c-tabs__item--BorderColor);
    border-top: 1px solid var(--pf-c-tabs__item--BorderColor);
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .pf-c-tabs__button {
    --pf-c-tabs__button--PaddingLeft: 20px;
    --pf-c-tabs__button--PaddingRight: 20px;
    display: block;

    &:after {
      content: '';
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .pf-c-tabs__item:not(.pf-m-current):hover
  .pf-c-tabs__button::after {
    border-top: none;
  }

  .pf-c-tabs__item:hover
  .pf-c-tabs__button:not(.pf-m-current)::after {
    border-bottom: 3px solid var(--pf-global--Color--dark-200);
    border-top: none;
  }

  .pf-c-tabs__button.pf-m-current::after {
    content: '';
    border-bottom: 3px solid var(--pf-c-tabs__item--m-current--Color);
    border-top: none;
    margin-left: 1px;
  }
}

