DATABASES = {
    'default': {
        'ATOMIC_REQUESTS': True,
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': "{{ pg_database }}",
        'USER': "{{ pg_username }}",
        'PASSWORD': "{{ pg_password }}",
        'HOST': "{{ pg_hostname | default('postgres') }}",
        'PORT': "{{ pg_port }}",
    }
}

BROADCAST_WEBSOCKET_SECRET = "{{ broadcast_websocket_secret | b64encode }}"

SYSTEM_UUID = "{{ uuid }}"
CLUSTER_HOST_ID = "{{ awx_task_hostname | default('awx') }}"
