DATABASE_USER={{ pg_username }}
DATABASE_NAME={{ pg_database }}
DATABASE_HOST={{ pg_hostname|default('postgres') }}
DATABASE_PORT={{ pg_port|default('5432') }}
DATABASE_PASSWORD={{ pg_password | quote }}
MEMCACHED_HOST={{ memcached_hostname|default('memcached') }}
MEMCACHED_PORT={{ memcached_port|default('11211') }}
RABBITMQ_HOST={{ rabbitmq_hostname|default('rabbitmq') }}
RABBITMQ_PORT={{ rabbitmq_port|default('5672') }}
AWX_ADMIN_USER={{ admin_user }}
AWX_ADMIN_PASSWORD={{ admin_password | quote }}
