<div id="associate-groups-modal" class="modal fade">
    <div class="AssociateGroups-backDrop is-loggedOut"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header Form-header">
                <div class="Form-title Form-title--uppercase" translate>SELECT GROUPS</div>
                <div class="Form-header--fields"></div>
                <div class="Form-exitHolder">
                    <button aria-label="{{:: appStrings.get('CLOSE') }}" type="button" class="Form-exit" ng-click="closeModal()">
                        <i class="fa fa-times-circle"></i>
                    </button>
                </div>
            </div>
            <div class="modal-body AssociateGroups-modalBody" id="associate-groups-list"></div>
            <div class="modal-footer">
                <button ng-click="closeModal()" class="btn btn-default" translate>CANCEL</button>
                <button ng-click="linkGroups()" class="Lookup-save btn btn-primary" ng-disabled="!selectedItems || selectedItems.length === 0" translate>SAVE</button>
            </div>
        </div>
    </div>
</div>
