.InstanceGroups {

    .BreadCrumb-menuLinkImage:hover {
        color: @default-link;
    }

    .List-details {
        align-self: flex-end;
        color: @default-interface-txt;
        display: flex;
        flex: 0 0 auto;
        font-size: 12px;
        margin-right:20px;
        text-transform: uppercase;
    }

    .Capacity-details {
        display: flex;
        margin-right: 20px;
        align-items: center;

        .Capacity-details--label {
            color: @default-interface-txt;
            margin: 0 10px 0 0;
            width: 100px;
        }
    }

    .RunningJobs-details {
        align-items: center;
        display: flex;

        .RunningJobs-details--label {
            margin: 0 10px 0 0;
        }
    }

    .List-tableCell--capacityColumn {
        display: flex;
        height: 40px;
        align-items: center;
    }

    .List-noItems {
        margin-top: 20px;
    }

    .List-tableRow .List-titleBadge {
            margin: 0 0 0 5px;
    }
}
