@import "../shared/branding/colors.default.less";

.Detail-actionButton {
    padding: 4px 25px!important;
}

.Detail-inlineRow {
    margin-bottom: 20px;
    display: flex;
}

.Detail-rowTitle {
    color: @default-interface-txt;
}

.Detail-inlineRowTitle {
    flex: 0 0 110px;
}

.Detail-inlineRowData {
    flex: 1 0;
}

.Detail-changesRowTitle {
    margin-bottom: 5px;
}

.Detail-changes {
    border: none;
    background-color: @default-secondary-bg;
    margin-bottom: 0;
    max-height: 200px;
    overflow: scroll;
    color: @as-detail-changes-txt;
}
