{% extends 'rest_framework/base.html' %}
{% load i18n %}

{% block title %}{% trans 'AWX REST API' %}{% endblock %}

{% block style %}
{{ block.super }}
<link href="{{ STATIC_URL }}img/favicon.ico" rel="shortcut icon" />
<style type="text/css">
html body {
  background: #ddd;
}
html body .navbar .navbar-inner {
  border-top: none;
  height: 54px;
}
html body .navbar-inverse .navbar-inner {
    background-color: #171717;
    background-image: -moz-linear-gradient(top, #171717, #171717);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#171717), to(#171717));
    background-image: -webkit-linear-gradient(top, #171717, #171717);
    background-image: -o-linear-gradient(top, #171717, #171717);
    background-image: linear-gradient(to bottom, #171717, #171717);
    background-repeat: repeat-x;
    border-color: #171717;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#171717', endColorstr='#171717', GradientType=0);
}
html body .navbar-inverse .nav > li > a {
    color: #A9A9A9;
}
html body .navbar-inverse .nav > li > a:hover,
html body .navbar-inverse .nav > li > a:focus {
   color: #2078be;
}
html body .navbar .brand img {
    width: 200px;
    margin-top: -6px;
    margin-right: 0.5em;
}
html body .navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
html body .navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
html body .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #074979;
}
html body .navbar-inverse .brand {
  font-size: 1.2em;
  color: #fff;
  padding-top: 6px;
  padding-left: 4px;
}
html body .navbar-inverse .nav.pull-right {
  margin-top: 8px;
  margin-right: -8px;
}
html body ul.breadcrumb {
  margin-top: 72px;
}
span.powered-by .version {
  color: #ddd;
}
span.powered-by {
  font-size: 75%;
  color: #ddd;
}
html body .navbar .navbar-inner .dropdown-menu li a,
html body .navbar .navbar-inner .dropdown-menu li,
html body .hero-unit h2,
html body .hero-unit h1,
html body a,
html body a {
 color: #2078be; 
}
html body .navbar .navbar-inner .dropdown-menu li a:hover,
html body a:hover {
  color: #2078be;
}
html body ul.breadcrumb,
html body .prettyprint,
html body .well.tab-content {
  border: 1px solid #ccc;
}
html body .prettyprint {
  background: #f5f5f5;
}
html body .str,
html body .atv,
html body code {
  color: #074979;
}
html body .str a {
  text-decoration: underline;
}
html body .page-header {
  margin-bottom: 0;
}
html body .description {
  padding-bottom: 0;
  display: none;
}
#footer {
  font-size: 0.8em;
  text-align: center;
  padding-bottom: 1em;
}
#footer a,
#footer a:hover {
  color: #333;
}
img.awxlogo {
  width: 125px;
  margin-bottom: 0.5em;
}
html body .wrapper {
  min-height: 1%;
  height: auto !important;
  margin: 0 auto 0;
}
html body #footer {
  height: auto !important;
}
html body #push {
	height: 0;
}
</style>
{% endblock %}

{% block branding %}
  <a class="brand" href="/api/"><img class="logo" src="{{ STATIC_URL }}img/logo.png">{% trans 'REST API' %}</a>
{% endblock %}

{% block userlinks %}
  {% if user.is_authenticated %}
  <li>
    <a href="/api/v1/me/">{{ user }}</a>
  </li>
  {% endif %}
{% endblock %}

{% block footer %}
<div id="footer">
  <img class="awxlogo" src="{{ STATIC_URL }}img/AWX_logo.png" /><br/>
  Copyright &copy; 2013 <a href="http://www.ansibleworks.com/">AnsibleWorks, Inc.</a> All rights reserved.<br />
  1482 East Valley Road, Suite 888 &middot; Santa Barbara, California, 93108 &middot; <a href="tel:18008250212">+1-800-825-0212<a/></div>
{% endblock %}

{% block script %}
{{ block.super }}
<script type="text/javascript">
$(function() {
  // Make links from relative URLs to resources.
  $('span.str').each(function() {
    // Remove REST API links within data.
    if ($(this).parent('a').size()) {
      $(this).unwrap();
    }
    var s = $(this).html();
    if (s.match(/^\"\/.+\/\"$/) || s.match(/^\"\/.+\/\?.*\"$/)) {
      $(this).html('"<a href=' + s + '>' + s.replace(/\"/g, '') + '</a>"');
    }
  });
  // Make links for all inventory script hosts.
  $('.request-info .pln:contains("script")').each(function() {
    $('.response-info span.str:contains("hosts")').each(function() {
      if ($(this).text() != '"hosts"') {
        return;
      }
      var hosts_state = 0;
      $(this).find('~ span').each(function() {
          if (hosts_state == 0) {
            if ($(this).is('span.pun') && $(this).text() == '[') {
              hosts_state = 1;
            }
          }
          else if (hosts_state == 1) {
            if ($(this).is('span.pun') && ($(this).text() == ']' || $(this).text() == '],')) {
              hosts_state = 2;
            }
            else if ($(this).is('span.str')) {
              if ($(this).text() == '"') {
              }
              else if ($(this).text().match(/^\".+\"$/)) {
                var s = $(this).text().replace(/\"/g, '');
                $(this).html('"<a href="' + '?host=' + s + '">' + s + '</a>"');
              }
              else {
                var s = $(this).text();
                $(this).html('<a href="' + '?host=' + s + '">' + s + '</a>');
              }
            }
          }
      });
    });
  });
  // Add classes/icons for dynamically showing/hiding help.
  if ($('.description').html()) {
    $('.description').addClass('well').addClass('well-small').addClass('prettyprint');
    $('.description').prepend('<a class="hide-description pull-right" href="#" title="Hide Description"><i class="icon-remove"></i></a>');
    $('a.hide-description').click(function() {
      $('.description').slideUp('fast');
      return false;
    });
    $('.page-header h1').append('<a class="toggle-description" href="#" title="Show/Hide Description"><i class="icon-question-sign"></i></a>');
    $('a.toggle-description').click(function() {
      $('.description').slideToggle('fast');
      return false;
    });
    if (window.location.hash == '#showhelp') {
      $('.description').slideDown('fast');
    }
  }
  $('.btn-primary').removeClass('btn-primary').addClass('btn-success');
});
</script>
{% endblock %}
