.at-Title-row {
    align-items: center;
    flex: 1 0 auto;
    display: flex; 
}

.at-Title-text {
    color: @at-gray-dark;
    font-size: @at-font-md;
    font-weight: bold;
    margin-right: @at-margin-sm;
    text-transform: uppercase;
}

.at-Title-badge {
    font-size: @at-font-sm;
    padding: 0 @at-padding-sm;
    margin: 0;
    background-color: @at-gray;
    color: @at-white;
    border-radius: @at-border-radius-md;
}
