/**
 * For styles that are used in more than one place throughout the application.
 *
 * 1. Buttons
 *
 */

// 1. Buttons
// ------------------------------------------------------------------------------------------------
.at-Button--success {
  .at-Button(@at-success, @at-white);
}
.at-Button--link {
  .at-Button(@at-link, @at-white);
}
.at-Button--danger {
  .at-Button(@at-danger, @at-white);
}
.at-Button--default { 
  .at-Button(@at-white, @at-gray);

  border-color: @at-gray-light;

  &:hover {
    background: @at-gray-lightest;
  }
}

.at-Button--icon {
  padding: @at-padding-xxs @at-padding-sm;
  font-size: @at-font-lg;
}

