.at-placeholder(@color) {
    &:-moz-placeholder {
        color: @color;
    }
    &:-ms-input-placeholder {
        color: @color;
    }
    &::-webkit-input-placeholder {
        color: @color;
    }
}

.at-Button(@bg, @color) {
    color: @color;
    background-color: @bg;
    padding: @at-padding-xs @at-padding-md;

    &:hover {
        color: @color;
        background-color: '@{bg}-dark';
    }
}
