.at-placeholder {
    &:-moz-placeholder {
        color: @at-gray-dark;
    }
    &:-ms-input-placeholder {
        color: @at-gray-dark;
    }
    &::-webkit-input-placeholder {
        color: @at-gray-dark;
    }
}

.at-buttonColor () {
    background-color: @at-white;
    border-color: @at-gray-lighter;
    color: @at-gray;
}

.at-buttonColorHover () {
    background-color: @at-gray-lightest;  
    border-color: @at-gray-lighter;
    color: @at-gray;
}
