.at-IconButton () {
    line-height: 0.9;
    color: @at-gray-light;

    & > i {
        cursor: pointer;
    }

    & > i:hover {
        color: @at-gray;
    }
}

.at-Placeholder (@color) {
    &:-moz-placeholder {
        color: @color;
    }
    &:-ms-input-placeholder {
        color: @color;
    }
    &::-webkit-input-placeholder {
        color: @color;
    }
}

.at-Button (@bg, @color) {
    color: @color;
    background-color: @bg;
    padding: @at-padding-xs @at-padding-md;

    &:hover {
        color: @color;
        background-color: '@{bg}-dark';
    }
}
