@at-white: #ffffff;

@at-gray-lightest: #f6f6f6;
@at-gray-lighter: #fafafa;
@at-gray-light: #b7b7b7;
@at-gray: #848992;
@at-gray-dark: #707070;

@at-link: #337AB7;
@at-link-dark: #286090;

@at-success: #5CB85C;
@at-success-dark: #449D44;

@at-danger: #449D44;

@at-font-sm: 12px;
@at-font-md: 14px;
@at-font-lg: 16px;

@at-padding-xs: 6px;
@at-padding-sm: 10px;
@at-padding-md: 20px;

@at-margin-sm: 10px;
@at-margin-md: 20px;

@at-border-radius-md: 5px;
