@at-white: #ffffff;
@at-gray-lightest: #fafafa;
@at-gray-lighter: #f6f6f6;
@at-gray-light: #b7b7b7;
@at-gray: #848992;
@at-gray-dark: #707070;
@at-gray-darkest: #161b1f;
@at-link: #337ab7;
@at-link-dark: #286090;
@at-success: #5cb85c;
@at-success-dark: #449D44;
@at-danger: #d9534f;

@at-font-xs: 12px;
@at-font-sm: 13px;
@at-font-md: 14px;
@at-font-lg: 16px;

@at-font-weight-sm: 400;
@at-font-weight-md: 700;
@at-font-weight-lg: 900;

@at-padding-xxs: 5px;
@at-padding-xs: 6px;
@at-padding-sm: 10px;
@at-padding-md: 20px;

@at-margin-xxs: 3px;
@at-margin-xs: 4px;
@at-margin-sm: 10px;
@at-margin-md: 20px;

@at-border-radius-md: 5px;

@at-input-height-md: 34px;

@at-line-height-md: 24px;

@at-popover-width: 320px;
