@at-white: #ffffff;
@at-gray-lightest: #fafafa;
@at-gray-lighter: #b7b7b7;
@at-gray: #848992;
@at-gray-dark: #707070;

@at-font-sm: 12px;
@at-font-md: 14px;
@at-font-lg: 16px;

@at-padding-xs: 6px;
@at-padding-sm: 10px;
@at-padding-md: 20px;

@at-margin-sm: 10px;
@at-margin-md: 20px;

@at-border-radius-md: 5px;
