---
global:
  scrape_interval: 15s  # Set the scrape interval to every 15 seconds. Default is every 1 minute.

scrape_configs:
  - job_name: 'awx'
    static_configs:
      - targets: ['awx1:8043']  # or haproxy:8043 in cluster env
    tls_config:
      insecure_skip_verify: true
    metrics_path: /api/v2/metrics
    scrape_interval: 5s
    scheme: https
    params:
      format: ['txt']
    basic_auth:
      username: admin  # change this
      password: password  # change this
