/** @define StandardOut */

.StandardOut {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.StandardOut-header {
    flex: initial;
}

.StandardOut-breadcrumbs {
    padding-left: 15px;
}

.StandardOut-form {
    padding-left: 15px;
}

.StandardOut-panel {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    margin-bottom: -41px;
}

.StandardOut-panelHeading {
    flex: initial;
}

.StandardOut-panelBody {
    flex: 1 0 auto;
    padding: 0;
    position: relative;
}

.StandardOut-preContainer {
    position: absolute;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.StandardOut-preContent {
    position: absolute;
}
