@import "../shared/branding/colors.default.less";
@import "awx/ui/client/src/shared/layouts/one-plus-two.less";

/** @define StandardOut */

standard-out-log {
    flex: 5;
    display: flex;
}

.StandardOut-preContent{
    font-size: 12px;
    padding: 0 20px 0 20px;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
.StandardOut-container {
    .OnePlusTwo-container;

    &.fullscreen {
        .StandardOut-rightPanel {
            max-width: 100%;
        }
    }
}

.StandardOut-leftPanel {
    .OnePlusTwo-left--panel(590px);
}

.StandardOut-rightPanel {
    .OnePlusTwo-right--panel(590px);

    @media (min-width: 900px) {
        max-width: 50%;
    }

    .Panel {
        display: flex;
        flex-direction: column;
    }

    .StandardOut-consoleOutput {
        height: auto;
    }
}

.StandardOut-panelHeader {
    .OnePlusTwo-panelHeader
}

.StandardOut-consoleOutput {
    margin-top: 25px;
    background-color: @default-secondary-bg;
    border-radius: 5px;
    min-height: 300px;
    max-height: 100vh;
    height: ~"calc(100vh - 245px)";
    width: 100%;

    overflow: auto;
    #pre-container {
        overflow: visible !important;
    }
}

.StandardOut-details {
    .OnePlusTwo-left--details;
}

.StandardOut-detailsRow {
    .OnePlusTwo-left--detailsRow;
}

.StandardOut-detailsRow + .StandardOut-detailsRow {
    margin-top: 20px;
}

.StandardOut-detailsRow--extraVars {
    margin-bottom: 10px;
}

.StandardOut-detailsLabel {
    .OnePlusTwo-left--detailsLabel;
}

.StandardOut-detailsContent {
    .OnePlusTwo-left--detailsContent;
}

.StandardOut-statusText {
    margin-left: 6px;
}

.StandardOut--capitalize {
    text-transform: capitalize;
}

.StandardOut-preContainer {
    height: 100%;
}

.StandardOut-panelHeaderText {
    align-items: center;
    flex: 1 0 auto;
    display: flex;
}

.StandardOut-panelHeaderActions {
    justify-content: flex-end;
    display: flex;
    margin-left: 10px;
    font-size: 20px;
}

.StandardOut-actionButton {
    font-size: 16px;
    height: 30px;
    min-width: 30px;
    color: @list-action-icon;
    background-color: inherit;
    border: none;
    border-radius: 50%;
}

.StandardOut-actionButton:hover {
    background-color: @list-actn-bg-hov;
    color: @list-actn-icn-hov;
}

.StandardOut-actionButton--active {
    background-color: @list-actn-bg-hov;
    color: @list-actn-icn-hov;

    &:hover {
        background-color: @default-link-hov;
    }
}

.StandardOut-actionButton + a {
    margin-left: 15px;
}
