<div class="WorkflowMaker-formTitle">
    {{readOnly ? strings.get('workflow_maker.VIEW_LINK') : (linkConfig.mode === 'add' ? strings.get('workflow_maker.ADD_LINK') : strings.get('workflow_maker.EDIT_LINK')) }} | {{linkConfig.source.name}} {{linkConfig.target ? '&rarr; ' + linkConfig.target.name : ''}}
</div>
<div class="WorkflowMaker-form">
    <div class="form-group Form-formGroup Form-formGroup--singleColumn">
        <div ng-show="linkConfig.mode === 'add' && !linkConfig.target">{{:: strings.get('workflow_maker.NEW_LINK')}}</div>
        <span ng-show="linkConfig.target">
            <label for="edgeType" class="Form-inputLabelContainer">
                <span class="Form-requiredAsterisk">*</span>
                <span class="Form-inputLabel">{{:: strings.get('workflow_maker.RUN') }}</span>
            </label>
            <div>
                <select
                    id="workflow_link_edge"
                    ng-options="v as v.label for v in edgeTypeOptions track by v.value"
                    ng-model="edgeType"
                    class="form-control Form-dropDown"
                    name="edgeType"
                    tabindex="-1"
                    ng-disabled="readOnly"
                    aria-hidden="true">
                </select>
            </div>
        </span>
    </div>
    <div class="buttons Form-buttons" id="workflow_maker_controls">
        <button type="button" class="btn btn-sm Form-primaryButton Form-primaryButton--noMargin" id="workflow_maker_unlink_btn" ng-show="!readOnly && linkConfig.canUnlink" ng-click="unlink()"> {{:: strings.get('workflow_maker.UNLINK') }}</button>
        <button type="button" class="btn btn-sm Form-cancelButton" id="workflow_maker_cancel_link_btn" ng-show="!readOnly" ng-click="cancel()"> {{:: strings.get('CANCEL') }}</button>
        <button type="button" class="btn btn-sm Form-cancelButton" id="workflow_maker_cancel_link_btn" ng-show="readOnly" ng-click="cancel()"> {{:: strings.get('CLOSE') }}</button>
        <button type="button" class="btn btn-sm Form-saveButton" id="workflow_maker_select_link_btn" ng-show="!readOnly && linkConfig.target" ng-click="select({edgeType: edgeType.value})" ng-disabled="!edgeType"> {{:: strings.get('SAVE') }}</button>
    </div>
</div>
