
@import '../shared/branding/colors.less';
@import '../shared/branding/colors.default.less';


.JobResults-badgeTitle{
    color: #707070;
    font-size: 14px;
    margin-right: 10px;
    font-weight: normal;
    text-transform: uppercase;
    margin-left: 20px;
}

.JobResults-badgeRow{
    display:flex;
    align-items: center;
    margin-right: 5px;
}
