@import 'host-event/_index';
.at-Stdout {
    &-menuTop {
        color: @at-gray-646972;
        border: 1px solid @at-gray-b7;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom: none;
        margin-top: 15px;

        & > div {
            user-select: none;
        }
    }

    &-menuIconGroup {
        & > p {
            margin: 0;
        }

        & > p:first-child {
            font-size: 20px;
            margin-right: 8px;
        }

        & > p:last-child {
            margin-top: 9px;
        }
    }

    &-menuIcon {
        font-size: 12px;
        padding: 10px;
        cursor: pointer;

        &:hover {
            color: @at-blue;
        }
    }

    &-menuIcon--md {
        font-size: 14px;
        padding: 10px;
        cursor: pointer;

        &:hover {
            color: @at-blue;
        }
    }

    &-menuIcon--lg {
        font-size: 22px;
        line-height: 12px;
        font-weight: bold;
        padding: 10px;
        cursor: pointer;

        &:hover {
            color: @at-blue;
        }
    }

    &-menuIcon--active {
        font-size: 22px;
        line-height: 12px;
        font-weight: bold;
        padding: 10px;
        cursor: pointer;
        color: @at-blue;
    }

    &-row {
        display: flex;

        &:hover {
            background-color: white;
        }

        &:hover div {
            background-color: white;
        }

        &--hidden {
            display: none;
        }
    }

    &-row--clickable {
        cursor: pointer;
    }

    &-toggle {
        background-color: @at-gray-eb;
        color: @at-gray-646972;
        display: flex;
        flex: 0 0 30px;
        font-size: 18px;
        justify-content: center;
        line-height: 12px;

        & > i {
            cursor: pointer;
        }

        user-select: none;
    }

    &-line {
        color: @at-gray-161b1f;
        background-color: @at-gray-eb;
        flex: 0 0 45px;
        text-align: right;
        vertical-align: top;
        padding-right: 5px;
        border-right: 1px solid @at-gray-b7;
        user-select: none;
    }

    &-line--clickable {
        cursor: pointer;
    }

    &-event {
        .at-mixin-event();
    }

    &-time {
        padding-right: 2ch;
        font-size: 12px;
        text-align: right;
        user-select: none;
        width: 11ch;

        & > span {
            background-color: white;
            border-radius: 4px;
            padding: 1px 2px;
        }
    }

    &-wrapper {
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
    }

    &-container {
        background-color: @at-gray-f2;
        border-radius: 0 0 4px 4px;
        border: 1px solid @at-gray-b7;
        color: @at-gray-161b1f;
        display: flex;
        flex-direction: column;
        flex: 1;
        font-family: monospace;
        font-size: 15px;
        height: 100%;
        margin: 0;
        overflow-y: scroll;
        padding: 0;

        @media screen and (max-width: @breakpoint-md) {
            max-height: calc(100vh - 30px);
        }
    }

    &-borderHeader {
        .at-mixin-stdoutBorder();
        height: 10px;
    }

    &-borderFooter {
        .at-mixin-stdoutBorder();
        flex: 1;
    }

    &--fullscreen {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    /* The ng-transclude tag that gets injected as a part of at-Panel was throwing off the height
    of the panel after Bootstrap's move to display: flex.  This seemed like the most concise fix*/
    ng-transclude {
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
    }
}

.at-mixin-event() {
    padding: 0 10px;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

.at-mixin-stdoutBorder() {
    background-color: @at-gray-eb;
    border-right: 1px solid @at-gray-b7;
    width: 75px;
}

// Search ---------------------------------------------------------------------------------
@at-jobz-top-search-key: @at-space-2x;
@at-jobz-bottom-search-key: @at-space-3x;

.jobz-searchKeyPaneContainer {
    margin-top: @at-jobz-top-search-key;
    margin-bottom: @at-jobz-bottom-search-key;
}

.jobz-searchKeyPane {
    // background-color: @at-gray-f6;
    background-color: @login-notice-bg;
    color: @login-notice-text;
    border-radius: @at-border-radius;
    border: 1px solid @at-gray-b7;
    // color: @at-gray-646972;
    padding: 6px @at-padding-input 6px @at-padding-input;
}

.jobz-searchClearAllContainer {
    .at-mixin-VerticallyCenter();
}

.jobz-searchClearAll {
    font-size: 10px;
}

.jobz-Button-searchKey {
    .at-mixin-Button();

    background-color: @at-blue;
    border-color: at-color-button-border-default;
    color: @at-white;

    &:hover, &:active {
        color: @at-white;
        background-color: @at-blue-hover;
        box-shadow: none;
    }

    &:focus {
        color: @at-white;
    }
}

.jobz-tagz {
    margin-top: @at-space;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-left: -5px;
}

// Status Bar -----------------------------------------------------------------------------
.HostStatusBar {
    display: flex;
    flex: 0 0 auto;
    width: 100%;
    margin-bottom: 15px;
}

.HostStatusBar-ok,
.HostStatusBar-changed,
.HostStatusBar-dark,
.HostStatusBar-failures,
.HostStatusBar-skipped,
.HostStatusBar-noData {
    height: 15px;
    border-top: 5px solid @default-bg;
    border-bottom: 5px solid @default-bg;
}

.HostStatusBar-ok {
    background-color: @default-succ;
    display: flex;
    flex: 0 0 auto;
}

.HostStatusBar-changed {
    background-color: @default-warning;
    flex: 0 0 auto;
}

.HostStatusBar-dark {
    background-color: @default-unreachable;
    flex: 0 0 auto;
}

.HostStatusBar-failures {
    background-color: @default-err;
    flex: 0 0 auto;
}

.HostStatusBar-skipped {
    background-color: @default-link;
    flex: 0 0 auto;
}

.HostStatusBar-noData {
    background-color: @default-icon-hov;
    flex: 1 0 auto;
}

.HostStatusBar-tooltipLabel {
    text-transform: uppercase;
    margin-right: 15px;
}

.HostStatusBar-tooltipBadge {
    border-radius: 5px;
    border: 1px solid @default-bg;
}

.HostStatusBar-tooltipBadge--ok {
    background-color: @default-succ;
}

.HostStatusBar-tooltipBadge--dark {
    background-color: @default-unreachable;
}

.HostStatusBar-tooltipBadge--skipped {
    background-color: @default-link;
}

.HostStatusBar-tooltipBadge--changed {
    background-color: @default-warning;
}

.HostStatusBar-tooltipBadge--failures {
    background-color: @default-err;

}

.HostStatusBar-tooltip.top {
    margin-top: 4px;
}

// Job Details ---------------------------------------------------------------------------------

@breakpoint-md: 1200px;

.JobResults-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: minmax(400px, 1fr) minmax(500px, 2fr);
    grid-template-rows: minmax(500px, ~"calc(100vh - 130px)");

    .at-Panel {
        min-width: 0;
        overflow-y: auto;
    }
}

.JobResults-detailsPanel {
    display: flex;
    flex-direction: column;
}

.JobResults-panelHeader {
    display: flex;
    height: 30px;
}

.JobResults-panelHeaderText {
    color: @default-interface-txt;
    flex: 1 0 auto;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
    text-transform: uppercase;
}

.JobResults-panelHeaderButtonActions {
    display: flex;
}

.JobResults-resultRow {
    width: 100%;
    display: flex;
    padding-bottom: 10px;
    flex-wrap: wrap;
}

.JobResults-resultRow div[id$='variables-container'] {
    width: 100%;
}

.JobResults-resultRowLabel {
    text-transform: uppercase;
    color: @default-interface-txt;
    font-size: 12px;
    font-weight: normal!important;
    width: 30%;
    margin-right: 20px;

    @media screen and (max-width: @breakpoint-md) {
        flex: 2.5 0 auto;
    }
}

.JobResults-resultRowLabel--fullWidth {
    width: 100%;
    margin-right: 0px;
}

.JobResults-resultRowText {
    display: flex;
    flex-flow: row wrap;
    width: ~"calc(70% - 20px)";
    flex: 1 0 auto;
    text-transform: none;
    word-wrap: break-word;
}

.JobResults-resultRowText--fullWidth {
    width: 100%;
}

.JobResults-expandArrow {
    color: #D7D7D7;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
    text-transform: uppercase;
    margin-left: 10px;
}

.JobResults-resultRowText--instanceGroup {
    display: flex;
}

.JobResults-isolatedBadge {
    align-items: center;
    background-color: @default-list-header-bg;
    border-radius: 5px;
    color: @default-stdout-txt;
    display: flex;
    font-size: 10px;
    height: 16px;
    margin: 3px 0 0 10px;
    padding: 0 10px;
    text-transform: uppercase;
}

.JobResults-statusResultIcon {
    padding-left: 0px;
    padding-right: 10px;
}

.StandardOut-panelHeader {
    flex: initial;
}

.JobResults-seeMoreLess {
    color: #337AB7;
    margin: 4px 0px;
    text-transform: uppercase;
    padding: 2px 0px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 11px;
}

@media screen and (max-width: @breakpoint-md) {
    .JobResults-container {
        display: flex;
        flex-direction: column;
        min-width: 400px;
    }
}
