<div class="container-fluid">
    <div class="col-md-4">
        <at-panel>
            <p></p>
        </at-panel>
    </div>

    <div class="col-md-8">
        <at-panel class="at-Stdout">
            <div class="at-Stdout-menuTop">
                <div class="pull-left" ng-click="vm.menu.top.expand()">
                    <i class="at-Stdout-menuIcon fa"
                       ng-class="{ 'fa-minus': vm.menu.top.isExpanded, 'fa-plus': !vm.menu.top.isExpanded }"></i>
                </div>

                <div class="pull-right" ng-click="vm.menu.scroll.to('bottom')">
                    <i class="at-Stdout-menuIcon fa fa-arrow-down"></i>
                </div>

                <div class="at-u-clear"></div>
            </div>

            <pre class="at-Stdout-container"><table><thead><tr><th class="at-Stdout-toggle">&nbsp;</th><th class="at-Stdout-line"></th><th class="at-Stdout-event"></th></tr></thead><tbody id="atStdoutResultTable"></tbody></table></pre>

            <div ng-show="vm.menu.scroll.display" class="at-Stdout-menuBottom">
                <div class="at-Stdout-menuIconGroup" ng-click="vm.menu.scroll.to('top')">
                    <p class="pull-left"><i class="fa fa-caret-up"></i></p>
                    <p class="pull-right">Back to Top</p>
                </div>

                <div class="at-u-clear"></div>
            </div>
        </at-panel>
    </div>

    <at-modal>
        <br />
        <at-code-stdout state="vm.host"></at-code-stdout>
    </at-modal>
</div>
