<div ng-if="question.type === 'text'">
    <input type="text" ng-model="defaultValue" class="form-control ng-pristine ng-invalid-required ng-invalid final" required="" readonly>
</div>
<div ng-if="question.type === 'textarea'" class="input_area">
    <textarea class="form-control ng-pristine ng-invalid-required ng-invalid final" required="" rows="3" ng-bind-html="defaultValue" readonly></textarea>
</div>
<div ng-if="question.type === 'multiplechoice' || question.type === 'multiselect'" class="SurveyMaker-previewInput">
    <multiple-choice
        multi-select="question.type === 'multiselect'"
        question="question"
        choices="choices"
        ng-required="isRequired === 'true'"
        ng-model="defaultValue"
        ng-disabled="isDisabled === 'true'"
        preview="preview">
    </multiple-choice>
</div>
<div ng-if="question.type === 'password'" class="input_area input-group">
    <span class="input-group-btn input-group-prepend">
        <button type="button" class="btn btn-default SurveyMaker-previewPasswordButton" id="{{ question.variable + '_show_input_button' }}" aw-tool-tip="Toggle the display of plaintext." aw-tip-placement="top" ng-click="toggleInput('#' + question.variable)" data-container="#survey-modal-dialog" data-original-title="" title="">SHOW</button>
    </span>
    <input id="{{question.variable}}" type="password" name="" class="form-control ng-pristine ng-valid-api-error ng-invalid" autocomplete="false" ng-model="defaultValue" readonly>
</div>

<div ng-if="question.type === 'integer'" class="input_area">
    <input type="number" class="final form-control" name="" min="question.min" max="question.max" ng-value="defaultValue" readonly>
</div>
<div ng-if="question.type === 'float'" class="input_area">
    <input type="number" class="final form-control" name="" min="question.min" max="question.max" ng-value="defaultValue" readonly>
</div>
