.awx-c-chip--basic {
  padding: 3px 8px;
  height: 24px;
  margin-right: 10px;
  margin-bottom: 10px;

  &.pf-c-chip {
    margin-top: 0;
  }

  &.pf-m-overflow {
    padding: 0;
  }

  &:not(.pf-m-overflow) .pf-c-button {
    display: none;
  }
}
