<div class="LabelList-tagContainer" ng-repeat="related_group in related_groups">
    <div class="LabelList-tag" ng-class="{'LabelList-tag--deletable' : (showDelete && host.summary_fields.user_capabilities.edit)}">
        <span class="LabelList-name">{{ related_group.name }}</span>
    </div>
    <div class="LabelList-deleteContainer"
        ng-click="deleteLabel(host, related_group)"
        ng-show="showDelete && host.summary_fields.user_capabilities.edit">
        <i class="fa fa-times LabelList-tagDelete"></i>
    </div>
</div>
<div class="LabelList-seeMoreLess" ng-show="count > 5 && seeMoreInactive"
    ng-click="seeMore()" translate>View More</div>
<div class="LabelList-seeMoreLess" ng-show="count > 5 && !seeMoreInactive"
    ng-click="seeLess()" translate>View Less</div>
