/** @define DashboardCounts */

.Footer {
    height: 40px;
    background-color: #d7d7d7;
    color: #848992;
    width: 100%;
    z-index: 1040;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}

.Footer-logo {
    float: left;
    height: 40px;
    width: 250px;
}

.Footer-logoImage {
    height: 40px;
    width: 250px;
}

.Footer-copyright{
    float: right;
    font-size: 12px;
    margin-right: 20px;
    margin-top: 10px;
}
.Footer-link:hover{
    color: #ffffff;
}
.Footer-link{
    color: #848992;
}
