<at-panel>
    <at-panel-heading hide-dismiss="true">
        {{ vm.panelTitle }}
        <span class="badge List-titleBadge">
            {{ instanceGroupCount }}
        </span>
    </at-panel-heading>

    <at-panel-body>
        <div class="at-List-toolbar">
            <smart-search
                class="at-List-search"
                django-model="instance_groups"
                base-path="instance_groups"
                iterator="instance_group"
                list="list"
                dataset="instance_group_dataset"
                collection="collection"
                search-tags="searchTags">
            </smart-search>
            <!-- TODO: only show when permission -->
            <div class="at-List-toolbarAction">
                <div ng-click="vm.delete()"
                    class="at-RowAction at-RowAction--danger"
                    style="margin-right:10px">
                    <i class="fa fa-trash"></i>
                </div>
                <button
                    type="button"
                    ui-sref="instanceGroups.add"
                    class="at-Button--add"
                    aria-haspopup="true"
                    aria-expanded="false">
                </button>
            </div>
        </div>

        <at-list>
            <at-row ng-repeat="instance_group in instance_groups"
                ng-class="{'at-Row--active': (instance_group.id === vm.activeId)}">

                <input type="checkbox"
                class="at-Row-checkbox"
                ng-model="selection[instance_group.id]"/>

                <div class="at-Row-items">
                    <at-row-item
                        header-value="{{ instance_group.name }}"
                        header-link="/#/instance_groups/{{ instance_group.id }}">
                    </at-row-item>

                    <div class="at-Row--rowLayout">
                        <at-row-item
                            label-value="Instances"
                            label-link="/#/instance_groups/{{ instance_group.id }}/instances"
                            value="{{ instance_group.instances }}"
                            badge="true">
                        </at-row-item>

                        <at-row-item
                            label-value="Running Jobs"
                            label-link="/#/instance_groups/{{ instance_group.id }}/jobs"
                            value="{{ instance_group.jobs_running }}"
                            badge="true">
                        </at-row-item>
                    </div>

                </div>

                <div class="at-Row-actions">
                    <capacity-bar label-value="Used Capacity" capacity="instance_group.consumed_capacity" total-capacity="instance_group.capacity"></capacity-bar>
                </div>
            </at-row>
        </at-list>
    </at-panel-body>
    <paginate
        base-path="instance_groups"
        iterator="instance_group"
        dataset="instance_group_dataset"
        collection="instance_groups"
        query-set="instance_group_queryset">
    </paginate>
</at-panel>

