<div class="MultiSelectPreview" ng-show="selectedRows.length > 0">
    <div class="MultiSelectPreview-selectedItems">
        <div class="MultiSelectPreview-selectedItemsLabel">
            <span>SELECTED:</span>
        </div>
        <div class="MultiSelectPreview-previewTags--outer">
            <div class="MultiSelectPreview-previewTags--inner">
                <div class="MultiSelectPreview-previewTagContainer" ng-repeat="selectedRow in selectedRows">
                    <at-tag ng-if="selectedRow.name" tag="selectedRow.name" remove-tag="unselectSelectedRow($index)"></at-tag>
                    <at-tag ng-if="selectedRow.hostname" tag="selectedRow.hostname" remove-tag="unselectSelectedRow($index)"></at-tag>
                </div>
            </div>
        </div>
    </div>
</div>
