@import "awx/ui/client/src/shared/branding/colors.default.less";

.NotificationsForm-typeSelect{
    flex: none;
}

.NotifierList-lastColumn{
    text-align: left!important;
}

.alert-success{
    background-color: #3cb878;
    color: @default-bg;
}

.Toast-successIcon{
    font-size: x-large;
    vertical-align: middle;
    padding-right: 10px;
}
