<div class="input-group Form-mixedInputGroup">
    <span class="input-group-btn Form-variableHeightButtonGroup input-group-prepend">
        <button aria-label="{{:: strings.get('smartinventories.hostfilter.OPEN')}} " type="button" class="Form-lookupButton Form-lookupButton--variableHeight btn btn-default" ng-click="openHostFilterModal()" ng-disabled="!hasEditPermissions || !organization">
            <i class="fa fa-search"></i>
        </button>
    </span>
    <span class="form-control Form-textInput Form-textInput--variableHeight input-medium lookup LabelList-lookupTags LabelList-lookupTags--disabled" aw-tool-tip="{{filterTooltip}}" data-tip-watch="filterTooltip" data-placement="top">
        <span class="LabelList-tag" ng-repeat="tag in hostFilterTags">
            <span class="LabelList-name">{{tag}}</span>
        </span>
    </span>
</div>
<input class="ng-hide" ng-model="hostFilter" required>
