/** @define Menu */

.Menu {
  display: flex;
  align-items: center;
  background-color: white;

  &--main {
      background-color: white;
      padding: 0 1rem;
      margin: 0;
      .MenuItem {
          color: black;
          margin-right: 2rem;
          padding: 0 1rem;
          align-items: center;
          &:last-child {
            margin-right: 0;
          }
      }

      @media screen and (max-width: 570px) {
        position: relative;
        transition: height 1s;
        justify-content: flex-start;
        flex-wrap: wrap;
        height: 56px;
        overflow: hidden;

        &.Menu--open {
          height: 348px !important;
        border-bottom: solid thin black;
        }

        .MenuItem {
          flex: 1 0 50%;
          padding: 0;
          margin-right: 0;

          &--logo {
            flex: 2 0 100%;
          }
        }
      }
  }

  &--popup {
    display: block;
    position: absolute;
    top: 60px;
    right: 19px;
    width: 160px;

    .MenuItem {
      padding: 0.5rem;
      border: solid 1px #7A7A7A;
      border-bottom: none;
      text-align: center;
      margin-right: 0;
      &:last-child {
        border-bottom: solid 1px #7A7A7A;
      }
    }
  }

  &-toggle {
    @media screen and (min-width: 571px) {
      display: none;
    }
  }

  &--fixed-top {
    // @media screen and (min-width: 571px) {
      width: 100%;
      z-index: 1040;
      position: fixed;
      right: 0;
      left: 0;
      top: 0;
    // }
  }

}
