/** @define Menu */

.Menu {
  display: flex;
  align-items: center;
  background-color: white;

  &--main {
      background-color: white;
      margin: 0;

      @media screen and (max-width: 570px) {
        position: relative;
        transition: height 0.5s ease-out;
        justify-content: flex-start;
        flex-direction: column;
        height: 56px;
        overflow: hidden;

        &.Menu--open {
            height: 523px !important;
            // border-bottom: solid thin black;
        }

      }

      @media screen and (min-width: 571px) {
          padding: 0 1rem;
      }
  }

  &--popup {
    display: block;
    position: absolute;
    top: 60px;
    right: 19px;
    width: 160px;

    .MenuItem {
      padding: 0.5rem;
      border: solid 1px #7A7A7A;
      border-bottom: none;
      text-align: center;
      margin-right: 0;
      &:last-child {
        border-bottom: solid 1px #7A7A7A;
      }
    }
  }

  &-toggle {
    @media screen and (min-width: 571px) {
      display: none;
    }
    margin-left: auto;
  }

  &--fixed-top {
    // @media screen and (min-width: 571px) {
      width: 100%;
      z-index: 1040;
      position: fixed;
      right: 0;
      left: 0;
      top: 0;
    // }
  }

}
