<div class="NetworkingControls-manualControls">
    <div class="NetworkingControls-Zoom">
        <div class="NetworkingControls-Zoom--button NetworkingControls-Zoom--minus" ng-click="zoomOut()">
            <i class="fa fa-minus" aria-hidden="true"></i>
        </div>
        <div class="NetworkingControls-zoomSlider">
            <div class="NetworkingControls-zoomPercentage">{{zoom}}%</div>
            <div id="networking-slider"></div>
        </div>
        <div class="NetworkingControls-Zoom--button NetworkingControls-Zoom--plus" ng-click="zoomIn()">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </div>
    </div>
</div>
