<section class="FactDataTable SystemTrackingContainer-main" ng-if="!error">
    <div class="FactDataTable-headingRow">
        <h3 class="FactDataTable-column FactDataTableHeading">
          <span class="FactDataTableHeading-label">
            Comparing facts collected from:
          </span>
        </h3>
        <h3 class="FactDataTable-column FactDataTableHeading">
          <span ng-if="leftDataNoScans">No scans for {{leftHostname}} on</span>
          <span class="FactDataTableHeading-host" ng-if="!leftDataNoScans">{{leftHostname}}</span>
          <span class="FactDataTableHeading-date">{{leftScanDate|longDate}}</span>
        </h3>
        <h3 class="FactDataTable-column FactDataTableHeading">
          <span ng-if="rightDataNoScans">No scans for {{rightHostname}} on</span>
          <span class="FactDataTableHeading-host" ng-if="!rightDataNoScans">{{rightHostname}}</span>
          <span class="FactDataTableHeading-date">{{rightScanDate|longDate}}</span>
        </h3>
    </div>
    <div ng-if="!isNestedDisplay">
        <div class="FactDataTable-row" ng-repeat="group in factData | orderBy: 'displayKeyPath'">
            <span class="FactDataTable-column">{{group.facts.keyName}}</span>
            <span class="FactDataTable-column">{{group.facts.value1}}</span>
            <span class="FactDataTable-column">{{group.facts.value2}}</span>
        </div>
    </div>
    <div ng-if="isNestedDisplay">

        <div class="FactDataTable-factGroup FactDataGroup" ng-repeat="group in factData | orderBy: 'displayKeyPath'">

            <div class="FactDataTable-groupHeadingRow" ng-if="group.displayKeyPath">
                <h2 class="FactDataTable-column FactDataTable-column--full FactDataGroup-header">
                    {{group.displayKeyPath}}
                </h2>
            </div>
            <div class="FactDataGroup-facts" data-facts="{{group.facts}}">
                <div class="FactDataTable-arrayGroup" ng-if="group.isFactArray" ng-repeat="arrayGroup in group.facts" data-array-group="{{arrayGroup}}">
                    <div class="FactDataTable-row FactDatum" ng-class="{'FactDatum--divergent': fact.isDivergent }" ng-repeat="fact in arrayGroup" data-fact="{{fact}}">
                        <span class="FactDatum-keyName FactDataTable-column" ng-unless="fact.isArrayMember">
                        {{fact.keyName}}
                        </span>
                        <span class="FactDatum-keyName FactDataTable-column" ng-if="fact.isArrayMember">
                          {{fact.keyPath[0]}}.{{fact.keyName}}
                        </span>
                        <span class="FactDatum-value FactDataTable-column u-truncatedText">
                        {{fact.value1}}
                        </span>
                        <span class="FactDatum-value FactDataTable-column u-truncatedText">
                        {{fact.value2}}
                        </span>
                    </div>
                </div>
                <div class="FactDataTable-row FactDatum" ng-class="{'FactDatum--divergent': fact.isDivergent }" ng-repeat="fact in group.facts" ng-unless="group.isFactArray" data-fact="{{fact}}">
                    <span class="FactDataTable-column FactDatum-keyName" ng-if="!fact.isArrayMember">
                    {{fact.keyName}}
                    </span>
                    <span class="FactDataTable-column FactDatum-keyName" ng-if="fact.isArrayMember">
                      {{fact.keyPath[0]}}.{{fact.keyName}}
                    </span>
                    <span class="FactDataTable-column FactDatum-value" truncated-text>
                    {{fact.value1}}
                    </span>
                    <span class="FactDataTable-column FactDatum-value" truncated-text>
                    {{fact.value2}}
                    </span>
                </div>
            </div>
        </div>
    </div>

</section>
