<div class="input-group Form-mixedInputGroup">
    <span class="input-group-btn input-group-prepend Form-variableHeightButtonGroup">
        <button aria-label="{{'Open Galaxy credentials'|translate}}" type="button" class="Form-lookupButton Form-lookupButton--variableHeight btn btn-default" ng-click="openInstanceGroupsModal()"
            ng-disabled="fieldIsDisabled">
            <i class="fa fa-search"></i>
        </button>
    </span>
    <span id="InstanceGroups" class="form-control Form-textInput Form-textInput--variableHeight input-medium lookup LabelList-lookupTags"
        ng-disabled="fieldIsDisabled"
        ng-class="{'LabelList-lookupTags--disabled' : fieldIsDisabled}">
        <div ng-if="!fieldIsDisabled" class="LabelList-tagContainer" ng-repeat="tag in galaxyCredentialsTags">
            <at-tag tag="tag.name" remove-tag="deleteTag(tag)"></at-tag>
        </div>
        <div ng-if="fieldIsDisabled" class="LabelList-tag" ng-repeat="tag in galaxyCredentialsTags">
            <span class="LabelList-name">{{tag.name | sanitize}}</span>
        </div>
    </span>
</div>
