@import '../../shared/branding/colors.default.less';
.HostSummary-graph--successful{
	text-anchor: start !important;
}
.HostSummary-graph--failed{
	text-anchor: end !important;
}
.HostSummary-graph--changed{
	text-anchor: start !important;
}
.HostSummary-loading{
	border: none;
}
.HostSummary-loading{
	padding-left: 0px !important;
	color: @default-interface-txt;
}
