.HostSummary-graph--successful{
	text-anchor: start !important;
}
.HostSummary-graph--failed{
	text-anchor: end !important;
}
.HostSummary-graph--changed{
	text-anchor: end !important;
}
.HostSUmmary-graph--unreachable{}