<!DOCTYPE html>
<html lang="en-US">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>var $basePath = '{{ STATIC_URL }}'</script>
    <link rel="shortcut icon" href="{{ STATIC_URL }}assets/favicon.ico?v={{version}}" />
    <title ng-bind="tabTitle"></title>
    <% htmlWebpackPlugin.files.css.forEach(file => {%>
        <link href="{{ STATIC_URL }}<%= file %>" rel="stylesheet" />
    <% }) %>
    <% htmlWebpackPlugin.files.js.forEach(file => {%>
        <script src="{{ STATIC_URL }}<%= file %>"></script>
    <% }) %>
    <script>
        setInterval(function() {
        window.location = '/#/index.html';
        }, 10000);
    </script>
  </head>
  <body>
    <div class="at-Upgrade--panel">
      <img
        {% verbatim %}
        ng-attr-aria-label="{{ BRAND_NAME === 'Tower' ? appStrings.get('logos.TOWER_LOGO') : appStrings.get('logos.AWX_LOGO') }}"
        {% endverbatim %}
        src="{% static 'assets/logo-header.svg' %}"
        width="200"
      />
      <span class="at-Upgrade--header at-Upgrade--loading"><span class="at-Upgrade--brand" ng-bind="BRAND_NAME"></span> is Upgrading</span>
      <span class="fa-4x at-Upgrade--icon"><i class="fa fa-refresh fa-spin"></i></span>
      <span class="at-Upgrade--text">
        <p><span class="at-Upgrade--brand" ng-bind="BRAND_NAME"></span>is currently upgrading.</p>
        <p>This page will refresh when complete.</p>
      </span>
    </div>
  </body>
</html>