{
    "LOG_AGGREGATOR_HOST": "splunk",
    "LOG_AGGREGATOR_PORT": 9199,
    "LOG_AGGREGATOR_TYPE": "splunk",
    "LOG_AGGREGATOR_USERNAME": "admin",
    "LOG_AGGREGATOR_PASSWORD": "splunk_admin",
    "LOG_AGGREGATOR_ENABLED": true,
    "LOG_AGGREGATOR_PROTOCOL": "tcp",
    "LOG_AGGREGATOR_VERIFY_CERT": false,
}
