global
    debug
    stats socket /tmp/admin.sock
    stats timeout 30s

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000

frontend localnodes
    bind *:8013
    mode http
    default_backend nodes

frontend localnodes_ssl
    bind *:8043
    mode tcp
    default_backend nodes_ssl

backend nodes
    mode http
    balance roundrobin
    option forwardfor
    option http-pretend-keepalive
    http-request set-header X-Forwarded-Port %[dst_port]
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    option httpchk HEAD / HTTP/1.1\r\nHost:localhost
    server awx-1 awx-1:8013 check
    server awx-2 awx-2:8013 check
    server awx-3 awx-3:8013 check

backend nodes_ssl
    mode tcp
    balance roundrobin
    server awx-1 awx-1:8043
    server awx-2 awx-2:8043
    server awx-3 awx-3:8043

listen stats
    bind *:1936
    stats enable
    stats uri /

