<div class="tab-pane Configuration-container">
    <div class="row Form-tabRow">
        <div class="col-lg-12">
            <div class="Form-tabHolder">
                <div ng-repeat="opt in systemVm.dropdownOptions"
                        class="Form-tab"
                        ng-click="systemVm.activeForm(opt.value)"
                        ng-class="{'is-selected': systemVm.activeSystemForm === opt.value }"
                        translate>
                    {{opt.label}}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div ng-show="systemVm.activeSystemForm === 'misc'">
                <div id="system-misc-form">

                </div>
            </div>
            <div ng-show="systemVm.activeSystemForm === 'activity_stream'">
                <div id="system-activity-stream-form">

                </div>
            </div>
            <div ng-show="systemVm.activeSystemForm === 'logging'">
                <div class="form-group Form-formGroup">
                    <label class="Form-inputLabelContainer" for="LOG_AGGREGATOR_ENABLED">
                        <span class="Form-inputLabel" translate>
                            Enable External Logging
                        </span>
                        <a id="awp-LOG_AGGREGATOR_ENABLED" aria-label="{{'Show help text' | translate }}" href="" aw-pop-over="Enable sending logs to external log aggregator." data-placement="top" over-title="Enable External Logging" class="help-link" tabindex="-1">
                            <i class="fa fa-question-circle"></i>
                        </a>
                    </label>
                    <at-switch on-toggle="toggleForm('LOG_AGGREGATOR_ENABLED')" switch-on="LOG_AGGREGATOR_ENABLED" switch-disabled="(!LOG_AGGREGATOR_ENABLED && (!requiredLogValues.LOG_AGGREGATOR_HOST || requiredLogValues.LOG_AGGREGATOR_HOST === '' || !requiredLogValues.LOG_AGGREGATOR_TYPE || requiredLogValues.LOG_AGGREGATOR_TYPE === '')) || $rootScope.user_is_system_auditor"></at-switch>
                </div>
                <div id="system-logging-form">

                </div>
            </div>
        </div>
    </div>
</div>
