/** @define OrgCards */
@import '../shared/branding/colors.default.less';

.OrgCards {
    display: flex;
    flex-wrap: wrap;
}

.OrgCards-card {
    background-color: @default-bg;
    padding: 20px;
    padding-bottom: 0px;
    border-radius: 5px;
    border: 1px solid @default-border;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-top: 20px;
}

.OrgCards-card--selected {
    padding-left: 16px;
    border-left: 5px solid #1678C4;
}

.OrgCards-header {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    width: 100%;
}

.OrgCards-label {
    margin-top: 0px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: @default-interface-txt;
    margin-bottom: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.OrgCards-actionItems {
    margin-left: auto;
    display: flex;
    flex-wrap: nowrap;
}

.OrgCards-actionItem {
    margin-left: 15px;
}

.OrgCards-description {
    margin-bottom: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.OrgCards-links {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.OrgCards-link {
    flex: initial;
    width: ~"calc(50% - 20px)";
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 20px;
}

.OrgCards-linkBadge {
    margin-right: 10px;
}

@media (min-width: 1179px) {
    .OrgCards-card {
        width: ~"calc(25% - 15px)";
        margin-right: 20px;
    }

    .OrgCards-card:nth-child(4n+4) {
        margin-right: 0px;
    }
}

@media (min-width: 901px) and (max-width: 1178px) {
    .OrgCards-card {
        width: ~"calc(33% - 11px)";
        margin-right: 20px;
    }

    .OrgCards-card:nth-child(3n+3) {
        margin-right: 0px;
    }
}

@media (min-width: 616px) and (max-width: 900px) {
    .OrgCards-card {
        width: ~"calc(50% - 10px)";
        margin-right: 20px;
    }

    .OrgCards-card:nth-child(2n+2) {
        margin-right: 0px;
    }
}

@media (max-width: 615px) {
    .OrgCards-card {
        width: 100%;
        margin-right: 0px;
    }
}
