<div class="License-container">
	<div class="License-details ng-cloak">
		<div class="License-titleText">Details</div>
		<div class="License-fields">
			<div class="License-field">
				<label>License</label> 
				<span ng-show='valid'><i class="fa fa-circle License-greenText"></i>   Valid</span>
				<span ng-show='invalid'><i class="fa fa-circle License-redText"></i>   Invalid</span>
			</div>
			<div class="License-field">
				<label>Version</label> 
				<span>{{license.version}}</span>
			</div>
			<div class="License-field">
				<label>License Type</label> 
				<span>{{license.license_info.license_type}}</span>
			</div>
			<div class="License-field">
				<label>Subscription</label> 
				<span>{{license.license_info.subscription_name}}</span>
			</div>
			<div class="License-field">
				<label>License Key</label> 
				<span>{{license.license_info.license_key}}</span>
			</div>
			<div class="License-field">
				<label>Expires On</label> 
				<span>{{time.expiresOn}}</span>
			</div>
			<div class="License-field">
				<label>Time Remaining</label> 
				<span>{{time.remaining}} Days</span>
			</div>
			<div class="License-field">
				<label>Hosts Available</label> 
				<span>{{license.license_info.available_instances}}</span>
			</div>
			<div class="License-field">
				<label>Hosts Used</label> 
				<span>{{license.license_info.current_instances}}</span>
			</div>
			<div class="License-field License-greenText">
				<label>Hosts Remaining</label> 
				<span>{{license.license_info.free_instances}}</span>
			</div>
		</div>
		<br>
		<p>If you are ready to upgrade, please contact us by clicking the button below</p>
		<button class="btn btn-default">Upgrade</button>
	</div>
	<div class="License-management">
		<div class="License-titleText">License Management</div>
		<p>Copy and paste the contents of your license in the field below, agree to the End User License Agreement, and click submit.</p>
		<form name="license">
			<div class="form-group License-file prepend-asterisk ">
				<label>License File</label>
				<textarea id="License-codemirror" placeholder="Please paste your license here"></textarea>
			</div>
			<div class="License-titleText prepend-asterisk"> End User License Agreement</div>
			<div class="form-group License-eula">
				<textarea class="form-control">{{license.eula}}
				</textarea>
			</div>
			<div class="form-group">
				<div class="checkbox">
					<label><input type="checkbox" ng-model="newLicense.eula" required>  I agree to the End User License Agreement</label>
					<button ng-click="submit()" class="btn btn-success pull-right" ng-disabled="newLicense.file == null || newLicense.eula == null">Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>