/*
* Style conventions
* .ModuleName-component-subComponent
* Naming describes components of the view
*/
.License-container{
	.OnePlusTwo-container;
}

.License-container--missing {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
}

.License-field--label{
	.OnePlusTwo-left--detailsLabel;
}
.License-fileName{
	padding-left: 20px;
}
.License-management .CodeMirror-scroll{
	min-height: 140px;
}
.License-file textarea{
	display: block;
	width: 100%;
}
.License-file--left {
	display: flex;
	flex:1;
	overflow: hidden;
}
.License-file--middle {
	display: flex;
	flex: 0 0 auto;
	padding: 0px 20px;
	flex-direction: column;
}
.License-file--right {
	display: flex;
	flex:1;
}
.License-submit--success.ng-hide-add, .License-submit--success.ng-hide-remove {
  transition: all ease-in-out 0.5s;
}
.License-submit--success{
	opacity: 1;
  	transition: all ease-in-out 0.5s;
}
.License-submit--success.ng-hide{
	opacity: 0;
}

.License-eulaNotice{
	font-size: 12px;
	width: 100%;
	max-height: 129px;
	padding: 15px;
	padding-top: 10px;
	margin-bottom: 10px;
	border-radius: 4px;
	border: 1px solid @login-notice-border;
	background-color: @login-notice-bg;
	color: @login-notice-text;
	overflow-y: scroll;
	overflow-x: visible;
	white-space: pre-line;
}

.License-field label{
	width: 155px;
}
.License-field--content{
	.OnePlusTwo-left--detailsContent;
	text-transform: capitalize;
}
.License-field--key {
    text-transform: none;
}
.License-field{
	.OnePlusTwo-left--detailsRow;
}
.License-field + .License-field {
    margin-top: 20px;
}
.License-greenText{
	color: @submit-button-bg;
	padding-right: 10px;
}
.License-redText{
	color: @default-err;
	padding-right: 10px;
}
.License-fields{
	.OnePlusTwo-left--details;
}

.License-titleText {
	.OnePlusTwo-panelHeader;
}
.License-management{
    display: flex;
}
.License-management--missingLicense{
	height: auto;
}
.License-downloadLicenseButton{
	margin-bottom: 10px;
	color:@default-bg;
}
.License-downloadLicenseButton:hover{
	background-color: @default-link-hov !important;
	color:@default-bg !important;
}
.License-downloadLicenseButton:focus{
	background-color: @default-link-hov !important;
	color:@default-bg !important;
}

@media (min-width: 900px) {
    .License-details {
        margin-right: 20px;
    }
}

.License-submit--success, .License-submit--failure {
    margin: 0;
}
.License-file--container {
	display: flex;
	input[type=file] {
	display: none;
	}
}
.License-upgradeText {
	margin: 20px 0px;
}
.License-body {
	margin-top: 25px;
}
.License-subTitleText {
	text-transform: uppercase;
	margin: 20px 0px 15px 0px;
	color: @default-interface-txt;
}
.License-helperText {
	color: @default-interface-txt;
}
.License-input--fake{
	border-top-right-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
}

.License-detailsGroup {
	margin-bottom: 20px;
}

.License-analyticsCheckbox {
	padding-top: 5px;
}

.License-analyticsCheckboxGroup {
	padding: 10px 0;
	font-weight: bold;
}

.License-separator {
	display: flex;
	flex: 1;
	background: linear-gradient(#d7d7d7, #d7d7d7) no-repeat center/2px 100%;
}

.License-licenseStepHelp {
	font-size: 12px;
	font-style: italic;
	margin-bottom: 10px;
}

.License-filePicker {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.License-rhCredField {
	margin-bottom: 10px;
}

.License-label {
	color: @field-label;
	font-weight: 400;
}

.License-action {
	display: flex;
	flex-direction: row;
	align-content:flex-end;
}

.License-actionError {
	flex: 1;
}

.License-subSelectorModal {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.3);
	z-index: 1040;
	display: flex;
	align-items: center;
	justify-content: center;
}

.License-modal {
	width: 750px;
}

.License-modalBody {
	border: 1px solid @b7grey;
	max-height: 550px;
	overflow: scroll;
	border-radius: 4px;
}

.License-modalRow {
	display: flex;
	padding: 10px;
}

.License-modalRow:not(:last-of-type) {
	border-bottom: 1px solid @b7grey;
}

.License-modalRowRadio {
	flex: 0 0 40px;
	display: flex;
	align-items: center;
}

.License-trialTag {
	font-weight: 100;
	background-color: #ebebeb;
	border-radius: 5px;
	color: #606060;
	font-size: 10px;
	margin-right: 10px;
	padding: 3px 9px;
	line-height: 14px;
	word-break: keep-all;
	display: inline-flex;
}

.License-introText {
	margin-bottom: 10px;
}

.License-getLicensesButton {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 20px;
}

.License-checkboxLabel {
	margin-left: 5px;
	font-weight: normal;
}

.License-modalRowDetails {
	flex: 1;
}

.License-modalRowDetailsLabel {
	font-weight: normal;
	width: 100%;
}

.License-modalRowDetailsRow {
	margin-bottom: 10px;
}

.License-modalRowDetails--50 {
	display: flex;
	flex-basis: 50%;
	align-items: center;
	line-height: 21px;
}
