<div id="job-launch-modal" class="JobSubmission modal">
    <div class="JobSubmission-container">
        <div class="JobSubmission-header">
            <div class="JobSubmission-title">
                <div class="JobSubmission-titleText">
                    <span translate>LAUNCH JOB</span>
                    <div class="JobSubmission-titleLockup"></div>
                    <span>{{job_template_data.name || workflow_job_template_data.name}}</span>
                </div>
            </div>
            <div class="JobSubmission-close">
                <button class="JobSubmission-exit" ng-click="clearDialog()"><i class="fa fa-times-circle"></i></button>
            </div>
        </div>
        <div class="JobSubmission-stepsContainer">
            <div class="JobSubmission-steps">
                <div class="JobSubmission-step" ng-class="{'JobSubmission-step--active': step==='inventory'}" ng-if="ask_inventory_on_launch" ng-click="setStep('inventory')" translate>Inventory</div>
                <div class="JobSubmission-step" ng-class="{'JobSubmission-step--active': step==='credential', 'JobSubmission-step--disabled': !credentialTabEnabled}" ng-if="ask_credential_on_launch || password_needed" ng-click="!credentialTabEnabled || setStep('credential')" translate>Credential</div>
                <div class="JobSubmission-step" ng-class="{'JobSubmission-step--active': step==='otherprompts', 'JobSubmission-step--disabled': !otherPromptsTabEnabled}" ng-if="has_other_prompts" ng-click="!otherPromptsTabEnabled || setStep('otherprompts')" translate>Other Prompts</div>
                <div class="JobSubmission-step" ng-class="{'JobSubmission-step--active': step==='survey', 'JobSubmission-step--disabled': !surveyTabEnabled}" ng-if="survey_enabled" ng-click="!surveyTabEnabled || setStep('survey')" translate>Survey</div>
            </div>
        </div>
        <div class="JobSubmission-formContainer">
            <div ng-if="ask_inventory_on_launch" ng-show="step === 'inventory'" class="JobSubmission-form">
                <div class="JobSubmission-selectedItemContainer">
                    <div class="JobSubmission-selectedItem">
                        <div class="JobSubmission-selectedItemInfo" ng-hide="!selected_inventory">
                            <div class="JobSubmission-selectedItemLabel">
                                <span translate>SELECTED:</span>
                            </div>
                            <div class="JobSubmission-previewTags--outer">
                                <div class="JobSubmission-previewTags--inner">
                                    <div class="JobSubmission-previewTagContainer">
                                        <div class="JobSubmission-previewTag JobSubmission-previewTag--deletable">
                                            <span>{{selected_inventory.name}}</span>
                                        </div>
                                        <div class="JobSubmission-previewTagContainerDelete" ng-click="deleteSelectedInventory()">
                                            <i class="fa fa-times JobSubmission-previewTagContainerTagDelete"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="JobSubmission-previewTagRevert">
                                <a class="JobSubmission-revertLink" href="" ng-hide="selected_inventory.id === defaults.inventory.id" ng-click="revertToDefaultInventory()" translate>REVERT</a>
                            </div>
                        </div>
                    </div>
                    <job-sub-inv-list ng-if="includeInventoryList" selected-inventory="$parent.selected_inventory"></job-sub-inv-list>
                </div>
            </div>
            <div ng-if="ask_credential_on_launch || password_needed" ng-show="step === 'credential'" class="JobSubmission-form">
                <div class="JobSubmission-selectedItemContainer">
                    <div class="JobSubmission-selectedItem">
                        <div class="JobSubmission-selectedItemInfo" ng-hide="!selected_credentials.machine && !selected_credentials.vault && selected_credentials.extra.length === 0">
                            <div class="JobSubmission-selectedItemLabel">
                                <span translate>SELECTED:</span>
                            </div>
                            <div class="JobSubmission-previewTags--outer">
                                <div class="JobSubmission-previewTags--inner">
                                    <div class="JobSubmission-previewTagContainer u-wordwrap" ng-show="selected_credentials.machine">
                                        <div class="JobSubmission-previewTag" ng-class="{'JobSubmission-previewTag--deletable': ask_credential_on_launch}">
                                            <span><span class="JobSubmission-previewTagLabel" ng-class="{'JobSubmission-previewTagLabel--deletable': ask_credential_on_launch}">
                                                MACHINE</span>:&nbsp;{{selected_credentials.machine.name}}</span>
                                        </div>
                                        <div class="JobSubmission-previewTagContainerDelete" ng-click="deleteMachineCred()" ng-show="ask_credential_on_launch">
                                            <i class="fa fa-times JobSubmission-previewTagContainerTagDelete"></i>
                                        </div>
                                    </div>
                                    <div class="JobSubmission-previewTagContainer" ng-repeat="extraCredential in selected_credentials.extra">
                                        <div class="JobSubmission-previewTag" ng-class="{'JobSubmission-previewTag--deletable': ask_credential_on_launch}">
                                            <span><span class="JobSubmission-previewTagLabel" ng-class="{'JobSubmission-previewTagLabel--deletable': ask_credential_on_launch}">
                                                {{credential_types[extraCredential.credential_type].name | uppercase}}</span>:&nbsp;{{extraCredential.name}}</span>
                                        </div>
                                        <div class="JobSubmission-previewTagContainerDelete" ng-click="deleteExtraCred($index)" ng-show="ask_credential_on_launch">
                                            <i class="fa fa-times JobSubmission-previewTagContainerTagDelete"></i>
                                        </div>
                                    </div>
                                    <div class="JobSubmission-previewTagContainer JobSubmission-previewTagContainer--vault" ng-show="selected_credentials.vault">
                                        <div class="JobSubmission-previewTag JobSubmission-previewTag--vault" ng-class="{'JobSubmission-previewTag--deletable': ask_credential_on_launch}">
                                            <span><span class="JobSubmission-previewTagLabel" ng-class="{'JobSubmission-previewTagLabel--deletable': ask_credential_on_launch}">
                                                    VAULT</span>:&nbsp;{{selected_credentials.vault.name}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="JobSubmission-previewTagRevert" ng-if="ask_credential_on_launch">
                                <a class="JobSubmission-revertLink" href="" ng-show="showRevertCredentials()" ng-click="revertToDefaultCredentials()" translate>REVERT</a>
                            </div>
                        </div>
                    </div>
                    <div class="JobSubmission-credentialSubSection" ng-show="ask_credential_on_launch">
                        <span class="JobSubmission-label" translate>CREDENTIAL TYPE:</span>
                        <select id="job-launch-credential-kind-select" ng-model="credentialKind">
                            <option ng-repeat="option in credentialTypeOptions" value="{{option.value}}">{{option.name}}</option>
                        </select>
                    </div>
                    <job-sub-cred-list ng-if="includeCredentialList" selected-credentials="selected_credentials" credential-types="::credential_types" credential-kind="credentialKind"></job-sub-cred-list>
                    <div ng-show="ssh_password_required || ssh_key_unlock_required || become_password_required || vault_password_required">
                        <div class="JobSubmission-instructions" translate>Launching this job requires the passwords listed below. Enter and confirm each password before continuing.</div>
                        <form name="forms.credentialpasswords" autocomplete="off" novalidate>
                            <div class="form-group Form-formGroup Form-formGroup--singleColumn" ng-if="ssh_password_required">
                                <label for="ssh_password" class="Form-inputLabelContainer">
                                    <span class="Form-requiredAsterisk">*</span>
                                    <span class="Form-inputLabel" translate> Password</span>
                                </label>
                                <div class="input-group">
                                    <span class="input-group-btn input-group-prepend">
                                        <button type="button" class="btn btn-default show_input_button JobSubmission-passwordButton" id="job-submission-ssh-password_show_input_button" aw-tool-tip="Toggle the display of plaintext." aw-tip-placement="top" ng-click="togglePassword('#job-submission-ssh-password')" data-container="job-launch-modal" data-original-title="" title="" translate>Show</button>
                                    </span>
                                    <input id="job-submission-ssh-password" type="password" ng-model="passwords.ssh_password" name="ssh_password" class="password-field form-control input-sm Form-textInput" required>
                                </div>
                                <div class="error" ng-show="forms.credentialpasswords.ssh_password.$dirty && forms.credentialpasswords.ssh_password.$error.required" translate>Please enter a password.</div>
                                <div class="error api-error" ng-bind="ssh_password_api_error"></div>
                            </div>
                            <div class="form-group Form-formGroup Form-formGroup--singleColumn" ng-if="ssh_key_unlock_required">
                                <label for="ssh_key_unlock" class="Form-inputLabelContainer">
                                    <span class="Form-requiredAsterisk">*</span>
                                    <span class="Form-inputLabel" translate> Private Key Passphrase</span>
                                </label>
                                <div class="input-group">
                                    <span class="input-group-btn input-group-prepend">
                                        <button type="button" class="btn btn-default show_input_button JobSubmission-passwordButton" id="job-submission-ssh-key-unlock_show_input_button" aw-tool-tip="Toggle the display of plaintext." aw-tip-placement="top" ng-click="togglePassword('#job-submission-ssh-key-unlock')" data-container="job-launch-modal" data-original-title="" title="" translate>Show</button>
                                    </span>
                                    <input id="job-submission-ssh-key-unlock" type="password" ng-model="passwords.ssh_key_unlock" name="ssh_key_unlock" class="password-field form-control input-sm Form-textInput" required>
                                </div>
                                <div class="error" ng-show="forms.credentialpasswords.ssh_key_unlock.$dirty && forms.credentialpasswords.ssh_key_unlock.$error.required" translate>Please enter a password.</div>
                                <div class="error api-error" ng-bind="ssh_key_unlock_api_error"></div>
                            </div>
                            <div class="form-group Form-formGroup Form-formGroup--singleColumn" ng-if="become_password_required">
                                <label for="become_password" class="Form-inputLabelContainer">
                                    <span class="Form-requiredAsterisk">*</span>
                                    <span class="Form-inputLabel" translate> Privilege Escalation Password</span>
                                </label>
                                <div class="input-group">
                                    <span class="input-group-btn input-group-prepend">
                                        <button type="button" class="btn btn-default show_input_button JobSubmission-passwordButton" id="job-submission-become-password_show_input_button" aw-tool-tip="Toggle the display of plaintext." aw-tip-placement="top" ng-click="togglePassword('#job-submission-become-password')" data-container="job-launch-modal" data-original-title="" title="" translate>Show</button>
                                    </span>
                                    <input id="job-submission-become-password" type="password" ng-model="passwords.become_password" name="become_password" class="password-field form-control input-sm Form-textInput" required>
                                </div>
                                <div class="error" ng-show="forms.credentialpasswords.become_password.$dirty && forms.credentialpasswords.become_password.$error.required" translate>Please enter a password.</div>
                                <div class="error api-error" ng-bind="become_password_api_error"></div>
                            </div>
                            <div class="form-group Form-formGroup Form-formGroup--singleColumn" ng-if="vault_password_required">
                                <label for="vault_password" class="Form-inputLabelContainer">
                                    <span class="Form-requiredAsterisk">*</span>
                                    <span class="Form-inputLabel" translate> Vault Password</span>
                                </label>
                                <div class="input-group">
                                    <span class="input-group-btn input-group-prepend">
                                        <button type="button" class="btn btn-default show_input_button JobSubmission-passwordButton" id="job-submission-vault-password_show_input_button" aw-tool-tip="Toggle the display of plaintext." aw-tip-placement="top" ng-click="togglePassword('#job-submission-vault-password')" data-container="job-launch-modal" data-original-title="" title="" translate>Show</button>
                                    </span>
                                    <input id="job-submission-vault-password" type="password" ng-model="passwords.vault_password" name="vault_password" class="password-field form-control input-sm Form-textInput" required>
                                </div>
                                <div class="error" ng-show="forms.credentialpasswords.vault_password.$dirty && forms.credentialpasswords.vault_password.$error.required" translate>Please enter a password.</div>
                                <div class="error api-error" ng-bind="vault_password_api_error"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div ng-if="has_other_prompts" ng-show="step === 'otherprompts'" class="JobSubmission-form">
                <form name="forms.otherprompts" autocomplete="off" novalidate>
                    <div class="form-group Form-formGroup Form-formGroup--singleColumn" ng-if="ask_variables_on_launch">
                        <label for="variables">
                            <span class="Form-inputLabel" translate>Extra Variables</span>
                            <a id="awp-variables" href="" aw-pop-over="<p>Pass extra command line variables to the playbook. This is the -e or --extra-vars command line parameter for ansible-playbook. Provide key/value pairs using either YAML or JSON.</p>JSON:<br /><blockquote>{<br />&quot;somevar&quot;: &quot;somevalue&quot;,<br />&quot;password&quot;: &quot;magic&quot;<br /> }</blockquote>YAML:<br /><blockquote>---<br />somevar: somevalue<br />password: magic<br /></blockquote>" data-placement="right" data-container="body" over-title="Extra Variables" class="help-link" data-original-title="" title="" tabindex="-1">
                                <i class="fa fa-question-circle"></i>
                            </a>
                            <div class="parse-selection" id="job_launch_variables_parse_type">
                                <input type="radio" ng-model="other_prompt_data.parseType" value="yaml" ng-change="updateParseType()">
                                <span class="parse-label" translate>YAML</span>
                                <input type="radio" ng-model="other_prompt_data.parseType" value="json" ng-change="updateParseType()">
                                <span class="parse-label" translate>JSON</span>
                            </div>
                        </label>
                        <div>
                            <textarea rows="6" ng-model="other_prompt_data.extra_vars" name="variables" class="form-control Form-textArea Form-textAreaLabel" id="job_launch_variables" aw-watch=""></textarea>
                        </div>
                    </div>
                    <div class="form-group Form-formGroup Form-formGroup--singleColumn" ng-if="ask_verbosity_on_launch">
                        <label for="verbosity" class="Form-inputLabelContainer">
                            <span class="Form-requiredAsterisk">*</span>
                            <span class="Form-inputLabel" translate> Verbosity</span>
                        </label>
                        <div>
                            <select
                                id="job_launch_verbosity"
                                ng-options="v.label for v in other_prompt_data.verbosity_options track by v.value"
                                ng-model="other_prompt_data.verbosity"
                                class="form-control Form-dropDown"
                                name="verbosity"
                                tabindex="-1"
                                aria-hidden="true"
                                required>
                                <option value="" class="" selected="selected">Choose a verbosity</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group Form-formGroup Form-formGroup--singleColumn" ng-if="ask_job_type_on_launch">
                        <label for="job_type" class="Form-inputLabelContainer">
                            <span class="Form-requiredAsterisk">*</span>
                            <span class="Form-inputLabel" translate> Job Type</span>
                        </label>
                        <div>
                            <select
                                id="job_launch_job_type"
                                ng-options="v.label for v in other_prompt_data.job_type_options track by v.value"
                                ng-model="other_prompt_data.job_type"
                                class="form-control Form-dropDown"
                                name="job_type"
                                tabindex="-1"
                                aria-hidden="true"
                                required>
                                <option value="" class="" selected="selected">Choose a job type</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group Form-formGroup Form-formGroup--singleColumn" ng-if="ask_limit_on_launch">
                        <label for="limit">
                            <span class="Form-inputLabel" translate>Limit</span>
                        </label>
                        <div>
                            <input type="text" ng-model="other_prompt_data.limit" name="limit" class="form-control Form-textInput">
                        </div>
                    </div>
                    <div class="form-group Form-formGroup Form-formGroup--singleColumn" ng-if="ask_tags_on_launch">
                        <label for="tags">
                            <span class="Form-inputLabel" translate>Job Tags</span>
                        </label>
                        <div>
                            <select
                                id="job_launch_job_tags"
                                ng-options="v.label for v in other_prompt_data.job_tags_options track by v.value"
                                ng-model="other_prompt_data.job_tags"
                                class="form-control Form-dropDown"
                                name="verbosity"
                                tabindex="-1"
                                aria-hidden="true"
                                multiple>
                            </select>
                        </div>
                    </div>
                    <div class="form-group Form-formGroup Form-formGroup--singleColumn" ng-if="ask_skip_tags_on_launch">
                        <label for="skip_tags">
                            <span class="Form-inputLabel" translate>Skip Tags</span>
                        </label>
                        <div>
                            <!-- <textarea rows="5" ng-model="other_prompt_data.skip_tags" name="skip_tags" class="form-control Form-textArea Form-textInput"></textarea> -->
                            <select
                                id="job_launch_skip_tags"
                                ng-options="v.label for v in other_prompt_data.skip_tags_options track by v.value"
                                ng-model="other_prompt_data.skip_tags"
                                class="form-control Form-dropDown"
                                name="verbosity"
                                tabindex="-1"
                                aria-hidden="true"
                                multiple>
                            </select>
                        </div>
                    </div>
                    <div class="form-group Form-formGroup Form-formGroup--singleColumn" ng-if="ask_diff_mode_on_launch">
                        <label for="diff_mode">
                            <span class="Form-inputLabel" translate>Diff Mode</span>
                        </label>
                        <div>
                            <div class="ScheduleToggle" ng-class="{'is-on': other_prompt_data.diff_mode}" aw-tool-tip="" data-placement="top" data-original-title="" title="">
                                <button ng-show="other_prompt_data.diff_mode" class="ScheduleToggle-switch is-on" ng-click="toggleForm('diff_mode')"
                                translate>ON</button>
                                <button ng-show="!other_prompt_data.diff_mode" class="ScheduleToggle-switch ng-hide" ng-click="toggleForm('diff_mode')" translate>OFF</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div ng-if="survey_enabled" ng-show="step === 'survey'" class="JobSubmission-form">
                <form name="forms.survey" autocomplete="off" novalidate>
                    <div ng-repeat="question in survey_questions" id="taker_'+question.index+'" class="form-group Form-formGroup Form-formGroup--singleColumn">
                        <label ng-attr-for="{{question.variable}}" class="Form-inputLabelContainer">
                            <span ng-show="question.required===true" class="Form-requiredAsterisk">*</span>
                            <span class="label-text Form-inputLabel"> {{question.question_name}}</span>
                        </label>

                        <div class="survey_taker_description" ng-if="question.question_description">
                            <i ng-bind-html="question.question_description"></i>
                        </div>
                        <div ng-if="question.type === 'text'">
                            <input type="text" id="survey_question_{{$index}}" ng-model="question.model" name="survey_question_{{$index}}" ng-minlength="question.minlength" ng-maxlength="question.maxlength" class="form-control Form-textInput" ng-required="question.required">
                            <div class="error survey_error" ng-show="forms.survey.survey_question_{{$index}}.$dirty && forms.survey.survey_question_{{$index}}.$error.required" translate>Please enter an answer.</div>
                            <div class="error survey_error" ng-show="forms.survey.survey_question_{{$index}}.$error.minlength || forms.survey.survey_question_{{$index}}.$error.maxlength"><span translate>Please enter an answer between</span> {{question.minlength}} <span translate>to</span> {{question.maxlength}} <span translate>characters long.</span></div>
                        </div>
                        <div ng-if="question.type === 'textarea'">
                            <textarea id="survey_question_{{$index}}" name="survey_question_{{$index}}" ng-model="question.model" ng-minlength="question.minlength" ng-maxlength="question.maxlength" class="form-control final Form-textArea" ng-required="question.required" rows="3"></textarea>
                            <div class="error survey_error" ng-show="forms.survey.survey_question_{{$index}}.$dirty && forms.survey.survey_question_{{$index}}.$error.required" translate>Please enter an answer.</div>
                            <div class="error survey_error" ng-show="forms.survey.survey_question_{{$index}}.$error.minlength || forms.survey.survey_question_{{$index}}.$error.maxlength"><span translate>Please enter an answer between</span> {{question.minlength}} <span translate>to</span> {{question.maxlength}} <span translate>characters long.</span></div>
                        </div>
                        <div ng-if="question.type === 'password'">
                            <div class="input-group">
                                <span class="input-group-btn input-group-prepend">
                                    <button type="button" class="btn btn-default show_input_button JobSubmission-passwordButton" id="survey_question_{{$index}}_show_input_button" aw-tool-tip="Toggle the display of plaintext." aw-tip-placement="top" ng-click="togglePassword('#survey_question_' + $index)" data-original-title="" data-container="job-launch-modal" title="" translate>Show</button>
                                </span>
                                <input id="survey_question_{{$index}}" ng-if="!question.default" type="password" ng-model="question.model" name="survey_question_{{$index}}" ng-required="question.required" ng-minlength="question.minlength" ng-maxlength="question.maxlength" class="form-control Form-textInput" autocomplete="false">
                                <input id="survey_question_{{$index}}" ng-if="question.default" type="password" ng-model="question.model" name="survey_question_{{$index}}" ng-required="question.required" aw-password-min="question.minlength" aw-password-max="question.maxlength" class="form-control Form-textInput" autocomplete="false">
                            </div>
                            <div class="error survey_error" ng-show="forms.survey.survey_question_{{$index}}.$dirty && forms.survey.survey_question_{{$index}}.$error.required" translate>Please enter an answer.</div>
                            <div class="error survey_error" ng-show="forms.survey.survey_question_{{$index}}.$error.awPasswordMin || forms.survey.survey_question_{{$index}}.$error.awPasswordMax || forms.survey.survey_question_{{$index}}.$error.minlength || forms.survey.survey_question_{{$index}}.$error.maxlength"><span translate>Please enter an answer between</span> {{question.minlength}} <span translate>to</span> {{question.maxlength}} <span translate>characters long.</span></div>
                        </div>
                        <div ng-if="question.type === 'integer'">
                            <input type="number" id="survey_question_{{$index}}" ng-model="question.model" class="form-control Form-textInput" name="survey_question_{{$index}}" ng-required="question.required" integer aw-min="question.minValue" aw-max="question.maxValue"/>
                            <div class="error survey_error" ng-show="forms.survey.survey_question_{{$index}}.$dirty && forms.survey.survey_question_{{$index}}.$error.required" translate>Please enter an answer.</div>
                            <div class="error survey_error" ng-show="forms.survey.survey_question_{{$index}}.$error.number || forms.survey.survey_question_{{$index}}.$error.integer" translate>Please enter an answer that is a valid integer.</div>
                            <div class="error survey_error" ng-show="forms.survey.survey_question_{{$index}}.$error.awMin || forms.survey.survey_question_{{$index}}.$error.awMax"><span translate>Please enter an answer between</span> {{question.minValue}} <span>and</span> {{question.maxValue}}.</div>
                        </div>
                        <div ng-if="question.type === 'float'">
                            <input type="number" id="survey_question_{{$index}}" ng-model="question.model" class="form-control Form-textInput" name="survey_question_{{$index}}" ng-required="question.required" smart-float aw-min="question.minValue" aw-max="question.maxValue"/>
                            <div class="error survey_error" ng-show="forms.survey.survey_question_{{$index}}.$dirty && forms.survey.survey_question_{{$index}}.$error.required" translate>Please enter an answer.</div>
                            <div class="error survey_error" ng-show="forms.survey.survey_question_{{$index}}.$error.number || forms.survey.survey_question_{{$index}}.$error.float" translate>Please enter an answer that is a decimal number.</div>
                            <div class="error survey_error" ng-show="forms.survey.survey_question_{{$index}}.$error.awMin || forms.survey.survey_question_{{$index}}.$error.awMax"><span translate>Please enter an answer between</span> {{question.minValue}} <span translate>and</span> {{question.maxValue}}.</div>
                        </div>
                        <div ng-if="question.type === 'multiplechoice'">
                            <div class="survey_taker_input">
                                <multiple-choice
                                    multi-select="false"
                                    question="question"
                                    choices="question.choices"
                                    ng-required="question.required"
                                    ng-model="question.model">
                                </multiple-choice>
                            </div>
                        </div>
                        <div ng-if="question.type === 'multiselect'">
                            <multiple-choice
                                multi-select="true"
                                question="question"
                                choices="question.choices"
                                ng-required="question.required"
                                ng-model="question.model">
                            </multiple-choice>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="JobSubmission-footerContainer">
            <div class="JobSubmission-footerPreview">
                <div class="JobSubmission-previewItem" ng-show="submitJobType === 'job_template'">
                    <div class="JobSubmission-previewItemTitle" translate>INVENTORY</div>
                    <div ng-show="selected_inventory" ng-bind="selected_inventory.name"></div>
                    <div class="JobSubmission-previewItemNone" ng-show="!selected_inventory" translate>None selected</div>
                </div>
                <div class="JobSubmission-previewItem" ng-show="submitJobType === 'job_template'">
                    <div class="JobSubmission-previewItemTitle" translate>CREDENTIAL</div>
                    <div>
                        <span ng-show="!selected_credentials.machine && !selected_credentials.vault && selected_credentials.extra.length === 0" class="JobSubmission-selectedItemNone" translate>None selected</span>
                    </div>
                    <div>
                        <span ng-show="selected_credentials.machine" class="JobSubmission-previewItemSubTitle"><span translate>Machine</span>:&nbsp;</span>
                        <span class="u-wordwrap" ng-show="selected_credentials.machine">{{selected_credentials.machine.name}}</span>
                    </div>
                    <div ng-repeat="extraCredential in selected_credentials.extra">
                        <span class="JobSubmission-previewItemSubTitle">{{credential_types[extraCredential.credential_type].name}}:&nbsp;</span>
                        <span class="u-wordwrap">{{extraCredential.name}}</span>
                    </div>
                    <div>
                        <span ng-show="selected_credentials.vault" class="JobSubmission-previewItemSubTitle"><span translate>Vault</span>:&nbsp;</span>
                        <span ng-show="selected_credentials.vault" class="u-wordwrap">{{selected_credentials.vault.name}}</span>
                    </div>
                </div>
            </div>
            <div class="JobSubmission-footerButtons">
                <button id="job-submission-close-button" class="btn btn-sm JobSubmission-defaultButton" ng-click="clearDialog()" translate>CANCEL</button>
                <button id="job-submission-action-button" class="btn btn-sm JobSubmission-actionButton" ng-click="takeAction()" ng-disabled="actionButtonDisabled()">{{getActionButtonText()}}</button>
            </div>
        </div>
    </div>
</div>
