<div>
    <div class="Prompt-selectedItem">
        <div class="Prompt-selectedItemInfo" ng-hide="!promptData.prompts.inventory.value.id && !promptData.launchConf.defaults.inventory.id">
            <div class="Prompt-selectedItemLabel">
                <span>{{:: vm.strings.get('prompt.SELECTED') }}</span>
            </div>
            <div class="Prompt-previewTags--outer">
                <div ng-show="promptData.launchConf.defaults.inventory.id && !promptData.prompts.inventory.value.id" class="Prompt-noSelectedItem">{{:: vm.strings.get('prompt.NO_INVENTORY_SELECTED') }}</div>
                <at-tag tag="promptData.prompts.inventory.value.name" remove-tag="vm.deleteSelectedInventory()" ng-show="!readOnlyPrompts && promptData.prompts.inventory.value.id"></at-tag>
                <at-tag tag="promptData.prompts.inventory.value.name" ng-show="readOnlyPrompts && promptData.prompts.inventory.value.id"></at-tag>
            </div>
            <div class="Prompt-previewTagRevert">
                <a class="Prompt-revertLink" href="" ng-hide="readOnlyPrompts || promptData.prompts.inventory.value.id === promptData.launchConf.defaults.inventory.id" ng-click="vm.revert()">{{:: vm.strings.get('prompt.REVERT') }}</a>
            </div>
        </div>
    </div>
    <div ng-if="inventoryWarning" class="Prompt-credentialTypeMissing">
        <span class="fa fa-warning"></span>&nbsp; {{ inventoryWarning }}
    </div>
    <div id="prompt-inventory"></div>
</div>
