.select2-selection.select2-selection--multiple.Form-dropDown{
	height: auto !important;
}
.GroupDelete .Modal-header{
	margin-bottom: 20px;
}
.GroupDelete .modal-body{
	padding-top: 20px;
}
.Inventory-groupManage{
	// ugly hack to avoid the surface area of changing form generator's default classes
	.checkbox-inline{
		display: block;
		padding-bottom: 5px;
	}
}
