<div id="groups-list" class="Panel"></div>
<div class="modal fade GroupDelete" id="group-delete-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content Modal-content">
            <div class="Modal-header">
                  <div class="Modal-title ng-binding">Delete Group</div>
                  <div class="Modal-exitHolder">
                      <button class="close Modal-exit" data-target="#group-delete-modal" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times-circle"></i></button>
                  </div>
            </div>
            <div class="modal-body">
                <div ng-show="toDelete.total_groups > 0 || toDelete.total_hosts > 0">
                    <div>
                        <p class="Prompt-bodyQuery">Deleting group <em>{{ toDelete.name }}</em>.
                        <span ng-show="toDelete.total_groups > 0 && toDelete.total_hosts > 0"> This group contains {{ toDelete.total_groups }} groups and {{ toDelete.total_hosts }} hosts. </span>
                        <span ng-show="toDelete.total_groups == 0 && toDelete.total_hosts > 0"> This group contains {{ toDelete.total_hosts }} hosts. </span>
                        <span ng-show="toDelete.total_groups > 0 && toDelete.total_hosts == 0"> This group contains {{ toDelete.total_groups }} groups. </span>
                        Delete or promote the group's children?</p>
                        <div style="margin: 15px auto;">

                            <div class="radio" ng-show="toDelete.total_groups > 0 && toDelete.total_hosts > 0">
                                <label>
                                    <input type="radio" ng-model="deleteOption" value="promote"> Promote groups and hosts
                                </label>
                            </div>
                            <div class="radio" ng-show="toDelete.total_groups > 0 && toDelete.total_hosts > 0">
                                <label>
                                    <input type="radio" ng-model="deleteOption" value="delete"> Delete groups and hosts
                                </label>
                            </div>

                            <div class="radio" ng-show="toDelete.total_groups > 0 && toDelete.total_hosts == 0">
                                <label>
                                    <input type="radio" ng-model="deleteOption" value="promote"> Promote groups
                                </label>
                            </div>
                            <div class="radio" ng-show="toDelete.total_groups > 0 && toDelete.total_hosts == 0">
                                <label>
                                    <input type="radio" ng-model="deleteOption" value="delete"> Delete groups
                                </label>
                            </div>

                            <div class="radio" ng-show="toDelete.total_groups == 0 && toDelete.total_hosts > 0">
                                <label>
                                    <input type="radio" ng-model="deleteOption" value="promote"> Promote hosts
                                </label>
                            </div>
                            <div class="radio" ng-show="toDelete.total_groups == 0 && toDelete.total_hosts > 0">
                                <label>
                                    <input type="radio" ng-model="deleteOption" value="delete"> Delete hosts
                                </label>
                            </div>

                        </div>

                    </div>

                </div>
                <div ng-show="toDelete.total_groups == 0 && toDelete.total_hosts == 0">
                    <div class="Prompt-bodyQuery">Are you sure you want to permanently delete the group below from the inventory?</div>
                    <div class="Prompt-bodyTarget">{{ toDelete.name }}</div>
                </div>
                <div class="Modal-footer">
                <div class="GroupDelete-help--container">
                    <a href="" id="awp-promote" href="" aw-pop-over="<dl><dt>Delete</dt><dd>Deletes groups and hosts associated with the group being deleted. If a group or host is associated with other groups, it will still exist within those groups. Otherwise, the associated groups and hosts will no longer appear in the inventory.</dd>\n<dt style='margin-top: 5px;'>Promote</dt><dd>Groups and hosts associated with the group being removed will be promoted root level. Note: groups already associated with other groups cannot be promoted.</dd></dl>\n" aw-tool-tip="Click for help"  data-placement="right" data-container="body" data-title="Help" class="help-link"><i class="fa fa-question-circle"></i> Click for help</a>
                </div>
                  <a href="#" data-target="#group-delete-modal" data-dismiss="modal" id="prompt_cancel_btn_groups_list" class="btn Modal-defaultButton Modal-footerButton">CANCEL</a>
                  <a href="" ng-class="promptActionBtnClass" ng-click="confirmDelete()" id="prompt_action_btn_groups_list" class="btn Modal-footerButton Modal-errorButton">DELETE</a>
              </div>
            </div>
        </div>
    </div>
</div>
