#Inventory-groupManage--panel, #Inventory-hostManage--panel {
    .ui-dialog-buttonpane.ui-widget-content {
        border: none;
        text-align: right;
    }

		#host-panel-form, #properties-tab {
			.Form-header {
				margin-top: -20px;
			}
		}
}
