<div class="LabelList-tagContainer" ng-repeat="label in labels">
    <div class="LabelList-deleteContainer"
        ng-click="deleteLabel(job_template.id, job_template.name, label.id, label.name)"
        ng-show="showDelete && job_template.summary_fields.can_edit">
        <i class="fa fa-times LabelList-tagDelete"></i>
    </div>
    <div class="LabelList-tag" ng-class="{'LabelList-tag--deletable' : (showDelete && job_template.summary_fields.can_edit)}">
        <span class="LabelList-name">{{ label.name }}</span>
    </div>
</div>
<div class="LabelList-seeMoreLess" ng-show="count > 10 && seeMoreInactive"
    ng-click="seeMore()">View More</div>
<div class="LabelList-seeMoreLess" ng-show="count > 10 && !seeMoreInactive"
    ng-click="seeLess()">View Less</div>
