<div id="HostEvent" class="HostEvent modal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
		<!-- modal body -->
		<div class="modal-body">
			<div class="HostEvent-header">
				<span class="HostEvent-title">HOST EVENT</span>
				<!-- close -->
				<button ui-sref="jobDetail" type="button" class="close">
					<i class="fa fa-times-circle"></i>
				</button>
			</div>
			<div class="HostEvent-nav">
				<!-- view navigation buttons -->
				<button ui-sref="jobDetail.host-event.details" type="button" class="btn btn-sm btn-default" ng-class="{'HostEvent-tab--selected' : isActiveState('jobDetail.host-event.details')}">Details</button>
				<button ui-sref="jobDetail.host-event.json" type="button" class="btn btn-sm btn-default " ng-class="{'HostEvent-tab--selected' : isActiveState('jobDetail.host-event.json')}">JSON</button>

			</div>
			<div class="HostEvent-body">
			<!-- views -->
			<div class="HostEvent-view--container" ui-view></div>
			</div>

			<!-- controls -->
			<div class="HostEvent-controls">
				<button ng-disabled="!showPrev()" ng-click="goPrev()"
				class="btn btn-sm btn-default">Prev Host</button>
				<button ng-disabled="!showNext()"ng-click="goNext()" class="btn btn-sm btn-default">Next Host</button>
				<button ui-sref="jobDetail" class="btn btn-sm btn-default HostEvent-close" ng-show="true" >Close</button>
			</div>
		</div>
		</div>
	</div>
</div>
