@import '../../shared/branding/colors.default.less';

.JobResultsStdOut{
    height: 100%;
    margin-top: 15px;
}

.JobResultsStdOut-aLineOfStdOut{
    display: flex;
}

.JobResultsStdOut-lineNumberColumn{
    flex: 1 0 auto;
    background-color: @d7grey;
    text-align: right;
    padding-right: 10px;
    color: @default-icon;
}

.JobResultsStdOut-stdoutColumn{
    background-color: @default-secondary-bg;
    flex: 6 0 auto;

}
