.at-Input {
    .at-mixin-Placeholder(@at-gray-dark-3x);

    background: @at-white;
    border-radius: @at-border-radius;
    color: @at-gray-dark-3x;

    &, &:active {
        border-color: @at-gray-dark-2x;
    }

    &:focus {
        border-color: @at-blue;
    }
}

.at-Input--focus {
    border-color: @at-blue;
}

.at-InputLabel {
    color: @at-gray-dark-4x;
    font-size: @at-font-size-2x;
    font-weight: @at-font-weight;
    text-transform: uppercase;
}

.at-InputLabel-required {
    color: @at-red;
    font-weight: @at-font-weight-2x;
    font-size: @at-font-size-4x;
    line-height: @at-line-height-short;
    margin: @at-space @at-space 0 0;
}

.at-InputGroup {
    position: relative;
    width: 100%;

    & > i {
        position: absolute;  
        z-index: 3;
        pointer-events: none;
        right: @at-space-4x;
        top: @at-space-4x;
    }
}

.at-InputSelect {
    height: @at-input-height;
    position: relative;
}

.at-InputSelect-input {
    position: relative;
    z-index: 2;
    pointer-events: none;
}

.at-InputSelect-select {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 0;
}
