.at-Input {
    .at-placeholder(@at-gray-dark);

    background: @at-white;
    border-radius: @at-border-radius-md;
    color: @at-gray-darkest;

    &, &:active {
        border-color: @at-gray-light;
    }

    &:focus {
        border-color: @at-link;
    }
}

.at-Input-label {
    color: @at-gray-dark;
    font-size: small;
    font-weight: @at-font-weight-sm;
    text-transform: uppercase;
}

.at-Input-label--required {
    color: @at-danger;
    font-weight: @at-font-weight-lg;
    font-size: @at-font-lg;
    line-height: 0.7;
}

.at-Input--placeholder {
    color: @at-gray;
}

.at-Input--focus {
    border-color: @at-link;
}

.at-InputGroup {
    position: relative;
    width: 100%;

    & > i {
        position: absolute;  
        z-index: 3;
        pointer-events: none;
        right: @at-padding-sm;
        top: @at-padding-sm;
    }
}

.at-Select {
    height: @at-input-height-md;
    position: relative;
}

.at-Select-input {
    position: relative;
    z-index: 2;
    pointer-events: none;
}

.at-Select-select {
    position: absolute;
    z-index: 1;
    top: 0;
}
