<div class="col-sm-{{ col }}">
    <div class="form-group">
        <label class="at-Input-label">
            <span ng-if="config.required" class="at-Input-label--required">*</span>
            <span>{{ config.label }}</span>
        </label>
        <div class="at-InputGroup at-Dropdown">
            <input type="text" class="form-control at-Input at-Dropdown-input"
                   ng-attr-autofocus="{{ form.autofocus || undefined }}"
                   placeholder="{{ config.placeholder | uppercase }}" ng-model="config.input" />

            <select class="form-control at-Dropdown-select" ng-model="config.input"
                    tabindex="{{ form.tabindex }}">
                <optgroup ng-repeat="group in config.data" label="{{ group.category | uppercase }}">
                    <option ng-repeat="item in group.data" value="{{ item.name }}">
                        {{ item.name }}
                    </option>
                </optgroup>
            </select>
            <i ng-hide="open" class="fa fa-caret-down"></i>
            <i ng-show="open" class="fa fa-caret-up"></i>
        </div>
    </div>
</div>
