<breadcrumbs>
    <breadcrumb path="/setup" title="Setup"></breadcrumb>
    <breadcrumb path="/inventory_scripts" title="Inventory Scripts"></breadcrumb>
    <breadcrumb
        path="/inventory_scripts/add"
        title="Create Inventory Script"
        ng-if="mode == 'add'">
    </breadcrumb>
    <breadcrumb
      path="/inventory_scripts/{{source_script.id}}"
      title="{{inventory_scripts}}"
      ng-if="organization_id">
    </breadcrumb>
</breadcrumbs>

<div class="tab-pane" id="inventory_scripts">
  <div ng-cloak id="htmlTemplate"></div>
</div>
