<div class="BreadCrumb InventoryManageBreadCrumbs">
	<ol class="BreadCrumb-list">
		<li class="BreadCrumb-item"><a ui-sref="inventories">Inventories</a></li>
		<li href class="BreadCrumb-item"><a href ng-click="goToInventory()">Manage {{inventory.name}}</a></li>
		<!-- inside inventoryManage list view (last item is not clickable) -->
		<span ng-if="isRootState()">
            <li class="BreadCrumb-item"></li>
			<li ng-repeat="group in groups | limitTo:(groups.length-1) track by $index" class="BreadCrumb-item">
				<a href ng-click="goToGroup($index+1)">{{group.name}}</a>
			</li>
			<li ng-hide="groups.length == 0" class="BreadCrumb-item"><span>{{groups[groups.length-1].name}}</span></li>
		</span>
		<!-- inside inventoryManage.child like add/edit (last item is clickable)-->
		<span ng-if="!isRootState()">
			<li class="BreadCrumb-item"></li>
			<li ng-repeat="group in groups track by $index" class="BreadCrumb-item">
				<a href ng-click="goToGroup($index)">{{group.name}}</a>
			</li>
			<li class="BreadCrumb-item"></li>
		</span>
        <div class="InventoryManageBreadCrumb-ncy" ng-if="!licenseMissing" ncy-breadcrumb></div>
	</ol>
    <div class="BreadCrumb-menuLink"
        id="bread_crumb_activity_stream"
        aw-tool-tip="View Activity Stream"
        data-placement="left"
        data-trigger="hover"
        data-container="body"
        ng-class="{'BreadCrumb-menuLinkActive' : activityStreamActive}"
        ng-if="showActivityStreamButton"
        ng-hide= "licenseMissing"
        ng-click="openActivityStream()">
        <i class="BreadCrumb-menuLinkImage icon-activity-stream"
            alt="Activity Stream">
        </i>
    </div>
</div>
