<div class="BreadCrumb InventoryManageBreadCrumbs">
	<ol class="BreadCrumb-list">
		<li class="BreadCrumb-item"><a ui-sref="inventories">Inventories</a></li>
		<li class="BreadCrumb-item">
			<a href ng-if="currentState !== 'inventoryManage' || groups.length > 0" ng-click="goToInventory()">{{inventory.name}}</a>
			<span ng-if="currentState === 'inventoryManage' && groups.length === 0">{{inventory.name}}</span>
		</li>
		<!-- inside inventoryManage list view (last item is not clickable) -->
		<li ng-repeat="group in groups | limitTo:(groups.length-1) track by $index" class="BreadCrumb-item" ng-if="currentState === 'inventoryManage'">
			<a href ng-click="goToGroup($index+1)">{{group.name}}</a>
		</li>
		<li ng-hide="groups.length == 0" class="BreadCrumb-item" ng-if="currentState === 'inventoryManage'">
			<span>{{groups[groups.length-1].name}}</span>
		</li>
		<!-- inside inventoryManage.child like add/edit (last item is clickable)-->
		<li ng-repeat="group in groups track by $index" class="BreadCrumb-item" ng-if="currentState !== 'inventoryManage'">
			<a href ng-click="goToGroup($index+1)">{{group.name}}</a>
		</li>
		<li class="BreadCrumb-item" ng-if="currentState !== 'inventoryManage'"></li>
        <div class="InventoryManageBreadCrumb-ncy" ng-if="!licenseMissing" ncy-breadcrumb></div>
	</ol>
    <div class="BreadCrumb-menuLink"
        id="bread_crumb_activity_stream"
        aw-tool-tip="View Activity Stream"
        data-placement="left"
        data-trigger="hover"
        data-container="body"
        ng-class="{'BreadCrumb-menuLinkActive' : activityStreamActive}"
        ng-if="showActivityStreamButton"
        ng-hide= "licenseMissing"
        ng-click="openActivityStream()">
        <i class="BreadCrumb-menuLinkImage icon-activity-stream"
            alt="Activity Stream">
        </i>
    </div>
</div>
