.InventoryManageBreadCrumbs .BreadCrumb-list{
	padding-right: 0px;
}
.InventoryManageBreadCrumb-ncy.BreadCrumb-list{
	padding-left: 5px;
}
.InventoryManageBreadCrumbs-separator{
	content: "/";
    padding: 0 5px;
    color: #B7B7B7;
}
.InventoryManageBreadCrumbs{
	position: relative;
	height: auto;
	top: -40px;
	.BreadCrumb-list{
		margin-bottom: 0px;
	}
}
.InventoryManage-breakWord{
	word-break: break-all;
}
ol.BreadCrumb-list{
	display: inline-block;
}