<div class="tab-pane" id="inventories-panel">
    <aw-limit-panels max-panels="2" panel-container="inventories-panel"></aw-limit-panels>
    <div ui-view="adhocForm"></div>
    <div ui-view="scheduler"></div>
    <div ui-view="hostForm"></div>
    <div ui-view="nestedGroupForm"></div>
    <div ui-view="groupForm"></div>
    <div ui-view="sourcesForm"></div>
    <div ui-view="form"></div>
    <div ng-cloak id="htmlTemplate" class="card at-Panel">
        <div class="row Form-tabRow">
            <div class="col-lg-12">
                <div class="Form-tabHolder">
                    <div class="Form-tab Form-tab--notitle" ng-click="$state.go('inventories')" ng-class="{'is-selected': $state.includes('inventories')}" translate>INVENTORIES</div>
                    <div class="Form-tab Form-tab--notitle" ng-click="$state.go('hosts')" ng-class="{'is-selected': $state.includes('hosts')}" translate>HOSTS</div>
                </div>
            </div>
        </div>
        <div ui-view="list"></div>
    </div>
</div>
