<div ui-view="scheduler"></div>
<div ui-view="form"></div>
<at-panel ng-cloak>
    <div ng-if="$state.includes('templates')">
        <at-panel-heading
            title="{{:: vm.strings.get('list.PANEL_TITLE') }}"
            hide-dismiss="true"
            badge="{{ vm.count }}">
        </at-panel-heading>
    </div>
    <div ng-if="!$state.includes('templates')">
        <at-panel-heading
            title="{{:: vm.strings.get('list.PANEL_TITLE') }}"
            badge="{{ vm.count }}">
        </at-panel-heading>
    </div>
    <div ui-view="templatesList"></div>
</at-panel>
