#instance-modal .at-Panel-headingRow {
  margin-bottom: @at-space-4x;
}

.Modal-backdrop {
 background: #000;
 height:100%;
 left: 0px;
 opacity: 0.25;
 position: fixed;
 top: 0px;
 width:100%;
 z-index: 1050;
}

.Modal-holder {
  bottom: 0px;
  left: 0px;
  overflow-y: scroll;
  position: fixed;
  right: 0px;
  top: 0px;
  top: 1;
  z-index: 1100;

  .modal-dialog {
    padding-top: 100px;
  }
}
