<at-panel>
    <at-panel-heading>
        {{ vm.panelTitle }}
    </at-panel-heading>

    <at-tab-group>
        <at-tab state="vm.tab.details">{{:: vm.strings.get('tab.DETAILS') }}</at-tab>
        <at-tab state="vm.tab.instances">{{:: vm.strings.get('tab.INSTANCES') }}</at-tab>
        <at-tab state="vm.tab.jobs" ng-hide="$state.current.name === 'instanceGroups.add'">{{:: vm.strings.get('tab.JOBS') }}</at-tab>
    </at-tab-group>

    <at-panel-body
        style="margin-top: 20px">
        <div class="at-List-toolbar">
            <smart-search
                class="at-List-search"
                django-model="instances"
                base-path="instances"
                iterator="instance"
                list="list"
                dataset="vm.instances"
                collection="collection"
                search-tags="searchTags">
            </smart-search>
            <!-- TODO: only show when permission -->
            <div class="at-List-toolbarAction">
                <button
                    type="button"
                    ng-click="$state.go('instanceGroups.instances.modal.add')"
                    class="at-Button--add"
                    aria-haspopup="true"
                    aria-expanded="false">
                </button>
                <div ui-view="modal"></div>
            </div>
        </div>
        <at-list results='vm.instances'>
            <at-row ng-repeat="instance in vm.instances"
                ng-class="{'at-Row--active': (instance.id === vm.activeId)}">

                <div class="at-Row-items">
                    <at-row-item
                        header-value="{{ instance.hostname }}"
                        header-tag="{{ vm.instanceTypes[instance.type] }}"></at-row-item>
                    </at-row-item>
                    <div class="at-Row--rowLayout">
                        <at-row-item
                            label-value="Running Jobs"
                            label-state="instanceGroups.instanceJobs({instance_group_id: {{vm.instance_group_id}}, instance_id: {{instance.id}}})"
                            value="{{ instance.jobs_running }}"
                            badge="true">
                        </at-row-item>
                    </div>
                </div>

                <div class="at-Row-actions">
                    <capacity-bar label-value="Used Capacity" capacity="instance.consumed_capacity" total-capacity="instance.capacity"></capacity-bar>
                </div>
            </at-row>
        </at-list>
    </at-panel-body>
</at-panel>
