/** @define SmartStatus */
@import "awx/ui/client/legacy-styles/animations.less";
@import "../shared/branding/colors.default.less";

.SmartStatus-container{
    max-width: 165px;
    display:flex;
}

.SmartStatus-iconContainer{
    padding: 2px;
    flex: 0 1 auto;
}

.SmartStatus--success{
    color: @default-succ;
    margin-bottom: 20px;
    padding: 0px;
}

.SmartStatus--failed{
    color: @default-err;
    margin-top: 20px;
    padding: 0px;
}

.SmartStatus--running{
    color: @default-icon;
    margin-top: 10px;
    padding: 0px;
    .pulsate();
}

.SmartStatus-tooltip{
    text-align: left;
    max-width: 250px;
    padding: 10px;
    line-height: 22px;
}

.SmartStatus-tooltip--success{
    color: @default-succ;
    padding-left: 5px;
    padding-right: 0px;
    text-shadow:
        -1px -1px 0 @default-bg,
        1px -1px 0 @default-bg,
        -1px 1px 0 @default-bg,
        1px 1px 0 @default-bg;

}

.SmartStatus-tooltip--failed{
    color: @default-err;
    padding-left: 5px;
    padding-right: 0px;
    text-shadow:
        -1px -1px 0 @default-bg,
        1px -1px 0 @default-bg,
        -1px 1px 0 @default-bg,
        1px 1px 0 @default-bg;
}

.SmartStatus-tooltip--running{
    color: @default-data-txt;
    padding-left: 5px;
    padding-right: 0px;
    text-shadow:
        -1px -1px 0 @default-bg,
        1px -1px 0 @default-bg,
        -1px 1px 0 @default-bg,
        1px 1px 0 @default-bg;
    .pulsate();
}
