<!-- login modal -->
<div id="login-modal" class="modal fade">
   <div class="modal-dialog">
      <div class="modal-content" id="login-modal-content">

          <div class="modal-header login-header">
              <img src="" + $basePath + "assets/tower_console_logo.png" >
          </div>
          <div class="modal-body" id="login-modal-body">
              <div class="login-alert" ng-show="!sessionExpired">Welcome to Ansible Tower! &nbsp;Please sign in.</div>
              <div class="login-alert" ng-show="sessionExpired">Your session timed out due to inactivity. Please sign in.</div>
              <form id="login-form" name="loginForm" class="form-horizontal" autocomplete="off" novalidate >
                  <div class="form-group">
                      <label class="control-label col-md-offset-1 col-md-2 col-sm-offset-1 col-sm-2 col-xs-3 prepend-asterisk prepend-asterisk--login">Username</label>
                      <div class="col-md-8 col-sm-8 col-xs-9">
                          <input type="text" name="login_username" class="form-control" ng-model="login_username"
                              id="login-username" autocomplete="off" required>
                          <div class="error" ng-show="loginForm.login_username.$dirty && loginForm.login_username.$error.required">Please enter a username.</div>
                          <div class="error api-error" ng-bind="usernameError"></div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="control-label col-md-offset-1 col-md-2 col-sm-offset-1 col-sm-2 col-xs-3 prepend-asterisk repend-asterisk--login">Password</label>
                      <div class="col-md-8 col-sm-8 col-xs-9">
                          <input type="password" name="login_password" id="login-password" class="form-control"
                              ng-model="login_password" required autocomplete="off">
                          <div class="error" ng-show="loginForm.login_password.$dirty && loginForm.login_password.$error.required">Please enter a password.</div>
                          <div class="error api-error" ng-bind="passwordError"></div>
                      </div>
                  </div>
              </form>
          </div>
          <div class="modal-footer">
              <button ng-click="systemLogin(login_username, login_password)" id="login-button" class="btn btn-primary"><i class="fa fa-sign-in"></i> Sign in</button>
          </div>


      </div><!-- modal-content -->
   </div><!-- modal-dialog -->
</div><!-- modal -->
