/** @define LoginModal */

.LoginModal-header {
    text-align: center;
    background-color: #171717;
    border-left: 1px solid #686868;
    border-right: 1px solid #686868;
    border-top: 1px solid #686868;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.LoginModal-alert {
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: normal;
    color: #1778c3;
    text-align: center;
}

.LoginModal-labelAsterisk:before {
    margin-right: -2px;
}

.LoginModal-footer {
    display: flex;
    align-items: center;
}

.LoginModal-footerBlock {
    flex: 1 0 auto;
    text-align: left;
}

.LoginModal-footerBlock--submit {
    text-align: right;
}
