@import "../shared/branding/colors.default.less";

#LookupModal-dialog {
  .List-searchWidget {
    width: 66.6666%
  }

  .List-tableHeaderRow {
    .List-tableHeader:first-of-type {
      width: 3%;
    }
  }

  .List-tableHeader,
  .List-tableHeader:last-of-type {
    text-align:left;
  }

  .List-tableCell {
    color: @default-interface-txt;
  }
}
