@import "awx/ui/client/src/shared/layouts/one-plus-one.less";

.PortalMode-container{
	.OnePlusOne-container;
}

.PortalMode-panel--left{
	.OnePlusOne-panel--left;
}
.PortalMode-panel--right{
	.OnePlusOne-panel--right;
	.List-tableHeader:last-of-type{
		text-align:left;
	}
}
.PortalMode-panelHeader{
	.OnePlusOne-panelHeader;
}
.PortalMode-filter{
	position: absolute;
	top: 45px;
	right: 35px;

    .btn.btn-xs {
        padding: 1px 10px;
    }
}
