<div class="tab-pane PortalMode">
    <div ng-cloak id="portal-landing">
        <div class="PortalMode-container">
            <div ui-view="job-templates" class="PortalMode-panel--left Panel">
            </div>
            <div class="PortalMode-panel--right">
                <div id="portal-container-jobs" class="Panel">
                    <div class="PortalMode-filterHolder">
                        <div class="FormToggle-container">
                            <div class="btn-group">
                                <button ng-class="{'btn-primary': $state.is('portalMode.myJobs'), 'Button-primary--hollow': $state.is('portalMode.allJobs')}"
                                        ng-click='filterUser()'
                                        class="btn btn-xs"
                                        translate>
                                    My Jobs
                                </button>
                                <button ng-class="{'btn-primary': $state.is('portalMode.allJobs'), 'Button-primary--hollow': $state.is('portalMode.myJobs')}"
                                        ng-click='filterAll()'
                                        class="btn btn-xs"
                                        translate>
                                    All Jobs
                                </button>
                            </div>
                        </div>
                        <div class="PortalMode-refresh">
                            <button id="refresh_btn" aw-tool-tip="Refresh the page" data-placement="top" class="btn List-buttonDefault"
                                    ng-click="refresh()" ng-show="socketStatus == 'error'">
                                <span>REFRESH</span>
                            </button>
                        </div>
                    </div>
                    <div ui-view="jobs">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
