<div id="portal-container-jobs" class="Panel">
    <div class="FormToggle-container">
        <div class="btn-group">
            <button ng-class="{'btn-primary': activeFilter === 'user', 'Button-primary--hollow': activeFilter !== 'user'}"
                    ng-click='filterUser()'
                    class="btn btn-xs"
                    translate>
                My Jobs
            </button>
            <button ng-class="{'btn-primary': activeFilter === 'all', 'Button-primary--hollow': activeFilter !== 'all'}"
                    ng-click='filterAll()'
                    class="btn btn-xs"
                    translate>
                All Jobs
            </button>
        </div>
        <div class="PortalMode-refresh">
            <button id="refresh_btn" aw-tool-tip="Refresh the page" data-placement="top" class="btn List-buttonDefault" 
                    ng-click="refresh()" ng-show="socketStatus == 'error'">
                <span translate>REFRESH</span>
            </button>
        </div>
    </div>
    <div id="portal-jobs">
    </div>
</div>
