.at-Popover-icon {
    .at-IconButton();  
    font-size: @at-font-md;
    padding: 0 0 0 @at-padding-xxs;
    margin: 0;
}

.at-Popover-container {
    color: @at-white;
    background-color: @at-gray-dark;
    max-width: @at-popover-width;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 5px;
    z-index: 2000;
}
