<div class="RoleList-tagContainer"
    ng-repeat="entry in access_list">
    <div class="RoleList-deleteContainer"
        ng-if="entry.explicit"
        ng-click="deletePermission(permission, entry)">
        <i ng-if="entry.explicit"
            class="fa fa-times RoleList-tagDelete"></i>
    </div>
    <div class="RoleList-tag"
        ng-class="{'RoleList-tag--deletable': entry.explicit,
            'RoleList-tag--team': entry.team_id}"
        aw-tool-tip='{{entry.team_name}}' aw-tip-placement='bottom'>
        <span class="RoleList-name">{{ entry.name }}</span>
        <i ng-show='entry.team_id' class="fa fa-users"></i>
    </div>
</div>
