.Inventories {}

.Inventories--popover-table {
    margin-bottom: 0;

    & > thead > tr > th,
    & > tbody > tr > td {
        padding-left: 0; 
    }
}

.Inventories--popover-content {
    padding: 10px;
}

.Inventories--popover-title {
    padding: 10px 0 0 10px;
}
