// Styling for login modal logo
.LoginModal-logoImage, .LoginModal-logoImage--notCustom {
    width: 200px;
    margin: -30px 20px 10px -30px;
}

// Styling for home button on left-hand side of the nav bar
.MainMenu-logoImage {
    width: 100px;
    margin: 20px;
    padding-top: 20px;
}

// Styling for the about modal
.About-brandImg {
    float: left;
    width: 200px;
		padding-top: 13px;
}
