// Styling for login modal logo
.LoginModal-logoImage, .LoginModal-logoImage--notCustom {
    max-width: 112px;
    margin: 20px 20px 10px 20px;
}

// Styling for home button on left-hand side of the nav bar
.MainMenu-logoImage {
    max-width: 147px;
    max-height: 50px;
    height: 30px;
    width: 93px;
    margin: 20px;
}

// Styling for the about modal
.About-brandImg {
    float: left;
    width: 112px;
		padding-top: 13px;
}
