// Default styles for AWX branding

// Login modal icon
@login-max-width:           200px;
@login-magin:               -30px 20px 10px -30px;

// Main nav bar logo
@main-menu-width:           100px;
@main-menu-margin:          20px;
@main-menu-padding-top:     20px;
@main-menu-max-width:       inherit;
@main-menu-max-height:      inherit;
@main-menu-height:          inherit;

// About modal logo
@about-modal-float:         left;
@about-modal-width:         200px;
@about-modal-padding-top:   13px;
