<breadcrumbs>
    <breadcrumb path="/setup" title="Setup"></breadcrumb>
    <breadcrumb path="/credentials" title="Credentials"></breadcrumb>
    <breadcrumb
        path="/credentials/add"
        title="Create Credential"
        ng-if="mode == 'add'">
    </breadcrumb>
    <breadcrumb
        path="/credentials/{{id}}"
        title="{{credential_name}}"
        ng-if="id">
    </breadcrumb>
</breadcrumbs>

<div class="tab-pane" id="credentials">
  <div ng-cloak id="htmlTemplate"></div>
</div>
