<div class="List-infoCell">
    <span class="List-infoCell--badge" aw-pop-over="<dl><dt>INVENTORY</dt><dd>{{(job_template.summary_fields.inventory.name | sanitize) || 'NONE SELECTED'}}</dd></dl><dl><dt>PROJECT</dt> <dd>{{job_template.summary_fields.project.name | sanitize}}</dd></dl><dl><dt>PLAYBOOK</dt> <dd>{{job_template.playbook| sanitize}}</dd></dl><dl><dt>CREDENTIAL</dt> <dd>{{(job_template.summary_fields.credential.name | sanitize) || 'NONE SELECTED'}}</dd></dl>" data-popover-title="{{job_template.name| sanitize}}">INFO</span>
</div>
