<div class="tab-pane" id="jobs-stdout">
    <div ng-cloak id="htmlTemplate">

        <div class="StandardOut">
        <div class="StandardOut-heading">

            <div class="row StandardOut-breadcrumbs">
                <div id="home-list-actions" class="list-actions pull-right col-md-12">
                    <button type="button" class="btn btn-xs btn-primary ng-hide" ng-click="refresh()" id="refresh_btn" aw-tool-tip="Refresh the page" data-placement="top" ng-show="socketStatus == 'error'" data-original-title="" title=""><i class="fa fa-refresh fa-lg"></i> </button></div>
                </div>
            <div class="row StandardOut-form">
                <div class="col-md-12">
                    <div id="job-status"><label>Job Status</label> <i class="fa icon-job-{{ job.status }}"></i> {{ job.status }}</div>
                </div>
            </div>
        </div>
            <div class="panel panel-default job-stdout-panel StandardOut-panel">
              <div class="panel-heading StandardOut-panelHeading">
                <h3 class="panel-title">Standard Output
                <a href="/api/v1/jobs/{{ job.id }}/stdout?format=txt_download&token={{ token }}" class="btn btn-primary btn-xs DownloadStandardOut DownloadStandardOut--onStandardOutPage" id="download-stdout-button" type="button" aw-tool-tip="Download standard out as a .txt file" data-placement="top" ng-show="job.status === 'cancelled' || job.status === 'failed' || job.status === 'error' || job.status === 'successful'">
                        <i class="fa fa-download DownloadStandardOut-icon DownloadStandardOut-icon--withText"></i>Download
                </a>
              </div>
              <div class="panel-body stdout-panel-body StandardOut-panelBody">
                  <div id="pre-container" class="body_background
                      body_foreground pre mono-space StandardOut-preContainer"
                      lr-infinite-scroll="stdOutScrollToTop"
                      scroll-threshold="300" data-direction="up" time-threshold="500">
                      <div id="pre-container-content"  class="StandardOut-preContent"></div>
                  </div>
                  <div class="scroll-spinner" id="stdoutMoreRowsBottom">
                      <i class="fa fa-cog fa-spin"></i>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>
