<div class="tab-pane" id="jobs-stdout">
    <div ng-cloak id="htmlTemplate">

        <div class="row">
            <div id="breadcrumb-container" class="col-md-6" style="position: relative;">
                <ul class="ansible-breadcrumb" id="breadcrumb-list">
                    <li><a href="/#/jobs">Jobs</a></li>
                    <li><a href="/#/jobs/{{ job.id }}">{{ job.id }} - {{ job.name }}</a></li>
                    <li class="active"><a href="">Standard Out</a></li>
                </ul>
            </div>
            <div id="home-list-actions" class="list-actions pull-right col-md-6">
                <button type="button" class="btn btn-xs btn-primary ng-hide" ng-click="refresh()" id="refresh_btn" aw-tool-tip="Refresh the page" data-placement="top" ng-show="socketStatus == 'error'" data-original-title="" title=""><i class="fa fa-refresh fa-lg"></i> </button></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="job-status"><label>Job Status</label> <i class="fa icon-job-{{ job.status }}"></i> {{ job.status }}</div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default job-stdout-panel">
              <div class="panel-heading">
                <h3 class="panel-title">Standard Output</h3>
              </div>
              <div class="panel-body stdout-panel-body">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="scroll-spinner" id="stdoutMoreRowsTop">
                              <i class="fa fa-cog fa-spin"></i>
                          </div>
                          <div id="pre-container" class="body_background
                              body_foreground pre mono-space"
                              lr-infinite-scroll="stdOutScrollToTop"
                              scroll-threshold="300" data-direction="up" time-threshold="500">
                              <div id="pre-container-content"></div>
                          </div>
                      </div>
                      <div class="scroll-spinner" id="stdoutMoreRowsBottom">
                          <i class="fa fa-cog fa-spin"></i>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>
