<div class="tab-pane" id="jobs-page">
    <div ng-cloak id="htmlTemplate" class="Panel">

        <div id="refresh-row" class="row" ng-show="socketStatus == 'error'">
            <div class="col-lg-12">
                <div id="home-list-actions" class="list-actions pull-right">
                    <button type="button" class="btn btn-xs btn-primary" ng-click="refreshJobs()" id="refresh_btn" aw-tool-tip="Refresh the page" data-placement="top"
                        data-original-title="" title=""><i class="fa fa-refresh fa-lg"></i></button>
                </div>
            </div>
        </div>

        <div>
            <div id="jobs_tabs" class="Form-tabHolder">
                <div class= "Form-tab is-selected" id="active_jobs_link"
                    ng-class="{'is-selected': jobsSelected }"
                    ng-click="toggleTab('jobs')">
                    Jobs
                </div>
                <div id="scheduled_jobs_link" class="Form-tab"
                    ng-class="{'is-selected': schedulesSelected }"
                    ng-click="toggleTab('scheduled')">
                    Schedule
                </div>
            </div>
            <div  id="jobs-tab-content" class="Form-tabSection"
                ng-class="{'is-selected': jobsSelected }">
                    <div class= "row search-row">
                        <div class="col-lg-4 col-md-4 " id="active-jobs-search-container">
                        </div>
                    </div>
                    <div class= "job-list" id="active-jobs-container">
                        <div id="active-jobs" class= "job-list-target">
                        </div>
                    </div>
                </div>
                <div class= "Form-tabSection" id="scheduled-jobs-tab"
                    ng-class="{'is-selected': schedulesSelected }">
                    <div class= "row search-row">
                        <div class="col-lg-4 col-md-4 " id="scheduled-jobs-tab-search-container">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="schedule-dialog-target"></div>
        <div ng-include="'/static/partials/logviewer.html'"></div>
        <div ng-include="'/static/partials/schedule_dialog.html'"></div>

    </div>
</div>
