<div class="tab-pane" id="jobs-page">
    <div ng-cloak id="htmlTemplate" class="Panel">

        <div>
            <div id="jobs_tabs" class="Form-tabHolder">
                <div class="Form-tabs">
                    <div class= "Form-tab is-selected" id="active_jobs_link"
                        ng-class="{'is-selected': jobsSelected }"
                        ng-click="toggleTab('jobs')">
                        Jobs
                    </div>
                    <div id="scheduled_jobs_link" class="Form-tab"
                        ng-class="{'is-selected': schedulesSelected }"
                        ng-click="toggleTab('scheduled')">
                        Schedules
                    </div>
                </div>
                <div class="Form-tabActions">
                    <button id="refresh_btn" ng-show="socketStatus === 'error'" aw-tool-tip="Refresh the page" data-placement="top" class="btn List-buttonDefault" ng-click="refreshJobs()" toolbar="true">
                            <span>REFRESH</span>
                    </button>
                </div>
            </div>
            <div  id="jobs-tab-content" class="Form-tabSection"
                ng-class="{'is-selected': jobsSelected }">
                    <div class= "job-list" id="active-jobs-container">
                        <div id="active-jobs" class= "job-list-target">
                        </div>
                    </div>
                </div>
                <div class= "Form-tabSection" id="scheduled-jobs-tab"
                    ng-class="{'is-selected': schedulesSelected }">
                    <div class= "row search-row">
                        <div class="col-lg-4 col-md-4 " id="scheduled-jobs-tab-search-container">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="schedule-dialog-target"></div>
        <div ng-include="'/static/partials/logviewer.html'"></div>
    </div>
</div>
