
<div id="logviewer-modal-dialog" title="Log View" style="display: none;">
    <ul id="logview-tabs" class="nav nav-tabs">
        <li class="active"><a href="#status" id="status-link" data-toggle="tab" ng-click="toggleTab($event, 'status-link', 'logview-tabs')">Status</a></li>
        <li><a href="#stdout" id="stdout-link" data-toggle="tab" ng-click="toggleTab($event, 'stdout-link', 'logview-tabs')">Standard Out</a></li>
        <li><a href="#traceback" id="traceback-link" data-toggle="tab" ng-click="toggleTab($event, 'traceback-link', 'logview-tabs')">Traceback</a></li>
        <li><a href="#options" id="options-link" data-toggle="tab" ng-click="toggleTab($event, 'options-link', 'logview-tabs')">Options</a></li>
        <li><a href="#variables" id="variables-link" data-toggle="tab" ng-click="toggleTab($event, 'variable-link', 'logview-tabs')">Extra Vars</a></li>
        <li><a href="#source-variables" id="source-variables-link" data-toggle="tab" ng-click="toggleTab($event, 'source-variable-link', 'logview-tabs')">Source Vars</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="status">
            <div id="status-form-container"></div>
        </div>
        <div class="tab-pane" id="stdout">
            <div id="stdout-form-container"></div>
        </div>
        <div class="tab-pane" id="traceback">
            <div id="traceback-form-container"></div>
        </div>
        <div class="tab-pane" id="options">
            <div id="options-form-container"></div>
        </div>
        <div class="tab-pane" id="variables">
            <div id="variables-container"></div>
        </div>
        <div class="tab-pane" id="source-variables">
            <div id="source-container"></div>
        </div>
    </div>
</div>