<div class="OwnerList" ng-init="ownersLimit = 5; ownersLimitConst = 5;">
    <div class="OwnerList-Container"
        ng-repeat="owner in owners_list | limitTo:ownersLimit">
        <a ng-if="owner.type === 'organization'"
            ui-sref="organizations.edit({ organization_id: owner.id })">
                {{ owner.name }}{{$last ? '' : ', '}}
          </a>
        <a ng-if="owner.type === 'user'"
            ui-sref="users.edit({ user_id: owner.id })">
                {{ owner.name }}{{$last ? '' : ', '}}
        </a>
        <a ng-if="owner.type === 'team'"
            ui-sref="teams.edit({ team_id: owner.id })">
                {{ owner.name }}{{$last ? '' : ', '}}
        </a>
    </div>

    <div class="OwnerList-seeMore"
        ng-show="owners_list.length > ownersLimitConst && ownersLimit == ownersLimitConst"
        ng-click="ownersLimit = owners_list.length">
            View More
    </div>

    <div class="OwnerList-seeLess"
        ng-show="owners_list.length > ownersLimitConst && ownersLimit != ownersLimitConst"
        ng-click="ownersLimit = ownersLimitConst">
            View Less
    </div>
</div>
