/** @define DownloadStandardOut */

.DownloadStandardOut {
    color: #fff !important;
}

.DownloadStandardOut--onStandardOutPage {
    margin-top: -3px;
    margin-right: -9px;
    float: right;
}

.DownloadStandardOut--onModal {
    margin-bottom: 10px;
}

.DownloadStandardOut-icon {
    color: #fff;
}

.DownloadStandardOut-icon--withText {
    margin-right: 5px;
}
