<div id="add-users-modal" class="AddUsers modal">
    <div class="AddUsers-dialog">
        <div class="AddUsers-content is-loggedOut">
            <div class="AddUsers-header">
                <div class="List-header">
                    <div class="List-title">
                        <div class="List-titleText ng-binding">{{ $parent.organization_name }}<div class="List-titleLockup"></div><span translate>ADD</span> {{ addType | capitalize}}
                        </div>
                    </div>
                    <div class="Form-exitHolder">
                        <button aria-label="{{'Close'|translate}}" class="Form-exit" ng-click="closeModal()">
                            <i class="fa fa-times-circle"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div id="add-users-list" class="AddUsers-body"></div>
            <div class="AddUsers-footer">
                <div class="buttons Form-buttons AddUsers-buttons">
                    <button type="button"
                        class="btn btn-sm Form-cancelButton"
                        ng-click="closeModal()">
                        Cancel
                    </button>
                    <button type="button"
                        class="btn btn-sm Form-saveButton"
                        ng-click="updateUsers()"
                        ng-disabled="!selectedItems || selectedItems.length === 0">
                        Save
                    </button>
                </div>
            </div>
        </div>
   </div>
</div>
