<span ng-repeat="(name, options) in list.actions">
    <!-- TODO: Unfortunately, the data-tip-watch attribute is not loaded for
    some reason -->
    <button
        toolbar-button
        mode="options.mode"
        icon-name="{{name}}"
        aw-tool-tip="{{options.awToolTip}}"
        data-tip-watch="{{options.dataTipWatch}}"
        data-placement="{{options.dataPlacement}}"
        data-container="{{options.dataContainer}}"
        class="options.class"
        data-title="{{options.dataTitle}}"
        icon-size="{{options.iconSize}}"
        ng-click="$eval(options.ngClick)"
        ng-hide="isHiddenByOptions(options) ||
                    hiddenOnCurrentPage(options.basePaths) ||
                    hiddenInCurrentMode(options.mode)"
        toolbar="true"
        aw-feature="{{options.awFeature}}">
    </button>

</span>
<button
    toolbar-button
    icon-name="help"
    aw-pop-over="{{list.selectInstructions}}"
    data-placement="left"
    data-container="body"
    class="btn-xs btn-help"
    aw-tool-tip="Click for help"
    data-title="Help"
    icon-size="fa-lg"
    toolbar="true"
    ng-if="mode === 'select' && list.selectInstructions">
</button>
