<at-panel>
    <at-panel-heading>
        {{ vm.panelTitle }}
    </at-panel-heading>
    <at-tab-group>
        <at-tab state="vm.tab.details">{{:: vm.strings.get('tab.DETAILS') }}</at-tab>
        <at-tab state="vm.tab.instances">{{:: vm.strings.get('tab.INSTANCES') }}</at-tab>
        <at-tab state="vm.tab.jobs">{{:: vm.strings.get('tab.JOBS') }}</at-tab>
    </at-tab-group>

    <at-panel-body>
        <div class="at-List-toolbar">
            <smart-search
                class="at-List-search"
                django-model="jobs"
                base-path="unified_jobs"
                iterator="job"
                list="list"
                dataset="job_dataset"
                collection="collection"
                search-tags="searchTags"
                query-set="querySet">
            </smart-search>
        </div>
        <at-list results="vm.jobs">
            <at-row ng-repeat="job in vm.jobs"
                ng-class="{'at-Row--active': (job.id === vm.activeId)}"
                job-id="{{ job.id }}">
                <div class="at-RowStatus">
                    <a ng-click="vm.viewJobResults(job)" aw-tool-tip="{{ job.status_tip }}" data-tip-watch="job.status_tip" aw-tip-placement="right" >
                        <i class="fa icon-job-{{ job.status }}"></i>
                    </a>
                </div>
                <div class="at-Row-items">
                    <at-row-item
                        class="at-RowItem--isHeaderLink"
                        header-value="{{ job.name }}"
                        header-tag="{{ job.type }}"
                        ng-click="vm.viewjobResults(job)">
                    </at-row-item>
                    <at-row-item
                        label-value="{{:: vm.jobStrings.get('list.ROW_ITEM_LABEL_STARTED') }}"
                        value="{{ vm.getTime(job.started) }}">
                    </at-row-item>
                    <at-row-item
                        label-value="{{:: vm.jobStrings.get('list.ROW_ITEM_LABEL_FINISHED') }}"
                        value="{{ vm.getTime(job.finished) }}">
                    </at-row-item>
                    <at-row-item
                        header-value="{{ job.name }}"
                        header-link="/#/jobs/workflow_job/{{ job.id }}"
                        header-tag="{{ vm.jobTypes[job.type] }}"
                        ng-if="job.type === 'workflow_job_job'">
                    </at-row-item>
                    <at-row-item
                        label-value="{{:: vm.jobStrings.get('list.ROW_ITEM_LABEL_TEMPLATE') }}"
                        value="{{ job.summary_fields.job_template.name }}"
                        value-link="/#/templates/job_template/{{ job.summary_fields.job_template.id }}">
                    </at-row-item>
                    <at-row-item
                        label-value="{{:: vm.jobStrings.get('list.ROW_ITEM_LABEL_INVENTORY') }}"
                        value="{{ job.summary_fields.inventory.name }}"
                        value-link="/#/inventories/inventory/{{ job.summary_fields.inventory.id }}">
                    </at-row-item>
                    <at-row-item
                        label-value="{{:: vm.jobStrings.get('list.ROW_ITEM_LABEL_PROJECT') }}"
                        value="{{ job.summary_fields.project.name }}"
                        value-link="/#/projects/{{ job.summary_fields.project.id }}">
                    </at-row-item>
                    <at-row-item
                        label-value="{{:: vm.jobStrings.get('list.ROW_ITEM_LABEL_CREDENTIALS') }}"
                        tag-values="job.summary_fields.credentials"
                        tags-are-creds="true">
                    </at-row-item>
                </div>
            </at-row>
        </at-list>
        <paginate
            collection="vm.jobs"
            dataset="vm.dataset"
            iterator="job"
            base-path="unified_jobs"
            query-set="vm.queryset">
        </paginate>
    </at-panel-body>
</at-panel>
