<div id="multi-credential-modal" class="Lookup modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header Form-header">
                <div class="Form-title Form-title--uppercase"
                    translate>
                        CREDENTIALS
                </div>
                <div class="Form-header--fields"></div>
                <div class="Form-exitHolder">
                    <button type="button" class="Form-exit"
                        ng-click="cancelForm()">
                            <i class="fa fa-times-circle"></i>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="MultiCredential-selectedBar"
                    ng-show="(credTags && credTags.length) || selectedCredentialsDirty()">
                    <span class="MultiCredential-selectedBarLabel" translate>
                        SELECTED:
                    </span>
                    <div class="MultiCredential-tags">
                        <div class="MultiCredential-tagSection">
                            <div class="MultiCredential-flexContainer">
                                <div
                                    class="MultiCredential-tagContainer ng-scope"
                                    ng-repeat="tag in credTags track by $index">
                                        <div class="MultiCredential-deleteContainer"
                                            ng-click="removeCredential(tag.id)"
                                            ng-if="!tag.readOnly">
                                                <i class="fa fa-times
                                                    MultiCredential-tagDelete">
                                                </i>
                                        </div>
                                        <div class="MultiCredential-tag" ng-class="tag.readOnly ? 'MultiCredential-tag--disabled' : 'MultiCredential-tag--deletable'">
                                                <span
                                                    class="MultiCredential-name--label
                                                        ng-binding">
                                                            {{ tag.kind }}
                                                </span>
                                            <span class="MultiCredential-name u-wordwrap
                                                ng-binding">
                                                    {{ tag.name }}
                                            </span>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="MultiCredential-previewTagRevert">
                        <a class="MultiCredential-revertLink" href="" ng-show="selectedCredentialsDirty()" ng-click="revertToDefaultCredentials()" translate>REVERT</a>
                    </div>
                </div>
                <div class="MultiCredential-credentialSubSection">
                    <span class="MultiCredential-selectLabel" translate>CREDENTIAL TYPE:</span>
                    <select id="multi-credential-kind-select" ng-model="credentialKind">
                        <option ng-repeat="option in credentialTypeOptions"
                            value="{{option.value}}">{{option.name}}</option>
                    </select>
                </div>
                <div id="multi-credential-modal-body"></div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="cancelForm()"
                    class="Lookup-cancel btn btn-sm Form-cancelButton"
                    translate>
                        CANCEL
                </button>
                <button type="button"
                    ng-click="saveForm()"
                    ng-disabled="!credentials || credentials.length === 0"
                    class="btn btn-sm Form-saveButton" translate>
                    SELECT
                </button>
            </div>
        </div>
    </div>
</div>
