<ul class="Key-list noselect">
    <li class="Key-listItem">
        <p class="Key-heading">{{:: strings.get('workflow_maker.KEY')}}</p>
    </li>
    <li class="Key-listItem">
        <div class="Key-icon Key-icon--success"></div>
        <p class="Key-listItemContent">{{:: strings.get('workflow_maker.ON_SUCCESS')}}</p>
    </li>
    <li class="Key-listItem">
        <div class="Key-icon Key-icon--fail"></div>
        <p class="Key-listItemContent">{{:: strings.get('workflow_maker.ON_FAILURE')}}</p>
    </li>
    <li class="Key-listItem">
        <div class="Key-icon Key-icon--always"></div>
        <p class="Key-listItemContent">{{:: strings.get('workflow_maker.ALWAYS')}}</p>
    </li>
    <li class="Key-listItem">
        <div class="Key-icon Key-icon--circle Key-icon--default">JT</div>
        <p class="Key-listItemContent Key-listItemContent--circle">{{:: strings.get('workflow_maker.JOB_TEMPLATE')}}</p>
    </li>
    <li class="Key-listItem">
        <div class="Key-icon Key-icon--circle Key-icon--default">P</div>
        <p class="Key-listItemContent Key-listItemContent--circle">{{:: strings.get('workflow_maker.PROJECT_SYNC')}}</p>
    </li>
    <li class="Key-listItem">
        <div class="Key-icon Key-icon--circle Key-icon--default">I</div>
        <p class="Key-listItemContent Key-listItemContent--circle">{{:: strings.get('workflow_maker.INVENTORY_SYNC')}}</p>
    </li>
    <li class="Key-listItem">
        <div class="Key-icon Key-icon--circle Key-icon--default">W</div>
        <p class="Key-listItemContent Key-listItemContent--circle">{{:: strings.get('workflow_maker.WORKFLOW')}}</p>
    </li>
    <li class="Key-listItem">
            <div class="Key-icon Key-icon--circle Key-icon--default">
                <span class="fa fa-pause"></span>
            </div>
            <p class="Key-listItemContent Key-listItemContent--circle">{{:: strings.get('workflow_maker.PAUSE')}}</p>
        </li>
    <li class="Key-listItem">
        <div class="Key-icon Key-icon--circle Key-icon--warning">!</div>
        <p class="Key-listItemContent Key-listItemContent--circle">{{:: strings.get('workflow_maker.WARNING')}}</p>
    </li>
</ul>