@import "awx/ui/client/src/shared/branding/colors.default.less";

.Prompt-bodyQuery {
    margin-bottom: 20px;
    color: @default-interface-txt;
    word-break: break-word;
}

.Prompt-bodyTarget {
    color: @default-data-txt;
}

.Prompt-emphasis {
    font-weight: bold;
    text-transform: uppercase;
}
