@import "awx/ui/client/src/shared/branding/colors.default.less";

.Prompt-bodyQuery {
    margin-bottom: 20px;
    color: @default-interface-txt;
}

.Prompt-bodyTarget {
    color: @default-data-txt;
}
