#jinja2: lstrip_blocks: True
---
global:
  scrape_interval: {{ scrape_interval }}  # Set the scrape interval to something faster. Default is every 1 minute.

scrape_configs:
  - job_name: 'awx-metrics'
    static_configs:
    - targets:
      - awx-1:8013
    metrics_path: /api/v2/metrics
    scrape_interval: {{ scrape_interval }}
    scheme: http
    params:
      format: ['txt']
    basic_auth:
      username: admin
      password: {{ admin_password }}

  - job_name: 'awx-wsrelay'
    static_configs:
    - targets:
{% for i in range(control_plane_node_count|int) %}
  {% set container_postfix = loop.index %}
      - awx-{{ container_postfix }}:8016
{% endfor %}
    metrics_path: /
    scrape_interval: {{ scrape_interval }}
    scheme: http
    params:
      format: ['txt']
