---
version: 2
node:
  id: receptor-{{ item }}

log-level:
  level: info

tcp-peers:
  - address: tools_receptor_hop:5555
    redial: true

{% if sign_work|bool %}
work-verification:
  publickey: /etc/receptor/work_public_key.pem
{% endif %}

work-commands:
  - worktype: ansible-runner
    command: ansible-runner
    params: worker
    allowruntimeparams: true
    verifysignature: {{ sign_work }}

control-services:
  - service: control
    filename: {{ receptor_socket_file }}
