---
- node:
    id: receptor-hop

- log-level: info

{% for i in range(1, control_plane_node_count | int + 1) %}
- tcp-peer:
    address: awx_{{ i }}:2222
    redial: true

{% endfor %}
- tcp-listener:
    port: 5555

- control-service:
    service: control
