<div class="Networking-header">
    <div class="Networking-headerTitle">{{vm.panelTitle}}</div>
    <div class="Netowrking-headerActions">
        <div class="Networking-headerActionItem">
            <button class="Networking-actionButton"
                aw-tool-tip="Expand Output"
                data-placement="bottom"
                data-original-title="Expand Output"
                ng-click="vm.togglePanel()"
                ng-hide="vm.panelIsExpanded">
                    <i class="fa fa-chevron-left"></i>
            </button>
            <button class="Networking-actionButton"
                aw-tool-tip="Collapse Output"
                data-placement="left"
                data-original-title="Collapse Output"
                ng-click="vm.togglePanel()"
                ng-hide="!vm.panelIsExpanded">
                    <i class="fa fa-chevron-right"></i>
            </button>
        </div>
        <div class="Networking-headerActionItem">
            <button ng-click="vm.close()" type="button" class="close">
				<i class="fa fa-times-circle"></i>
			</button>
        </div>
    </div>
</div>


<div class="Networking-panels">
    <div class="Networking-leftPanel">
        <awx-network-ui></awx-network-ui>
    </div>


    <div class="Networking-rightPanel" ng-show="vm.panelIsExpanded">

            <!--beginning of header-->
            <div class="Networking-panelHeader">
                <div class="JobResults-panelHeaderText" translate="">
                    DETAILS <span ng-if="!item.host_id">| {{item.name}}</span>
                </div>
            </div>
            <!--end of header-->

            <!--beginning of name row -->
            <div class="JobResults-resultRow" ng-if="item.host_id">
                <label class="JobResults-resultRowLabel Networking-resultRowLabel" translate="">
                    Name
                </label>
                 <div class="JobResults-resultRowText">
                     {{item.name}}
                 </div>
             </div>
             <!--end of name row -->

             <div class="List-noItems Networking-noItems" ng-if="!item.host_id">
                 {{item.type}} DETAILS NOT AVAILABLE
             </div>

             <!-- beginning of extra variable row -->
             <div class="JobResults-resultRow JobResults-resultRow--variables" ng-show="item.variables">
                 <label class="JobResults-resultRowLabel JobResults-resultRowLabel--fullWidth">
                     <span translate>
                         Extra Variables
                     </span>
                     <i class="JobResults-extraVarsHelp fa fa-question-circle"
                         aw-tool-tip="{{'Read only view of extra variables added to the job template.' | translate}}"
                         data-placement="top">
                     </i>
                 </label>
                 <textarea
                     rows="6"
                     ng-model="item.variables"
                     name="variables"
                     class="form-control Form-textArea Form-textAreaLabel Form-formGroup--fullWidth"
                     id="pre-formatted-variables"
                     disabled="disabled">
                 </textarea>
             </div>
             <!-- end of extra variable row -->

     </div>
</div>
<!--end of Networking-rightPanel -->



<div id="alert-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-hide="disableButtons" data-target="#alert-modal" data-dismiss="modal" class="modal" aria-hidden="true"><i class="fa fa-times-circle"></i></button>
                <h3 id="alertHeader" ng-bind="alertHeader"></h3>
            </div>
            <div class="modal-body">
                <div id="alert-modal-msg" class="alert" ng-bind-html="alertBody"></div>
            </div>
            <div class="modal-footer">
                <a href="#" ng-hide="disableButtons" data-target="#form-modal" data-dismiss="modal" id="alert_ok_btn" class="btn btn-default" translate>OK</a>
            </div>
        </div>
        <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
</div>
