/** @define FactDataTableHeading */

.FactDataTableHeading {
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
    align-items: flex-end;
    font-weight: bold;

    &-host {
        margin-bottom: 3px; // just some breathing room

        &:after {
            content: " scanned on";
            font-weight: 200;
        }
    }
    &-date {
        flex-basis: 100%;
    }

    // Override some global styling on h3 tags
    h3 {
        margin: 1em initial;
    }
}
