---
- name: Periodic background status check of isolated instances.
  hosts: all
  gather_facts: false

  tasks:

    - name: Get capacity of the instance
      awx_capacity:

    - name: Remove any stale temporary files
      awx_isolated_cleanup:
