<nav class="MainMenu">
    <!-- Menu logo item -->
    <a id="MainMenuLogo"
        href="/#/"
        class="MainMenu-logo"
        ng-class="{'is-loggedOut' : !$root.current_user.username}">
        <img class="MainMenu-logoImage"
            ng-src="/static/assets/main_menu_logo.png">
    </a>

    <!-- Mobile menu items -->
    <span class="MainMenu-mobileItems" ng-class="{'is-hiddenOnMobile': isHiddenOnMobile, 'is-loggedOut' : !$root.current_user.username}">
        <a class="MainMenu-item"
            id="menu_projects_mobile_link"
            href="/#/projects"
            ng-class="{'is-currentRoute' : isCurrentRoute('projects')}">
            <span class="MainMenu-itemText">
                PROJECTS
            </span>
        </a>
        <a class="MainMenu-item"
            id="menu_inventories_mobile_link"
            href="/#/inventories"
            ng-class="{'is-currentRoute' : isCurrentRoute('inventories')}">
            <span class="MainMenu-itemText">
                INVENTORIES
            </span>
        </a>
        <a class="MainMenu-item"
            id="menu_job_templates_mobile_link"
            href="/#/job_templates"
            ng-class="{'is-currentRoute' : isCurrentRoute('job_templates')}">
            <span class="MainMenu-itemText">
                JOB TEMPLATES
            </span>
        </a>
        <a class="MainMenu-item"
            id="menu_jobs_mobile_link"
            href="/#/jobs"
            ng-class="{'is-currentRoute' : isCurrentRoute('jobs')}">
            <span class="MainMenu-itemText">
                JOBS
            </span>
        </a>
        <a class="MainMenu-item"
            id="menu_current_user_mobile_link"
            ng-href="/#/users/{{ $root.current_user.id }}"
            ng-class="{'is-currentRoute' : isCurrentRouteUser()}">
            <span class="MainMenu-itemText">
                VIEW USER PAGE FOR {{ $root.current_user.username | uppercase }}
            </span>
        </a>
        <a class="MainMenu-item"
            id="menu_setup_mobile_link"
            ng-href="/#/setup"
            ng-class="{'is-currentRoute' : isCurrentRoute('setup')}">
            <span class="MainMenu-itemText">
                SETTINGS
            </span>
        </a>
        <a class="MainMenu-item"
            id="menu_docs_mobile_link"
            ng-href="http://docs.ansible.com/ansible-tower/"
            target="_blank">
            <span class="MainMenu-itemText">
                VIEW DOCUMENTATION
            </span>
        </a>
        <a class="MainMenu-item"
            id="menu_logout_mobile_link"
            ng-href="/#/logout"
            ng-class="{'is-currentRoute' : isCurrentRoute('logout')}">
            <span class="MainMenu-itemText">
                LOG OUT
            </span>
        </a>
    </span>

    <!-- Non-mobile menu items -->
    <a class="MainMenu-item MainMenu-item--notMobile MainMenu-item--left"
        id="menu_projects_link"
        href="/#/projects"
        ng-class="{'is-currentRoute' : isCurrentRoute('projects'), 'is-loggedOut' : !$root.current_user.username}">
        <span class="MainMenu-itemText">
            PROJECTS
        </span>
    </a>
    <a class="MainMenu-item MainMenu-item--notMobile MainMenu-item--left"
        id="menu_inventories_link"
        href="/#/inventories"
        ng-class="{'is-currentRoute' : isCurrentRoute('inventories'), 'is-loggedOut' : !$root.current_user.username}">
        <span class="MainMenu-itemText">
            INVENTORIES
        </span>
    </a>
    <a class="MainMenu-item MainMenu-item--notMobile MainMenu-item--left"
        id="menu_job_templates_link"
        href="/#/job_templates"
        ng-class="{'is-currentRoute' : isCurrentRoute('job_templates'), 'is-loggedOut' : !$root.current_user.username}">
        <span class="MainMenu-itemText">
            JOB TEMPLATES
        </span>
    </a>
    <a class="MainMenu-item MainMenu-item--notMobile MainMenu-item--left MainMenu-item--lastLeft"
        id="menu_jobs_link"
        href="/#/jobs"
        ng-class="{'is-currentRoute' : isCurrentRoute('jobs'), 'is-loggedOut' : !$root.current_user.username}">
        <span class="MainMenu-itemText">
            JOBS
        </span>
    </a>
    <a class="MainMenu-item MainMenu-item--notMobile MainMenu-item--user MainMenu-item--right"
        id="menu_current_user_link"
        ng-href="/#/users/{{ $root.current_user.id }}"
        ng-class="{'is-currentRoute' : isCurrentRouteUser(), 'is-loggedOut' : !$root.current_user.username}"
        aw-tool-tip="{{currentUserTip}}"
        aw-tip-watch="currentUserTip"
        data-placement="bottom"
        data-trigger="hover"
        data-container="body">
        <i class="MainMenu-itemImage MainMenu-itemImage--user icon-user"
            alt="Logged in as {{ $root.current_user.username}}">
        </i>
        <span class="MainMenu-itemText MainMenu-itemText--username">
            {{ $root.current_user.username}}
        </span>
    </a>
    <a class="MainMenu-item MainMenu-item--notMobile MainMenu-item--right"
        id="menu_setup_link"
        ng-href="/#/setup"
        ng-class="{'is-currentRoute' : isCurrentRoute('setup'), 'is-loggedOut' : !$root.current_user.username}"
        aw-tool-tip="Settings"
        data-placement="bottom"
        data-trigger="hover"
        data-container="body">
        <i class="MainMenu-itemImage fa fa-cog"
            alt="Settings">
        </i>
    </a>
    <a class="MainMenu-item MainMenu-item--notMobile MainMenu-item--right"
        id="menu_docs_link"
        ng-href="http://docs.ansible.com/ansible-tower/"
        ng-class="{'is-loggedOut' : !$root.current_user.username}"
        aw-tool-tip="View Documentation"
        data-placement="bottom"
        data-trigger="hover"
        data-container="body"
        target="_blank">
        <i class="MainMenu-itemImage MainMenu-itemImage--docs fa fa-question-circle"
            alt="View Documentation">
        </i>
    </a>
    <a class="MainMenu-item MainMenu-item--notMobile MainMenu-item--right"
        id="menu_logout_link"
        ng-href="/#/logout"
        ng-class="{'is-currentRoute' : isCurrentRoute('logout'), 'is-loggedOut' : !$root.current_user.username}"
        aw-tool-tip="Log Out"
        data-placement="bottom"
        data-trigger="hover"
        data-container="body"
        data-tooltip_inner_class="tooltip-inner--logOut">
        <i class="MainMenu-itemImage fa fa-power-off"
            alt="Log Out">
        </i>
    </a>

    <!-- Socket-status item -->
    <button
        id="socket_status_notification"
        class="MainMenu-socket"
        aw-tool-tip="{{socketTip}}"
        tip-watch="socketTip"
        data-placement="bottom"
        data-trigger="hover"
        data-container="body"
        ng-class="{'is-loggedOut' : !$root.current_user.username}"
        ng-if="socketStatus && socketStatus !== 'ok'">
        <i class="fa MainMenu-socketImage"
            ng-class="socketIconClass">
        </i>
    </button>

    <!-- Mobile menu toggle item -->
    <button
        id="mobile_toggle_button"
        class="MainMenu-toggle"
        ng-class="{'is-active': !isHiddenOnMobile, 'is-loggedOut' : !$root.current_user.username}"
        ng-click="toggleMenu()">
        <i class="fa fa-bars MainMenu-toggleImage"></i>
    </button>
</nav>
