/** @define LoginModal */

.LoginModal-header {
    text-align: center;
    background-color: #171717;
}

.LoginModal-logoImage {
    max-width: 100%;
}

.LoginModal-alert {
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: normal;
    color: #1778c3;
    text-align: center;
}

.LoginModal-labelAsterisk:before {
    margin-right: -2px;
}

.LoginModal-footer {
    display: flex;
    align-items: center;
}

.LoginModal-footerBlock {
    flex: 1 0 auto;
    text-align: left;
}

.LoginModal-footerBlock--submit {
    text-align: right;
}
