---
- name: Set global version if not provided
  set_fact:
    awx_version: "{{ lookup('file', playbook_dir + '/../VERSION') }}"
  when: awx_version is not defined

- name: Verify awx-logos directory exists for official install
  stat:
    path: "../../awx-logos"
  register: logosdir
  failed_when: logosdir.stat.isdir is not defined or not logosdir.stat.isdir
  when: awx_official|default(false)|bool

- name: Copy logos for inclusion in sdist
  copy:
    src: "../../awx-logos/awx/ui/client/assets/"
    dest: "../awx/ui_next/public/static/media/"
  when: awx_official|default(false)|bool

- name: Set awx image name
  set_fact:
    awx_image: "{{ awx_image|default('awx') }}"

- name: Render Dockerfile
  template:
    src: Dockerfile.j2
    dest: ../Dockerfile

- name: Setting build operation depending on build_tool
  set_fact: 
    build_tool_operation: "{{ item.operation }}"
  loop: [ 
      {tool: "docker", operation: "build"},  
      {tool: "podman", operation: "build"},
      {tool: "buildah", operation: "bud"},
  ]
  when: item.tool == build_tool

# Calling Docker directly because docker-py doesnt support BuildKit
- name: Build AWX image using {{ build_tool }}
  command: "{{ build_tool  }} {{ build_tool_operation }} {{ build_tool_extra_parms | default('') }} -t {{ awx_image }}:{{ awx_version }} .."

- name: Tag awx images as latest
  command: "{{ build_tool }} tag {{ item }}:{{ awx_version }} {{ item }}:latest"
  with_items:
    - "{{ awx_image }}"
