<span ng-repeat="(name, options) in list.actions" class="List-action" ng-if="!isHiddenByOptions(options) &&
            !hiddenOnCurrentPage(options.basePaths) &&
            !hiddenInCurrentMode(options.mode)">
    <div class="btn-group" ng-if="options.type && options.type === 'toggle'">
        <button ng-repeat="button in options.buttons" class="btn List-toggleButton" ng-class="{{button.ngClass}}" ng-click="$eval(button.ngClick)">{{button.text}}</button>
    </div>
    <div ng-if="options.type && options.type === 'template'" ng-include="options.template" ng-show="{{options.ngShow}}"></div>
    <div class="List-action--showTooltipOnDisabled" ng-if="options.showTipWhenDisabled" aw-tool-tip="{{options.awToolTip}}" data-tip-watch="{{options.dataTipWatch}}" data-placement="{{options.dataPlacement}}" data-container="{{options.dataContainer}}" data-title="{{options.dataTitle}}" data-tooltip-inner-class="{{options.tooltipInnerClass}}">
        <div class="btn-group" ng-if="options.type === 'buttonDropdown'" ng-disabled="{{options.ngDisabled}}">
            <button type="button" class="{{options.actionClass}}" id="{{options.actionId}}" ng-bind-html="options.buttonContent" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" translate></button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="{{options.actionId}}">
                <a class="dropdown-item" ng-repeat="option in options.options" ui-sref="{{option.optionSref}}" ng-bind-html="option.optionContent" ng-show="{{option.ngShow}}"></a>
            </div>
        </div>
        <span ng-if="!options.type || options.type === 'button'">
            <button
                toolbar-button
                mode="options.mode"
                class="{{options.actionClass}}"
                id="{{options.actionId}}"
                ng-disabled="{{options.ngDisabled}}"
                ng-show="{{options.ngShow}}"
                ng-click="$eval(options.ngClick)"
                toolbar="true">
                <span ng-bind-html="options.buttonContent" translate></span>
            </button>
        </span>
    </div>
    <span ng-if="!options.showTipWhenDisabled">
        <div class="btn-group" ng-if="options.type === 'buttonDropdown'" ng-disabled="{{options.ngDisabled}}" aw-tool-tip="{{options.awToolTip}}" data-tip-watch="{{options.dataTipWatch}}" data-placement="{{options.dataPlacement}}" data-container="{{options.dataContainer}}" ng-show="{{options.ngShow}}">
            <button type="button" class="{{options.actionClass}}" id="{{options.actionId}}" ng-bind-html="options.buttonContent" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" translate></button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="{{options.actionId}}">
                <a class="dropdown-item" ng-repeat="option in options.options" ui-sref="{{option.optionSref}}" ng-bind-html="option.optionContent" ng-show="{{option.ngShow}}"></a>
            </div>
        </div>
        <span ng-if="!options.type || options.type === 'button'">
            <button
                toolbar-button
                mode="options.mode"
                aw-tool-tip="{{options.awToolTip}}"
                data-tip-watch="{{options.dataTipWatch}}"
                data-placement="{{options.dataPlacement}}"
                data-container="{{options.dataContainer}}"
                class="{{options.actionClass}}"
                ng-class="{{options.ngClass}}"
                id="{{options.actionId}}"
                data-title="{{options.dataTitle}}"
                ng-disabled="{{options.ngDisabled}}"
                ng-click="$eval(options.ngClick)"
                ng-show="{{options.ngShow}}"
                toolbar="true">
                <span ng-if="options.buttonContent" ng-bind-html="options.buttonContent" translate></span>
            </button>
        </span>
    </span>

</span>
<button
    aria-label="{{'Click for help'|translate}}"
    toolbar-button
    icon-name="help"
    aw-pop-over="{{list.selectInstructions}}"
    data-placement="left"
    data-container="body"
    class="btn-xs btn-help"
    aw-tool-tip="{{'Click for help'|translate}}"
    data-title="Help"
    icon-size="fa-lg"
    toolbar="true"
    ng-if="mode === 'select' && list.selectInstructions">
</button>
