DATABASES = {
    'default': {
        'ATOMIC_REQUESTS': True,
        'ENGINE': 'awx.main.db.profiled_pg',
        'NAME': "{{ pg_database }}",
        'USER': "{{ pg_username }}",
        'PASSWORD': "{{ pg_password }}",
        'HOST': "{{ pg_hostname|default('postgresql') }}",
        'PORT': "{{ pg_port }}",
        'OPTIONS': { 'sslmode': '{{ pg_sslmode|default("prefer") }}',
                     'sslrootcert': '{{ ca_trust_bundle }}',
        },
    }
}

BROKER_URL = 'redis://{}:{}/'.format(
    "{{ kubernetes_redis_hostname }}",
    "{{ kubernetes_redis_port }}",)

CHANNEL_LAYERS = {
    'default': {'BACKEND': 'channels_redis.core.RedisChannelLayer',
                'CONFIG': {'hosts': [("{{ kubernetes_redis_hostname }}", {{ kubernetes_redis_port|int }})]}}
}
