DATABASES = {
    'default': {
        'ATOMIC_REQUESTS': True,
        'ENGINE': 'awx.main.db.profiled_pg',
        'NAME': "{{ pg_database }}",
        'USER': "{{ pg_username }}",
        'PASSWORD': "{{ pg_password }}",
        'HOST': "{{ pg_hostname|default('postgresql') }}",
        'PORT': "{{ pg_port }}",
        'OPTIONS': { 'sslmode': '{{ pg_sslmode|default("prefer") }}',
                     'sslrootcert': '{{ ca_trust_bundle }}',
        },
    }
}

{% if redis_hostname is defined %}
{% set redis_proto = ("rediss" if redis_ssl else "redis") %}
{% set redis_credentials = "" %}
{% if redis_username is defined and redis_password is defined %}
{% set redis_credentials = redis_username + ":" + redis_password + "@" %} 
{% endif %}
BROKER_URL = '{{ redis_proto }}://{{ redis_credentials }}{{ redis_hostname }}:{{ redis_port }}/{{ redis_db }}'
CHANNEL_LAYERS = {
    "default": {
        "BACKEND": "channels_redis.core.RedisChannelLayer",
        "CONFIG": {
            "hosts": [BROKER_URL],
            "capacity": 10000,
            "group_expiry": 157784760, # 5 years
        },
    },
}
{% endif %}

BROADCAST_WEBSOCKET_SECRET = "{{ broadcast_websocket_secret | b64encode }}"
