---
apiVersion: v1
kind: Secret
metadata:
  namespace: {{ kubernetes_namespace }}
  name: "{{ kubernetes_deployment_name }}-secrets"
type: Opaque
data:
  admin_password: "{{ admin_password | b64encode }}"
  pg_password: "{{ pg_password | b64encode }}"
  rabbitmq_password: "{{ rabbitmq_password | b64encode }}"
  rabbitmq_erlang_cookie: "{{ rabbitmq_erlang_cookie | b64encode }}"
  confd_contents: "{{ lookup('template', 'credentials.py.j2') | b64encode }}"
