---
apiVersion: v1
kind: Secret
metadata:
  namespace: {{ kubernetes_namespace }}
  name: "{{ kubernetes_deployment_name }}-secrets"
type: Opaque
data:
  secret_key: "{{ secret_key | b64encode }}"
  credentials_py: "{{ lookup('template', 'credentials.py.j2') | b64encode }}"
  environment_sh: "{{ lookup('template', 'environment.sh.j2') | b64encode }}"
