[foreman]
url = http://localhost:3000/
user = foreman
password = secret
ssl_verify = True

[ansible]
group_patterns = ["{app}-{tier}-{color}",
	          "{app}-{color}",
	          "{app}",
		  "{tier}"]
group_prefix = foreman_
# Whether to fetch facts from Foreman and store them on the host
want_facts = True

[cache]
path = .
max_age = 60
