ansible==1.9.4
coverage
pyflakes==1.0.0 # Pinned until PR merges https://gitlab.com/pycqa/flake8/merge_requests/56
pep8
pylint
flake8
distribute==0.7.3
unittest2
pytest
pytest-cov
pytest-django
pytest-pythonpath
pytest-mock
