pbr>=1.8
setuptools_scm>=3.1.0
setuptools==41.6.0
vcversioner>=2.16.0.0
pytest-runner
isort
virtualenv
m2r
cffi>=1.1
wheel>=0.33.6
backports.functools_lru_cache
more-itertools==5.0.0
poetry==0.12.17
functools32<4.0.0,>=3.2.3; python_version >= "2.7" and python_version < "2.8"
flit; python_version >= "3.5"
twine; python_version >= "3.6"
incremental>=16.10.1; python_version >= "3.6"
lxml>=3.0; python_version >= "3.6"
pkgconfig; python_version >= "3.6"
