ansible-runner==1.4.4
appdirs==1.4.2
asgi-amqp==1.1.3
azure-keyvault==1.1.0
boto==2.47.0
channels==1.1.8
celery==4.3.0
daphne==1.3.0   # Last before backwards-incompatible channels 2 upgrade
twisted[tls]>=17.1   # from daphne, see https://github.com/django/daphne/pull/257
Django==2.2.4
django-auth-ldap==1.7.0
django-cors-headers==2.4.0
django-crum==0.7.2
django-extensions==2.0.0
django-jsonfield==1.2.0
django-oauth-toolkit==1.1.3
django-polymorphic==2.0.2
django-pglocks==1.0.2
django-radius==1.3.3
django-solo==1.1.3
django-split-settings==0.3.0
django-taggit==0.22.2
djangorestframework==3.9.4
djangorestframework-yaml==1.0.3
GitPython==2.1.11
irc==16.2
jinja2==2.10.1
jsonschema==2.6.0
Markdown==2.6.11    # used for formatting API help
openshift==0.9.0
ordereddict==1.1
prometheus_client==0.6.0
psutil==5.4.3
psycopg2==2.8.2
pygerduty==0.37.0
pyparsing==2.2.0
python-dateutil==2.7.2  # contains support for TZINFO= parsing
python-memcached==1.59
python-radius==1.0
python3-saml==1.4.0
social-auth-core==3.0.0
social-auth-app-django==2.1.0
requests==2.21.0
requests-futures==0.9.7
slackclient==1.1.2
tacacs_plus==1.0
twilio==6.10.4
uWSGI==2.0.17
uwsgitop==0.10.0
pip==9.0.1
setuptools==36.0.1
