adal==1.2.2               # via msrestazure
apache-libcloud==2.5.0    # via -r /awx_devel/requirements/requirements_ansible.in
appdirs==1.4.3            # via openstacksdk
applicationinsights==0.11.9  # via azure-cli-core
argcomplete==1.10.3       # via azure-cli-core, knack
azure-cli-core==2.0.35    # via -r /awx_devel/requirements/requirements_ansible.in
azure-cli-nspkg==3.0.2    # via -r /awx_devel/requirements/requirements_ansible.in, azure-cli-core
azure-common==1.1.11      # via -r /awx_devel/requirements/requirements_ansible.in, azure-graphrbac, azure-mgmt-authorization, azure-mgmt-automation, azure-mgmt-batch, azure-mgmt-cdn, azure-mgmt-compute, azure-mgmt-containerinstance, azure-mgmt-containerregistry, azure-mgmt-containerservice, azure-mgmt-cosmosdb, azure-mgmt-devtestlabs, azure-mgmt-dns, azure-mgmt-hdinsight, azure-mgmt-iothub, azure-mgmt-keyvault, azure-mgmt-loganalytics, azure-mgmt-marketplaceordering, azure-mgmt-monitor, azure-mgmt-network, azure-mgmt-rdbms, azure-mgmt-redis, azure-mgmt-resource, azure-mgmt-servicebus, azure-mgmt-sql, azure-mgmt-storage, azure-mgmt-trafficmanager, azure-mgmt-web, azure-storage
azure-graphrbac==0.40.0   # via -r /awx_devel/requirements/requirements_ansible.in
azure-keyvault==1.0.0a1   # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-authorization==0.51.1  # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-automation==0.1.1  # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-batch==5.0.1   # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-cdn==3.0.0     # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-compute==4.4.0  # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-containerinstance==1.4.0  # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-containerregistry==2.0.0  # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-containerservice==4.4.0  # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-cosmosdb==0.5.2  # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-devtestlabs==3.0.0  # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-dns==2.1.0     # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-hdinsight==0.1.0  # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-iothub==0.7.0  # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-keyvault==1.1.0  # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-loganalytics==0.2.0  # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-marketplaceordering==0.1.0  # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-monitor==0.5.2  # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-network==2.3.0  # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-nspkg==2.0.0 # via -r /awx_devel/requirements/requirements_ansible.in, azure-mgmt-authorization, azure-mgmt-automation, azure-mgmt-batch, azure-mgmt-cdn, azure-mgmt-compute, azure-mgmt-containerinstance, azure-mgmt-containerregistry, azure-mgmt-containerservice, azure-mgmt-cosmosdb, azure-mgmt-devtestlabs, azure-mgmt-dns, azure-mgmt-hdinsight, azure-mgmt-iothub, azure-mgmt-keyvault, azure-mgmt-loganalytics, azure-mgmt-marketplaceordering, azure-mgmt-monitor, azure-mgmt-network, azure-mgmt-rdbms, azure-mgmt-redis, azure-mgmt-resource, azure-mgmt-servicebus, azure-mgmt-sql, azure-mgmt-storage, azure-mgmt-trafficmanager, azure-mgmt-web
azure-mgmt-rdbms==1.4.1   # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-redis==5.0.0   # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-resource==2.1.0  # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-servicebus==0.5.3  # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-sql==0.10.0    # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-storage==3.1.0  # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-trafficmanager==0.50.0  # via -r /awx_devel/requirements/requirements_ansible.in
azure-mgmt-web==0.41.0    # via -r /awx_devel/requirements/requirements_ansible.in
azure-nspkg==2.0.0        # via -r /awx_devel/requirements/requirements_ansible.in, azure-cli-nspkg, azure-common, azure-graphrbac, azure-keyvault, azure-mgmt-nspkg, azure-storage
azure-storage==0.35.1     # via -r /awx_devel/requirements/requirements_ansible.in
backports.ssl-match-hostname==3.5.0.1  # via -r /awx_devel/requirements/requirements_ansible.in
bcrypt==3.1.7             # via paramiko
boto3==1.9.223            # via -r /awx_devel/requirements/requirements_ansible.in
boto==2.47.0              # via -r /awx_devel/requirements/requirements_ansible.in
botocore==1.12.253        # via boto3, s3transfer
cachetools==3.1.1         # via google-auth
cffi==1.13.2              # via bcrypt, cryptography, pynacl
chardet==3.0.4            # via requests
colorama==0.4.3           # via azure-cli-core, knack
cryptography==2.8         # via adal, azure-keyvault, azure-storage, openstacksdk, paramiko, pyopenssl, requests-credssp, requests-kerberos, requests-ntlm
decorator==4.4.1          # via dogpile.cache, openstacksdk
docutils==0.15.2          # via botocore
dogpile.cache==0.9.0      # via openstacksdk
enum34==1.1.6; python_version < "3" # via cryptography, knack, msrest, ovirt-engine-sdk-python
futures==3.3.0; python_version < "3" # via openstacksdk, s3transfer
google-auth==1.6.2        # via -r /awx_devel/requirements/requirements_ansible.in, kubernetes
humanfriendly==4.18       # via azure-cli-core
idna==2.8                 # via requests
ipaddress==1.0.23; python_version < "3" # via cryptography, kubernetes, openstacksdk
iso8601==0.1.12           # via keystoneauth1, openstacksdk
isodate==0.6.0            # via msrest
jinja2==2.10.1            # via -r /awx_devel/requirements/requirements_ansible.in, openshift
jmespath==0.9.4           # via azure-cli-core, boto3, botocore, knack, openstacksdk
jsonpatch==1.24           # via openstacksdk
jsonpointer==2.0          # via jsonpatch
keystoneauth1==3.18.0     # via openstacksdk
knack==0.3.3              # via azure-cli-core
kubernetes==11.0.0        # via openshift
lxml==4.4.2               # via ncclient
markupsafe==1.1.1         # via jinja2
monotonic==1.5; python_version < "3" # via humanfriendly
msrest==0.6.1             # via -r /awx_devel/requirements/requirements_ansible.in, azure-cli-core, azure-keyvault, azure-mgmt-authorization, azure-mgmt-automation, azure-mgmt-compute, azure-mgmt-containerinstance, azure-mgmt-containerservice, azure-mgmt-cosmosdb, azure-mgmt-devtestlabs, azure-mgmt-dns, azure-mgmt-hdinsight, azure-mgmt-iothub, azure-mgmt-keyvault, azure-mgmt-network, azure-mgmt-rdbms, azure-mgmt-resource, azure-mgmt-servicebus, azure-mgmt-sql, azure-mgmt-storage, azure-mgmt-web, msrestazure
msrestazure==0.5.0        # via -r /awx_devel/requirements/requirements_ansible.in, azure-cli-core, azure-graphrbac, azure-keyvault, azure-mgmt-authorization, azure-mgmt-automation, azure-mgmt-batch, azure-mgmt-cdn, azure-mgmt-compute, azure-mgmt-containerinstance, azure-mgmt-containerregistry, azure-mgmt-containerservice, azure-mgmt-cosmosdb, azure-mgmt-devtestlabs, azure-mgmt-dns, azure-mgmt-hdinsight, azure-mgmt-iothub, azure-mgmt-keyvault, azure-mgmt-loganalytics, azure-mgmt-marketplaceordering, azure-mgmt-monitor, azure-mgmt-network, azure-mgmt-rdbms, azure-mgmt-redis, azure-mgmt-resource, azure-mgmt-servicebus, azure-mgmt-sql, azure-mgmt-storage, azure-mgmt-trafficmanager, azure-mgmt-web
munch==2.5.0              # via openstacksdk
ncclient==0.6.3           # via -r /awx_devel/requirements/requirements_ansible.in
netaddr==0.7.19           # via -r /awx_devel/requirements/requirements_ansible.in
netifaces==0.10.9         # via openstacksdk
ntlm-auth==1.4.0          # via requests-credssp, requests-ntlm
oauthlib==3.1.0           # via requests-oauthlib
openshift==0.11.2         # via -r /awx_devel/requirements/requirements_ansible.in
openstacksdk==0.37.0      # via -r /awx_devel/requirements/requirements_ansible.in
os-service-types==1.7.0   # via keystoneauth1, openstacksdk
ovirt-engine-sdk-python==4.3.0  # via -r /awx_devel/requirements/requirements_ansible.in
packaging==19.2           # via -r /awx_devel/requirements/requirements_ansible.in
paramiko==2.7.1           # via azure-cli-core, ncclient
pbr==5.4.4                # via keystoneauth1, openstacksdk, os-service-types, stevedore
psutil==5.7.0             # via -r /awx_devel/requirements/requirements_ansible.in
pyasn1-modules==0.2.7     # via google-auth
pyasn1==0.4.8             # via pyasn1-modules, requests-credssp, rsa
pycparser==2.19           # via cffi
pycurl==7.43.0.1          # via -r /awx_devel/requirements/requirements_ansible.in, ovirt-engine-sdk-python
pygments==2.5.2           # via azure-cli-core, knack
pyjwt==1.7.1              # via adal, azure-cli-core
pykerberos==1.2.1         # via requests-kerberos
pynacl==1.4.0             # via paramiko
pyopenssl==19.1.0         # via azure-cli-core, requests-credssp
pyparsing==2.4.5          # via packaging
python-dateutil==2.8.1    # via adal, azure-storage, botocore, kubernetes
python-string-utils==0.6.0; python_version < "3" # via openshift
pyvmomi==6.7.3            # via -r /awx_devel/requirements/requirements_ansible.in
pywinrm[kerberos]==0.3.0  # via -r /awx_devel/requirements/requirements_ansible.in
pyyaml==5.2               # via azure-cli-core, knack, kubernetes, openstacksdk
requests-credssp==1.0.2   # via -r /awx_devel/requirements/requirements_ansible.in
requests-kerberos==0.12.0  # via pywinrm
requests-ntlm==1.1.0      # via pywinrm
requests-oauthlib==1.3.0  # via kubernetes, msrest
requests==2.22.0          # via -r /awx_devel/requirements/requirements_ansible.in, adal, apache-libcloud, azure-cli-core, azure-keyvault, azure-storage, keystoneauth1, kubernetes, msrest, pyvmomi, pywinrm, requests-credssp, requests-kerberos, requests-ntlm, requests-oauthlib
requestsexceptions==1.4.0  # via openstacksdk
rsa==4.0                  # via google-auth
ruamel.ordereddict==0.4.14; python_version < "3" # via ruamel.yaml
ruamel.yaml.clib==0.2.0   # via ruamel.yaml
ruamel.yaml==0.16.10      # via openshift
s3transfer==0.2.1         # via boto3
selectors2==2.0.1         # via ncclient
six==1.13.0               # via azure-cli-core, bcrypt, cryptography, google-auth, isodate, keystoneauth1, knack, kubernetes, munch, ncclient, openshift, openstacksdk, ovirt-engine-sdk-python, packaging, pynacl, pyopenssl, python-dateutil, pyvmomi, pywinrm, requests-credssp, stevedore, websocket-client
stevedore==1.31.0         # via keystoneauth1
tabulate==0.8.2           # via azure-cli-core, knack
typing==3.7.4.1; python_version < "3" # via msrest
urllib3==1.25.7           # via botocore, kubernetes, requests
websocket-client==0.57.0  # via kubernetes
wheel==0.33.6  # via azure-cli-core (overriden, see upgrade blockers)
xmltodict==0.12.0         # via pywinrm

# The following packages are considered to be unsafe in a requirements file:
pip==19.3.1               # via -r /awx_devel/requirements/requirements_ansible.in, azure-cli-core
setuptools==41.6.0        # via -r /awx_devel/requirements/requirements_ansible.in, kubernetes, ncclient
