aiohttp
ansible-runner>=1.4.6
ansiconv==1.0.0  # UPGRADE BLOCKER: from 2013, consider replacing instead of upgrading
asciichartpy
azure-keyvault==1.1.0  # see UPGRADE BLOCKERs
channels
channels-redis>=3.1.0  # https://github.com/django/channels_redis/issues/212
daphne
django==2.2.16  # see UPGRADE BLOCKERs
django-auth-ldap
django-cors-headers
django-crum
django-extensions>=2.2.9  # https://github.com/ansible/awx/pull/6441
django-jsonfield==1.2.0  # see UPGRADE BLOCKERs
django-oauth-toolkit==1.1.3  # see UPGRADE BLOCKERs
django-polymorphic
django-pglocks
django-qsstats-magic
django-radius==1.3.3  # FIX auth does not work with later versions
django-redis
django-solo
django-split-settings
django-taggit
djangorestframework>=3.12.1
djangorestframework-yaml
GitPython>=3.1.1  # minimum to fix https://github.com/ansible/awx/issues/6119
irc
jinja2
jsonschema
Markdown  # used for formatting API help
openshift>=0.11.0  # minimum version to pull in new pyyaml for CVE-2017-18342
pexpect==4.7.0 # see library notes
prometheus_client
psycopg2
pygerduty
pyparsing
python-radius
python3-saml
python-ldap>=3.3.1 # https://github.com/python-ldap/python-ldap/issues/270
pyyaml>=5.3.1  # minimum version to pull in new pyyaml for CVE-2017-18342
schedule==0.6.0
social-auth-core==3.3.1  # see UPGRADE BLOCKERs
social-auth-app-django==3.1.0  # see UPGRADE BLOCKERs
redis
requests
slackclient==1.1.2  # see UPGRADE BLOCKERs
tacacs_plus==1.0  # UPGRADE BLOCKER: auth does not work with later versions
twilio
twisted[tls]>=20.3.0  # CVE-2020-10108, CVE-2020-10109
uWSGI
uwsgitop
pip==19.3.1  # see UPGRADE BLOCKERs
setuptools==41.6.0  # see UPGRADE BLOCKERs
