# GCE
apache-libcloud==2.5.0
google-auth==1.6.2    # needed for gce inventory imports
# Azure
# azure deps from https://github.com/ansible/ansible/blob/stable-2.9/packaging/requirements/requirements-azure.txt
packaging
azure-cli-core==2.0.35
azure-cli-nspkg==3.0.2
azure-common==1.1.11
azure-mgmt-authorization==0.51.1
azure-mgmt-batch==5.0.1
azure-mgmt-cdn==3.0.0
azure-mgmt-compute==4.4.0
azure-mgmt-containerinstance==1.4.0
azure-mgmt-containerregistry==2.0.0
azure-mgmt-containerservice==4.4.0
azure-mgmt-dns==2.1.0
azure-mgmt-keyvault==1.1.0
azure-mgmt-marketplaceordering==0.1.0
azure-mgmt-monitor==0.5.2
azure-mgmt-network==2.3.0
azure-mgmt-nspkg==2.0.0
azure-mgmt-redis==5.0.0
azure-mgmt-resource==2.1.0
azure-mgmt-rdbms==1.4.1
azure-mgmt-servicebus==0.5.3
azure-mgmt-sql==0.10.0
azure-mgmt-storage==3.1.0
azure-mgmt-trafficmanager==0.50.0
azure-mgmt-web==0.41.0
azure-nspkg==2.0.0
azure-storage==0.35.1
msrest==0.6.1
msrestazure==0.5.0
azure-keyvault==1.0.0a1
azure-graphrbac==0.40.0
azure-mgmt-cosmosdb==0.5.2
azure-mgmt-hdinsight==0.1.0
azure-mgmt-devtestlabs==3.0.0
azure-mgmt-loganalytics==0.2.0
azure-mgmt-automation==0.1.1
azure-mgmt-iothub==0.7.0
# AWS
boto==2.47.0    # last which does not break ec2 scripts
boto3==1.9.223
jinja2==2.10.1  # required for native jinja2 types for inventory compat mode
# netconf for network modules
ncclient==0.6.3
# netaddr filter
netaddr
# oVirt/RHV
ovirt-engine-sdk-python==4.3.0    # minimum set inside Ansible facts module requirements
pycurl==7.43.0.1    # higher versions will not install without SSL backend specified
# AWX usage
psutil==5.7.0    # same as AWX requirement
# VMware
pyvmomi==6.7.3
# WinRM
backports.ssl-match-hostname==3.5.0.1
pywinrm[kerberos]==0.3.0
requests
requests-credssp==1.0.2   # For windows authentication awx/issues/1144
# OpenStack
openstacksdk==0.37.0
# Openshift/k8s
openshift>=0.11.0  # minimum version to pull in new pyyaml for CVE-2017-18342
pip==19.3.1  # see upgrade blockers
setuptools==41.6.0  # see upgrade blockers
