git+https://github.com/ansible/ansiconv.git@tower_1.0.0#egg=ansiconv
git+https://github.com/ansible/django-qsstats-magic.git@py3#egg=django-qsstats-magic
git+https://github.com/ansible/django-jsonbfield@fix-sqlite_serialization#egg=jsonbfield
