<div class="input-group Form-mixedInputGroup">
    <span class="input-group-btn Form-variableHeightButtonGroup input-group-prepend">
        <button type="button"
            aria-label="{{'Open webhook credential lookup'|translate}}"
            class="Form-lookupButton
                Form-lookupButton--variableHeight btn btn-default"
                ng-click="vm.onLookupClick()"
                ng-disabled="vm.isFieldDisabled">
            <i class="fa fa-search"></i>
        </button>
    </span>
    <span class="form-control Form-textInput Form-textInput--variableHeight input-medium lookup"
          ng-disabled="vm.isFieldDisabled"
          style="padding: 4px 6px;">
        <div class="WebhookCredential-tags" ng-show="vm.tagName">
            <div class="WebhookCredential-tagSection">
                <div class="WebhookCredential-flexContainer">
                    <div class="WebhookCredential-tagContainer ng-scope"
                        ng-class="{'WebhookCredential-tagContainer--disabled': vm.tag.readOnly}">
                        <div class="WebhookCredential-iconContainer--disabled" ng-if="vm.isFieldDisabled">
                            <i class="fa fa-key WebhookCredential-tagIcon"></i>
                        </div>
                        <div class="WebhookCredential-iconContainer" ng-if="!vm.isFieldDisabled">
                            <i class="fa fa-key WebhookCredential-tagIcon"></i>
                        </div>
                        <div
                            class="WebhookCredential-tag"
                            ng-class="{'WebhookCredential-tag--deletable': !vm.isFieldDisabled, 'WebhookCredential-tag--disabled': vm.isFieldDisabled}"
                        >
                            <span class="WebhookCredential-name--label ng-binding">
                                {{ vm.tagName }}
                            </span>
                        </div>
                        <div class="WebhookCredential-deleteContainer"
                            ng-click="vm.onTagDelete()"
                            ng-hide="vm.isFieldDisabled">
                            <i class="fa fa-times WebhookCredential-tagDelete"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </span>
</div>
