.at-ToggleButton {
    &, &:focus {
        border-color: @at-gray-light;
        background-color: @at-white;
    }

    &:hover {
        background-color: @at-gray-light-2x;
    }

    & > span:hover {
        border-color: @at-gray-light;
        background-color: inherit;
    }
}

.at-ToggleButton--show {
    &, &:hover, &:focus {
        background-color: @at-blue;
        border-color: @at-blue;
        color: @at-white;
    }
}

.at-ToggleContent-well {
    margin: @at-space-2x 0 0 0;
    padding: @at-space-3x;
    border-radius: @at-border-radius;
    border: 1px solid transparent;
    background-color: @at-gray-light-2x;
    color: @at-gray-dark-2x;
}
