.at-ToggleButton {
    &, &:focus {
        border-color: @at-gray-light;
        background-color: @at-white;
    }

    &:hover {
        background-color: @at-gray-lighter;
    }

    & > span:hover {
        border-color: @at-gray-light;
        background-color: inherit;
    }
}

.at-ToggleButton--show {
    &, &:hover, &:focus {
        background-color: @at-link;
        border-color: @at-link;
        color: @at-white;
    }
}

.at-ToggleContent-well {
    margin: @at-margin-sm 0 0 0;
    padding: @at-padding-md;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: @at-gray-lightest;
    color: @at-gray-dark;
}
