webpack.*.js
Gruntfile.js
karma.*.js

etc
coverage
grunt-tasks
node_modules
po
static
templates
tests
client/**/*.js
test

!client/lib/components/**/*.js
!client/lib/models/**/*.js
!client/lib/services/**/*.js
!client/features/**/*.js
!client/src/app.start.js
