Gruntfile.js
karma.*.js
webpack.*.js
nightwatch.*.js

etc
coverage
grunt-tasks
node_modules
po
static
templates

client/src/**/*.js
client/assets/**/*.js
test/spec/**/*.js

!client/src/app.start.js
!client/src/vendor.js
