<div class="modal fade GroupDelete" id="group-delete-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content Modal-content">
            <div class="Modal-header">
                  <div class="Modal-title ng-binding">
                      <translate>Delete Group</translate>
                      <a href="" id="awp-promote" href=""
                          aw-pop-over="<dl><dt>Delete</dt><dd>Deletes groups and hosts associated with the inventory source being deleted. If a group or host is associated with other inventory sources, it will still exist within those inventory sources. Otherwise, the associated groups and hosts will no longer appear in the inventory.</dd>\n<dt style='margin-top: 5px;'>Promote</dt><dd>Groups and hosts associated with the inventory source being removed will be promoted root level. Note: groups already associated with other inventory sources cannot be promoted.</dd></dl>\n" aw-tool-tip="Click for help"
                          data-placement="right"
                          data-container="body"
                          data-title="Delete Group"
                          class="help-link">
                          <i class="fa fa-question-circle"></i>
                      </a>
                  </div>
                  <div class="Modal-exitHolder">
                      <button class="close Modal-exit" data-target="#group-delete-modal" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times-circle"></i></button>
                  </div>
            </div>
            <div class="Modal-body">
                <div ng-show="toDelete.total_groups > 0 || toDelete.total_hosts > 0">
                    <div>
                        <p class="Prompt-bodyQuery"><translate>Deleting group</translate> <em>{{ toDelete.name }}</em>.
                        <span ng-show="toDelete.total_groups > 0 && toDelete.total_hosts > 0"> <translate>This group contains</translate> {{ toDelete.total_groups }} <translate>groups and</translate> {{ toDelete.total_hosts }} <translate>hosts</translate>. </span>
                        <span ng-show="toDelete.total_groups == 0 && toDelete.total_hosts > 0"> <translate>This group contains</translate> {{ toDelete.total_hosts }} <translate>hosts</translate>. </span>
                        <span ng-show="toDelete.total_groups > 0 && toDelete.total_hosts == 0"> <translate>This group contains</translate> {{ toDelete.total_groups }} <translate>groups</translate>. </span>
                        <translate>Delete or promote the group's children?</translate></p>
                        <div style="margin: 15px auto;">

                            <div class="radio" ng-show="toDelete.total_groups > 0 && toDelete.total_hosts > 0">
                                <label>
                                    <input type="radio" ng-model="deleteOption" value="promote"> <translate>Promote groups and hosts</translate>
                                </label>
                            </div>
                            <div class="radio" ng-show="toDelete.total_groups > 0 && toDelete.total_hosts > 0">
                                <label>
                                    <input type="radio" ng-model="deleteOption" value="delete"> <translate>Delete groups and hosts</translate>
                                </label>
                            </div>

                            <div class="radio" ng-show="toDelete.total_groups > 0 && toDelete.total_hosts == 0">
                                <label>
                                    <input type="radio" ng-model="deleteOption" value="promote"> <translate>Promote groups</translate>
                                </label>
                            </div>
                            <div class="radio" ng-show="toDelete.total_groups > 0 && toDelete.total_hosts == 0">
                                <label>
                                    <input type="radio" ng-model="deleteOption" value="delete"> <translate>Delete groups</translate>
                                </label>
                            </div>

                            <div class="radio" ng-show="toDelete.total_groups == 0 && toDelete.total_hosts > 0">
                                <label>
                                    <input type="radio" ng-model="deleteOption" value="promote"> <translate>Promote hosts</translate>
                                </label>
                            </div>
                            <div class="radio" ng-show="toDelete.total_groups == 0 && toDelete.total_hosts > 0">
                                <label>
                                    <input type="radio" ng-model="deleteOption" value="delete"> <translate>Delete hosts</translate>
                                </label>
                            </div>

                        </div>

                    </div>

                </div>
                <div ng-show="toDelete.total_groups == 0 && toDelete.total_hosts == 0">
                    <div class="Prompt-bodyQuery" translate>Are you sure you want to permanently delete the inventory source below from the inventory?</div>
                    <div class="Prompt-bodyTarget">{{ toDelete.name }}</div>
                </div>
                <div class="Modal-footer">
                  <a href="#" data-target="#group-delete-modal" data-dismiss="modal" id="prompt_cancel_btn_groups_list" class="btn Modal-defaultButton Modal-footerButton" translate>CANCEL</a>
                  <a href="" ng-class="promptActionBtnClass" ng-click="confirmDelete()" id="prompt_action_btn_groups_list" class="btn Modal-footerButton Modal-errorButton" translate>DELETE</a>
              </div>
            </div>
        </div>
    </div>
</div>
