---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: devtest
  namespace: {{ awx_dev_project }}
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  selector:
    matchLabels:
      project: awx
