//
// page layout
//

.pf-l-page__header {
  --pf-l-page__header--MinHeight: 0px;
  display: flex;
  align-items: center;
  height: 60px;
}

.pf-l-page__header-brand {
  display: flex;
  align-self: center;
  height: 60px;
  max-width: 255px;
  padding: 0px;
  margin: 0px;
}

.pf-l-page__header-tools {
  align-self: center;
  height: 60px;
  padding-left: 255px;

  .fa-user:hover {
    // temporary dev logout
    cursor: pointer;
  }
}

.pf-l-page__header-brand-link {
  max-width: 85px;
  align-self: center;
}

.pf-l-page__header-brand-link img {
  transform: scale(1.1, 1.1);
  position: relative;
  top: 6px;
}

.pf-l-page__header-brand-toggle {
  align-self: center;
  position: relative;
  right: 14px;
  --pf-l-page__header-brand-link--MarginLeft: 0px;
  --pf-l-page__header-brand-link--MarginLeft: 0px;

  button {
    --pf-l-page__header-sidebar-toggle--FontSize: 18px;
  }
}

.pf-l-page__sidebar{
  --pf-l-page__sidebar--Width--lg: 255px;

  .pf-c-nav {
    overflow-y: auto;
  
    .pf-c-nav__section {
      --pf-c-nav__section--MarginTop: 8px;
    }
    
    .pf-c-nav__section + .pf-c-nav__section {
      --pf-c-nav__section--MarginTop: 8px;
    }
    
    .pf-c-nav__simple-list .pf-c-nav__link {
      --pf-c-nav__simple-list-link--PaddingLeft: 24px;
      --pf-c-nav__simple-list-link--PaddingBottom: 6px;
      --pf-c-nav__simple-list-link--PaddingTop: 6px;
    }
    
    .pf-c-nav__section-title {
      --pf-c-nav__section-title--PaddingLeft: 24px;
    }

    .pf-c-nav__link {
      display: flex;
      align-items: center;
      padding-right: 64px;
    }
  }
}

.pf-l-page__main-section {
  --pf-l-page__main-section--PaddingTop: 11px;
  --pf-l-page__main-section--PaddingLeft: 11px;
}

//
// toolbar layout
//

.pf-l-toolbar {
  align-self: center;
  height: 60px;
}