//
// masthead overrides
//

.pf-l-page__header-brand {
  max-width: 255px;
}

.pf-l-page__header-brand-link {
  max-width: 85px;
}

.pf-l-page__header-brand-link img {
  transform: scale(1.1, 1.1);
  position: relative;
  top: -4px;
}

//
// sidebar overrides
//

.pf-l-page__sidebar{
  --pf-l-page__sidebar--Width--lg: 255px;

  .pf-c-nav {
    overflow-y: auto;
  
    .pf-c-nav__section {
      --pf-c-nav__section--MarginTop: 8px;
    }
    
    .pf-c-nav__section + .pf-c-nav__section {
      --pf-c-nav__section--MarginTop: 8px;
    }
    
    .pf-c-nav__simple-list .pf-c-nav__link {
      --pf-c-nav__simple-list-link--PaddingLeft: 24px;
      --pf-c-nav__simple-list-link--PaddingBottom: 6px;
      --pf-c-nav__simple-list-link--PaddingTop: 6px;
    }
    
    .pf-c-nav__section-title {
      --pf-c-nav__section-title--PaddingLeft: 24px;
    }

    .pf-c-nav__link {
      display: flex;
      align-items: center;
      padding-right: 64px;
    }
  }
}

//
// page header overrides
//

.pf-l-page__main-section.pf-m-condensed {
  padding-top: 16px;
  padding-bottom: 16px;
}