.link circle, .link .linkCross, .node .addCircle, .node .removeCircle, .node .WorkflowChart-hoverPath {
    opacity: 0;
}

.node .addCircle, .link .addCircle {
    fill: @default-succ;
}

.addCircle.addHovering {
    fill: @default-succ-hov;
}

.node .removeCircle {
    fill: @default-err;
}

.removeCircle.removeHovering {
    fill: @default-err-hov;
}

.node {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif, 'FontAwesome';
}

.WorkflowChart-defaultText {
    fill: @default-interface-txt;
}

.WorkflowChart-startText {
    fill: @default-bg;
    cursor: default;
}

.node .rect {
    fill: @default-secondary-bg;
}

.rect.placeholder {
    stroke-dasharray: 3;
}

.node .transparentRect {
    fill: @default-bg;
    opacity: 0;
}

.WorkflowChart-alwaysShowAdd circle,
.WorkflowChart-alwaysShowAdd path,
.WorkflowChart-alwaysShowAdd .linkCross,
.hovering .addCircle,
.hovering .removeCircle,
.hovering .WorkflowChart-hoverPath,
.hovering .linkCross {
    opacity: 1;
}

.link {
  fill: none;
  stroke-width: 2px;
}

.link.placeholder {
    stroke-dasharray: 3;
}

.WorkflowChart-svg {
    border-bottom-left-radius: 5px;
}

.WorkflowResults-rightSide .WorkflowChart-svg {
    background-color: @f6grey;
    border: 1px solid @d7grey;
    border-top: 0px;
    border-bottom-right-radius: 5px;
}
.WorkflowChart-nodeTypeCircle {
    fill: @default-icon;
}
.WorkflowChart-nodeTypeLetter {
    fill: @default-bg;
}
.workflowChart-nodeStatus--running {
    fill: @default-icon;
}
.workflowChart-nodeStatus--success {
    fill: @default-succ;
}
.workflowChart-nodeStatus--failed {
    fill: @default-err;
}
.WorkflowChart-detailsLink {
    fill: @default-link;
    cursor: pointer;
    font-size: 10px;
}
.WorkflowChart-incompleteIcon {
    color: @default-warning;
}
.WorkflowChart-deletedText {
    width: 90px;
    color: @default-interface-txt;
}
.WorkflowChart-conflictIcon {
    color: @default-err;
}
.WorkflowChart-conflictText {
    width: 90px;
    color: @default-interface-txt;
}
.WorkflowChart-activeNode {
    fill: @default-link;
}
.WorkflowChart-elapsedHolder {
    background-color: @b7grey;
    color: @default-bg;
    height: 13px;
    width: 39px;
    padding: 1px 3px;
    border-radius: 4px;
}
.WorkflowChart-nameText {
    font-size: 10px;
}

.WorkflowChart-tooltipContents {
    padding: 10px;
    background-color: #707070;
    color: #FFFFFF;
    border-radius: 4px;
    word-wrap: break-word;
    max-width: 325px;
}
.WorkflowChart-tooltipArrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #707070;
    margin: auto;
}
.WorkflowChart-dashedNode {
   stroke-dasharray: 5,5;
}
