.WorkflowChart-node {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif, 'FontAwesome';
}

.WorkflowChart-link {
    fill: none;
    stroke-width: 2px;
}

.WorkflowChart-linkOverlay {
    fill: @default-interface-txt;
}

.WorkflowChart-link--active.WorkflowChart-linkOverlay,
.WorkflowChart-linkHovering .WorkflowChart-linkOverlay {
    cursor: pointer;
    opacity: 1;
    fill: @cgrey;
}

.WorkflowChart-linkHovering .WorkflowChart-linkPath {
    cursor: pointer;
}

.WorkflowChart-link circle,
.WorkflowChart-link polygon,
.WorkflowChart-link .WorkflowChart-betweenNodesIcon,
.WorkflowChart-node .WorkflowChart-nodeAddCircle,
.WorkflowChart-node .WorkflowChart-nodeRemoveCircle,
.WorkflowChart-node .WorkflowChart-nodeAddIcon,
.WorkflowChart-node .WorkflowChart-nodeRemoveIcon {
    opacity: 0;
}

.WorkflowChart-node .WorkflowChart-addCircle, .WorkflowChart-link .WorkflowChart-addCircle {
    fill: @default-succ;
}

.WorkflowChart-addCircle.WorkflowChart-addHovering {
    fill: @default-succ-hov;
}

.WorkflowChart-node .WorkflowChart-nodeRemoveCircle {
    fill: @default-err;
}

.WorkflowChart-nodeRemoveCircle.removeHovering {
    fill: @default-err-hov;
}

.WorkflowChart-node .WorkflowChart-rect {
    fill: @default-secondary-bg;
}

.WorkflowChart-rect.WorkflowChart-placeholder {
    stroke-dasharray: 3;
}

.WorkflowChart-node .WorkflowChart-transparentRect {
    fill: @default-bg;
    opacity: 0;
}

.WorkflowChart-alwaysShowAdd circle,
.WorkflowChart-alwaysShowAdd path,
.WorkflowChart-alwaysShowAdd .WorkflowChart-betweenNodesIcon,
.WorkflowChart-nodeHovering .WorkflowChart-nodeAddCircle,
.WorkflowChart-nodeHovering .WorkflowChart-nodeAddIcon,
.WorkflowChart-nodeHovering .WorkflowChart-nodeRemoveCircle,
.WorkflowChart-nodeHovering .WorkflowChart-nodeRemoveIcon,
.WorkflowChart-addHovering circle,
.WorkflowChart-addHovering path,
.WorkflowChart-addHovering .WorkflowChart-betweenNodesIcon {
    cursor: pointer;
    opacity: 1;
}

.WorkflowChart-link.WorkflowChart-placeholder {
    stroke-dasharray: 3;
}

.WorkflowChart-svg {
    border-bottom-left-radius: 5px;
    width: 100%;
}

.WorkflowChart-defaultText {
    fill: @default-interface-txt;
}

.WorkflowChart-startText {
    fill: @default-bg;
    cursor: default;
}

.WorkflowChart-nodeTypeCircle {
    fill: @default-icon;
}

.WorkflowChart-nodeTypeLetter {
    fill: @default-bg;
}

.WorkflowChart-nodeStatus--running {
    fill: @default-icon;
}

.WorkflowChart-nodeStatus--success {
    fill: @default-succ;
}

.WorkflowChart-nodeStatus--failed, .WorkflowChart-nodeStatus--canceled {
    fill: @default-err;
}

.WorkflowChart-detailsLink {
    fill: @default-link;
    cursor: pointer;
    font-size: 10px;
}

.WorkflowChart-incompleteIcon {
    color: @default-warning;
}

.WorkflowChart-deletedText {
    width: 90px;
    color: @default-interface-txt;
}
.WorkflowChart-activeNode {
    fill: @default-link;
}

.WorkflowChart-elapsedHolder {
    background-color: @b7grey;
    color: @default-bg;
    height: 13px;
    width: 39px;
    padding: 1px 3px;
    border-radius: 4px;
}

.WorkflowChart-nameText {
    font-size: 10px;
}

.WorkflowChart-tooltip {
    pointer-events: none;
    text-align: center;
}

.WorkflowChart-tooltipContents {
    padding: 10px;
    background-color: @default-interface-txt;
    color: @default-bg;
    border-radius: 4px;
    word-wrap: break-word;
    max-width: 325px;
    font-size: 10px;
}

.WorkflowChart-tooltipArrow--down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid @default-interface-txt;
    margin: auto;
}

.WorkflowChart-tooltipArrow--right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid @default-interface-txt;
    margin: auto;
    position: relative;
    right: -55px;
    top: -34px;
}

.WorkflowChart-dashedNode {
   stroke-dasharray: 5,5;
}
