<div class="Section-messageBar" ng-if="show_auditor_bar">
    <i class="fa fa-warning"></i>
    <span translate>System auditors have read-only permissions in this section.</span>
    <button aria-label="{{:: appStrings.get('CLOSE') }}" class="Section-messageBar--close" ng-click="vm.closeMessageBar()"><i class="fa fa-times-circle"></i></button>
</div>

<div class="tab-pane" id="configuration-panel">
    <div ng-cloak id="htmlTemplate" class="card at-Panel">
        <div class="Form-header">
            <div class="Form-title Form-title--uppercase" translate>{{ vm.getCurrentFormTitle() }}</div>
        </div>
        <div ui-view="auth" ng-if="vm.activeTab === 'auth'"></div>
        <div ui-view="jobs" ng-if="vm.activeTab === 'jobs'"></div>
        <div ui-view="system" ng-if="vm.activeTab === 'system'"></div>
        <div ui-view="ui" ng-if="vm.activeTab === 'ui'"></div>
        <div ui-view="license" ng-show="vm.product === 'Tower' && vm.activeTab === 'license'"></div>
        <div id="FormModal-dialog"></div>
     </div>
</div>