<div>
    <div class="Form-header">
        <div class="Form-title ng-binding">{{vm.name}}</div>
    </div>
    <div class="form-group copyMove-directive--copyMoveChoices">
        <label class="radio-inline">
            <input type="radio" ng-model="vm.copy_choice" value="copy" class="ng-pristine ng-valid ng-touched" name="199"> Copy
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="vm.copy_choice" value="move" class="ng-pristine ng-untouched ng-valid" name="200"> Move
        </label>
    </div>
    <div id="copyMove-directive--copyHostSelect"></div>
    <div id="copyMove-directive--copyHostPanel"></div>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <div class="ui-dialog-buttonset">
            <button type="button" class="btn btn-primary Form-saveButton" id="Inventory-copyGroup--saveButton" ng-disabled="!vm.allowSave" ng-click="vm.performCopy()">
                Save</button>
            <button type="button" class="btn btn-default Form-cancelButton" id="Inventory-copyGroup--cancelButton" ng-click="vm.cancel()">
                Cancel</button>
        </div>
    </div>
</div>
