<div id="instance-modal" class="modal-dialog">
    <at-panel on-dismiss="^.^">
        <at-panel-heading>
            {{:: vm.strings.get('instance.PANEL_TITLE') }}
        </at-panel-heading>
        <multi-select-preview selected-rows='vm.selectedRows' available-rows='instances'></multi-select-preview>
        <at-panel-body>
            <div class="at-List-toolbar">
                <smart-search
                    class="at-List-search"
                    django-model="instances"
                    base-path="instances"
                    iterator="instance"
                    list="list"
                    dataset="instance_dataset"
                    collection="collection"
                    search-tags="searchTags"
                    query-set="querySet">
                </smart-search>
            </div>
            <at-list results='instances'>
                <at-row ng-repeat="instance in instances"
                    ng-class="{'at-Row--active': (instance.id === vm.activeId)}">

                    <input type="checkbox"
                        class="at-Row-checkbox"
                        ng-model="instance.isSelected"
                        ng-checked="instance.isSelected"
                        ng-attr-tabindex="{{ tab || undefined }}"
                        ng-disabled="state._disabled" />

                    <div class="at-Row-items" style="flex: 1">
                        <at-row-item
                            header-value="{{ instance.hostname }}">
                        </at-row-item>
                    </div>
                </at-row>
            </at-list>
            <div class="at-ActionGroup">
                <div class="pull-right">
                    <button class="btn at-ButtonHollow--default"
                        ng-click="$state.go('^.^')">
                        {{:: vm.strings.get('CANCEL') }}
                    </button>
                    <button class="btn at-Button--success"
                        ng-click="vm.submit()">
                        {{:: vm.strings.get('SAVE') }}
                    </button>
                </div>
            </div>
        </at-panel-body>
    </at-panel>
</div>