---
admin_user: 'admin'
admin_email: 'root@localhost'
admin_password: ''

rabbitmq_user: 'awx'
rabbitmq_password: ''
rabbitmq_erlang_cookie: ''

kubernetes_base_path: "{{ local_base_config_path|default('/tmp') }}/{{ kubernetes_deployment_name }}-config"

kubernetes_task_version: "{{ tower_package_version | default(dockerhub_version) }}"
kubernetes_task_image: "{{ tower_package_name | default(dockerhub_base+'/awx_task') }}"

kubernetes_web_version: "{{ tower_package_version | default(dockerhub_version) }}"
kubernetes_web_image: "{{ tower_package_name | default(dockerhub_base+'/awx_web') }}"

web_mem_request: 1
web_cpu_request: 500

task_mem_request: 2
task_cpu_request: 1500

rabbitmq_mem_request: 2
rabbitmq_cpu_request: 500

memcached_mem_request: 1
memcached_cpu_request: 500

kubernetes_rabbitmq_version: "3.7.4"
kubernetes_rabbitmq_image: "ansible/awx_rabbitmq"

kubernetes_memcached_version: "latest"
kubernetes_memcached_image: "memcached"

openshift_pg_emptydir: no
openshift_pg_pvc_name: postgresql

kubernetes_deployment_name: awx

kubernetes_deployment_replica_size: 1
