---
dockerhub_version: "{{ lookup('file', playbook_dir + '/../VERSION') }}"
create_preload_data: true

admin_user: 'admin'
admin_email: 'root@localhost'
admin_password: ''

kubernetes_base_path: "{{ local_base_config_path|default('/tmp') }}/{{ kubernetes_deployment_name }}-config"

kubernetes_task_version: "{{ tower_package_version | default(dockerhub_version) }}"
kubernetes_task_image: "{{ tower_package_name | default('ansible/awx_task') }}"

kubernetes_web_version: "{{ tower_package_version | default(dockerhub_version) }}"
kubernetes_web_image: "{{ tower_package_name | default('ansible/awx_web') }}"

web_mem_request: 1
web_cpu_request: 500

task_mem_request: 2
task_cpu_request: 1500

redis_mem_request: 2
redis_cpu_request: 500

kubernetes_redis_image: "redis"
kubernetes_redis_image_tag: "latest"
kubernetes_redis_config_mount_path: "/usr/local/etc/redis/redis.conf"

memcached_mem_request: 1
memcached_cpu_request: 500

kubernetes_memcached_version: "latest"
kubernetes_memcached_image: "memcached"

openshift_pg_emptydir: false
openshift_pg_pvc_name: postgresql

kubernetes_deployment_name: awx

kubernetes_deployment_replica_size: 1

postgress_activate_wait: 60

restore_backup_file: "./tower-openshift-backup-latest.tar.gz"

insights_url_base: "https://example.org"
automation_analytics_url: "https://example.org"
insights_agent_mime: "application/example"

custom_venvs_path: "/opt/custom-venvs"
custom_venvs_python: "python2"

ca_trust_bundle: "/etc/pki/tls/certs/ca-bundle.crt"

container_groups_image: "ansible/ansible-runner"

uwsgi_bash: "bash -c"
