<div id="instance-groups-modal" class="Lookup modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header Form-header">
                <div class="Form-title Form-title--uppercase" translate>Select Instance Groups</div>
                <div class="Form-header--fields"></div>
                <div class="Form-exitHolder">
                    <button aria-label="{{'Close'|translate}}" type="button" class="Form-exit" ng-click="cancelForm()">
                        <i class="fa fa-times-circle"></i>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div id="instance-groups-modal-body"> {{ instance_group }} </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="cancelForm()" class="btn btn-default" translate>CANCEL</button>
                <button type="button" ng-click="saveForm()" ng-disabled="!instance_groups || instance_groups.length === 0" class="Lookup-save btn btn-primary" translate>SAVE</button>
            </div>
        </div>
    </div>
</div>
