#jinja2: lstrip_blocks: True
---
services:
  pgbouncer:
    image: mirror.gcr.io/bitnami/pgbouncer:1.24.0
    container_name: tools_pgbouncer_1
    hostname: pgbouncer
    networks:
      - awx
    environment:
      POSTGRESQL_USERNAME: {{ pg_username }}
      POSTGRESQL_DATABASE: {{ pg_database }}
      PGBOUNCER_DATABASE: {{ pg_database }}
      POSTGRESQL_PASSWORD: {{ pg_password }}
      POSTGRESQL_HOST: {{ pg_hostname | default('postgres') }}
      POSTGRESQL_PORT: {{ pg_port }}
      PGBOUNCER_AUTH_TYPE: trust
      PGBOUNCER_PORT: {{ pgbouncer_port }}
      PGBOUNCER_DEFAULT_POOL_SIZE: {{ pgbouncer_max_pool_size }}
      # pg_notify will NOT work in transaction mode
      PGBOUNCER_POOL_MODE: session
