.WorkflowChart-isActiveEdit {
    stroke: red;
}

.nodeConnector circle, .nodeConnector .linkCross, .node .addCircle, .node .removeCircle, .node .WorkflowChart-hoverPath {
    opacity: 0;
}

.node .addCircle, .nodeConnector .addCircle {
    fill: #5CB85C;
}

.addCircle.addHovering {
    fill: #449D44;
}

.node .removeCircle {
    fill: #D9534F;
}

.removeCircle.removeHovering {
    fill: #C9302C;
}

.node .WorkflowChart-defaultText {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    fill: #707070;
}

.node .rect {
    fill: #FCFCFC;
}

.rect.placeholder {
    stroke-dasharray: 3;
}

.node .transparentRect {
    fill: #FFFFFF;
    opacity: 0;
}

.WorkflowChart-alwaysShowAdd circle,
.WorkflowChart-alwaysShowAdd path,
.WorkflowChart-alwaysShowAdd .linkCross,
.hovering .addCircle,
.hovering .removeCircle,
.hovering .WorkflowChart-hoverPath,
.hovering .linkCross {
    opacity: 1;
}

.link {
  fill: none;
  stroke-width: 2px;
}

.link.placeholder {
    stroke-dasharray: 3;
}

.WorkflowChart-svg {
    background-color: #f6f6f6;
}
.WorkflowChart-nodeTypeCircle {
    fill: #848992;
}
.WorkflowChart-nodeTypeLetter {
    fill: #FFFFFF;
}
